<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目流转表列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:projectmanagent:add">
                <i class="fa fa-plus"></i> 添加
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" class="table table-condensed">
                <!--<thead>
                <tr>
                    <th>项目类型</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="javascript:void(0)" onclick="projectType('自投类项目')">自投类项目</a></td>
                </tr>
                <tr>
                    <td><a href="javascript:void(0)" onclick="projectType('服务类项目')">服务类项目</a></td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:projectmanagent:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:projectmanagent:remove')}]];
    var detailFlag = [[${@permission.hasPermi('system:projectmanagent:detail')}]];
    var prefix = ctx + "system/projectmanagent";

    $(function () {
        var options = {
            url: prefix + "/lists",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "项目管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'projectManagementId',
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'projectType',
                    title: '项目类型',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="projectType(\'' + row.projectType + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'investmentAmount',
                    title: '总投资金额',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                },
                {
                    field: 'yzfje',
                    title: '总已支付金额/总目标回现金额',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                },
                {
                    field: 'yhsje',
                    title: '总已回收金额/总已回现',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                }]
        };
        $.table.init(options);
    });

    function projectType(value) {
        var url = "";
        if ("服务类项目" == value) {
            url = prefix + '/selectSysProjectmanagentListByProjectType/' + value;
        } else if ("自投类项目" == value) {
            url = prefix + '/selectSysProjectmanagentListByProjectTypes/' + value;
        }
        $.modal.openTab(value + "列表", url);
    }

</script>
</body>
</html>