<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目法律信息列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <input type="hidden" name="projectId" id="projectId" th:value="*{projectId}"/>
                        <input type="hidden" name="projectType" id="projectType" th:value="*{projectType}"/>
                        <input name="projectStatus" id="projectStatus" type="hidden" th:value="*{projectStatus}"/>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="system:monomerLaw:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:monomerLaw:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:monomerLaw:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-info" onclick="back()" shiro:hasPermission="system:bgczzck:list">
                <i class="fa fa-backward"></i> 返回
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:monomerLaw:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:monomerLaw:remove')}]];
    var prefix = ctx + "system/monomerLaw";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "项目法律信息",
            columns: [{
                checkbox: true
            },
                {
                    field: 'monomerLawId',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'projectName',
                    title: '项目名称'
                },
                {
                    title: '司法情况',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.monomerLawId + "',\'" + 1 + '\')">司法情况详细</a>';
                    }
                },
                {
                    title: '诉讼及执行进展',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.monomerLawId + "',\'" + 2 + '\')">诉讼及执行进展详细</a>';
                    }
                }]
        };
        $.table.init(options);
    });

    function detail(id, index) {
        var url = prefix + '/detail?monomerLawId=' + id + "&detailType=" + index;
        var title = "";
        if (1 == index) {
            title = "司法情况详细";
        } else if (2 == index) {
            title = "诉讼及执行进展详细";
        }
        $.modal.parentTab(title, url);
    }

    function add() {
        var projectId = $("#projectId").val();
        var projectType = $("#projectType").val();
        $.modal.open("添加" + table.options.modalName, prefix + "/add?projectId=" + projectId + "&projectType=" + projectType);
    }

    function back() {
        var projectStatus = $("#projectStatus").val();
        var url = ctx + 'system/bgczzck/selectByProjectStatus/' + projectStatus;
        $.modal.parentTab(projectStatus + "列表", decodeURI(url));
    }
</script>
</body>
</html>