<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysCustomerMapper">

    <resultMap type="SysCustomer" id="SysCustomerResult">
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="affiliation" column="affiliation"/>
        <result property="contacts" column="contacts"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="duties" column="duties"/>
        <result property="contactAddress" column="contact_address"/>
        <result property="resources" column="resources"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="wechatFlag" column="weChat_flag"/>
        <result property="reason" column="reason"/>
        <result property="weChatNumber" column="we_chat_number"/>
        <result property="creator" column="creator"/>
        <result property="reviser" column="reviser"/>
        <result property="agentId" column="agent_id"/>
        <result property="agent" column="agent"/>
        <result property="customerLable" column="customer_lable"/>
        <result property="shareUserId" column="user_id"/>
        <result property="shareUserName" column="share_user_name"/>
        <result property="remarks" column="remarks"/>
        <result property="deptType" column="dept_type"/>
    </resultMap>

    <sql id="selectSysCustomerVo">
        select customer_id, customer_name, affiliation, contacts, contact_number, duties,
        contact_address, resources, province, city, county, del_flag, create_by, create_time, update_by, update_time, dept_id, dept_name,
        weChat_flag,reason, we_chat_number,creator,reviser,agent_id,agent,customer_lable,user_id, share_user_name,remarks,dept_type from sys_customer
    </sql>

    <select id="selectSysCustomerList" parameterType="SysCustomer" resultMap="SysCustomerResult">
        <include refid="selectSysCustomerVo"/>
        t2
        where del_flag = '0'
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        <!--<if test="deptIds != null and deptIds.length > 0">
            or dept_id in
            <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>-->
        <if test="customerName != null  and customerName != ''">and customer_name like concat('%', #{customerName},
            '%')
        </if>
        <if test="contacts != null  and contacts != ''">and contacts like concat('%',#{contacts}, '%')</if>
        <if test="contactNumber != null  and contactNumber != ''">and contact_number like concat('%',
            #{contactNumber}, '%')
        </if>
        <if test="province != null  and province != ''">and province = #{province}</if>
        <if test="city != null  and city != ''">and city = #{city}</if>
        <if test="county != null  and county != ''">and county = #{county}</if>
        <!--<if test="deptId != null  and deptId != ''">
            and t2.dept_id = #{deptId}
        </if>-->
        <if test="deptName != null  and deptName != ''">and dept_name like concat('%',#{deptName}, '%')</if>
        <if test="wechatFlag != null  and wechatFlag != ''">and weChat_flag = #{wechatFlag}</if>
        <if test="reason != null  and reason != ''">and reason like concat('%', #{reason}, '%')</if>
        <if test="weChatNumber != null  and weChatNumber != ''">and we_chat_number like
            concat('%',#{weChatNumber}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="creator != null  and creator != ''">and creator like concat('%', #{creator}, '%')</if>
        <if test="reviser != null  and reviser != ''">and reviser like concat('%', #{reviser}, '%')</if>
        <if test="agent != null  and agent != ''">and agent like concat('%', #{agent}, '%')</if>
        <if test="customerLable != null  and customerLable != ''">and customer_lable like concat('%',
            #{customerLable}, '%')
        </if>
        <if test="shareUserName != null  and shareUserName != ''">and share_user_name like
            concat('%',#{shareUserName}, '%')
        </if>
        <if test="customerIds !=null and customerIds.length > 0">
            and customer_id in
            <foreach collection="customerIds" item="customerId" open="(" separator="," close=")">
                #{customerId}
            </foreach>
        </if>
    </select>

    <select id="selectSysCustomerById" parameterType="Long" resultMap="SysCustomerResult">
        <include refid="selectSysCustomerVo"/>
        where customer_id = #{customerId} and del_flag = '0'
    </select>

    <insert id="insertSysCustomer" parameterType="SysCustomer" useGeneratedKeys="true" keyProperty="customerId">
        insert into sys_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerName != null">customer_name,</if>
            <if test="affiliation != null">affiliation,</if>
            <if test="contacts != null">contacts,</if>
            <if test="contactNumber != null">contact_number,</if>
            <if test="duties != null">duties,</if>
            <if test="contactAddress != null">contact_address,</if>
            <if test="resources != null">resources,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="county != null">county,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="wechatFlag != null">weChat_flag,</if>
            <if test="reason != null">reason,</if>
            <if test="weChatNumber != null">we_chat_number,</if>
            <if test="creator != null">creator,</if>
            <if test="reviser != null">reviser,</if>
            <if test="agentId != null">agent_id,</if>
            <if test="agent != null">agent,</if>
            <if test="customerLable != null">customer_lable,</if>
            <if test="shareUserId != null">user_id,</if>
            <if test="shareUserName != null">share_user_name,</if>
            <if test="remarks != null">remarks,</if>
            <if test="deptType !=null">dept_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerName != null">#{customerName},</if>
            <if test="affiliation != null">#{affiliation},</if>
            <if test="contacts != null">#{contacts},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
            <if test="duties != null">#{duties},</if>
            <if test="contactAddress != null">#{contactAddress},</if>
            <if test="resources != null">#{resources},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="county != null">#{county},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="wechatFlag != null">#{wechatFlag},</if>
            <if test="reason != null">#{reason},</if>
            <if test="weChatNumber != null">#{weChatNumber},</if>
            <if test="creator != null">#{creator},</if>
            <if test="reviser != null">#{reviser},</if>
            <if test="agentId != null">#{agentId},</if>
            <if test="agent != null">#{agent},</if>
            <if test="customerLable != null">#{customerLable},</if>
            <if test="shareUserId != null">#{shareUserId},</if>
            <if test="shareUserName != null">#{shareUserName},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="deptType !=null">#{deptType},</if>
        </trim>
    </insert>

    <update id="updateSysCustomer" parameterType="SysCustomer">
        update sys_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="affiliation != null">affiliation = #{affiliation},</if>
            <if test="contacts != null">contacts = #{contacts},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
            <if test="duties != null">duties = #{duties},</if>
            <if test="contactAddress != null">contact_address = #{contactAddress},</if>
            <if test="resources != null">resources = #{resources},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="county != null">county = #{county},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="wechatFlag != null">weChat_flag = #{wechatFlag},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="weChatNumber != null">we_chat_number = #{weChatNumber},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="reviser != null">reviser = #{reviser},</if>
            <if test="agent != null">agent = #{agent},</if>
            <if test="agentId != null">agent_id = #{agentId},</if>
            <if test="customerLable != null">customer_lable = #{customerLable},</if>
            <if test="shareUserId != null">user_id = #{shareUserId},</if>
            <if test="shareUserName != null">share_user_name = #{shareUserName},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="deptType !=null">dept_type = #{deptType},</if>
        </trim>
        where customer_id = #{customerId}
    </update>

    <delete id="deleteSysCustomerById" parameterType="Long">
        update sys_customer set del_flag = '2' where customer_id = #{customerId}
    </delete>

    <delete id="deleteSysCustomerByIds" parameterType="String">
        update sys_customer set del_flag = '2' where customer_id in
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>

    <select id="checkPhoneUnique" parameterType="SysCustomer" resultMap="SysCustomerResult">
        select customer_id, contact_number from sys_customer where contact_number like concat('%', #{contactNumber},
        '%') and del_flag = '0'
        <if test="customerId !=null">
            and customer_id =#{customerId}
        </if>
        <if test="deptIds != null and deptIds.length > 0">
            and dept_id in
            <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
    </select>

    <select id="checkWeChatNumberUnique" parameterType="SysCustomer" resultMap="SysCustomerResult">
        select customer_id, we_chat_number from sys_customer where we_chat_number=#{weChatNumber} and del_flag = '0'
        <if test="deptIds != null and deptIds.length > 0">
            and dept_id in
            <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
    </select>

    <select id="queryAll" parameterType="SysCustomer" resultMap="SysCustomerResult">
        <include refid="selectSysCustomerVo"/>
        t1
        <where>
            t1.del_flag = '0'
            <if test="customerName != null  and customerName != ''">and t1.customer_name like concat('%',
                #{customerName},'%')
            </if>
            <if test="affiliation != null  and affiliation != ''">and t1.affiliation = #{affiliation}</if>
            <if test="contacts != null  and contacts != ''">and t1.contacts like concat('%',#{contacts}, '%')</if>
            <if test="contactNumber != null  and contactNumber != ''">and t1.contact_number like concat('%',
                #{contactNumber}, '%')
            </if>
            <if test="duties != null  and duties != ''">and t1.duties = #{duties}</if>
            <if test="contactAddress != null  and contactAddress != ''">and t1.contact_address = #{contactAddress}</if>
            <if test="resources != null  and resources != ''">and t1.resources = #{resources}</if>
            <if test="province != null  and province != ''">and t1.province = #{province}</if>
            <if test="city != null  and city != ''">and t1.city = #{city}</if>
            <if test="county != null  and county != ''">and t1.county = #{county}</if>
            <if test="deptName != null  and deptName != ''">and t1.dept_name like concat('%',#{deptName}, '%')</if>
            <if test="wechatFlag != null  and wechatFlag != ''">and t1.weChat_flag = #{wechatFlag}</if>
            <if test="reason != null  and reason != ''">and t1.reason like concat('%', #{reason, '%')</if>
            <if test="createBy != null">and t1.create_by = #{createBy}</if>
            <if test="weChatNumber != null  and weChatNumber != ''">and t1.we_chat_number like
                concat('%',#{weChatNumber}, '%')
            </if>
            <!--<if test="customerLable != null  and customerLable != ''">and t2.customer_lable = #{customerLable}</if>-->
            <!--<if test="customerLables != null and customerLables.length > 0">
                AND t2.customer_lable in
                <foreach collection="customerLables" item="customerLable" open="(" separator="," close=")">
                    #{customerLable}
                </foreach>
            </if>-->
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(t1.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(t1.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="creator != null  and creator != ''">and t1.creator like concat('%', #{creator}, '%')</if>
            <if test="reviser != null  and reviser != ''">and t1.reviser like concat('%', #{reviser}, '%')</if>
            <if test="deptId != null ">and t1.dept_id = #{deptId}</if>
            <if test="deptIds != null and deptIds.length > 0">
                AND t1.dept_id in
                <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
            </if>
            <if test="agent != null  and agent != ''">and t1.agent like concat('%', #{agent}, '%')</if>
            <if test="customerLable != null  and customerLable != ''">and t1.customer_lable like concat('%',
                #{customerLable}, '%')
            </if>
            <if test="createBy != null and createBy != ''">
                AND create_by like concat('%', #{createBy}, '%')
            </if>
        </where>
        GROUP BY customer_id
    </select>

    <select id="selectSysCustomerByCity" parameterType="SysCustomer" resultMap="SysCustomerResult">
        SELECT COUNT(customer_id) as cityCount,city FROM sys_customer WHERE del_flag = '0'
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY city ORDER BY cityCount asc
    </select>

    <select id="selectSysCustomerByCustomerLable" parameterType="SysCustomer" resultMap="SysCustomerResult">
        SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(t1.customer_lable,',',t2. help_topic_id+1),',',-1) AS shareholder
        ,count(*) AS customerLableCount FROM lxztest.sys_customer t1 JOIN mysql.help_topic t2
        on t2. help_topic_id &lt;LENGTH(t1.customer_lable)-LENGTH(REPLACE(t1.customer_lable,',',''))+1 WHERE
        t1.del_flag='0' AND customer_lable !=''
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="deptName != null  and deptName != ''">and t1.dept_name like concat('%',#{deptName}, '%')</if>
        GROUP BY shareholder ORDER BY customerLableCount desc
    </select>

    <select id="selectSysCustomerByDeptType" parameterType="SysCustomer" resultMap="SysCustomerResult">
        SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(t1.dept_type,',',t2. help_topic_id+1),',',-1) AS dept_type
        ,count(*) AS customerLableCount FROM lxztest.sys_customer t1 JOIN mysql.help_topic t2
        on t2. help_topic_id &lt; LENGTH(t1.dept_type)-LENGTH(REPLACE(t1.dept_type,',',''))+1 WHERE
        t1.del_flag='0'
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY dept_type ORDER BY customerLableCount desc;
    </select>

    <select id="selectSysCustomerByDeptId" parameterType="SysCustomer" resultMap="SysCustomerResult">
        SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(t1.dept_name,',',t2. help_topic_id+1),',',-1) AS dept_name
        ,count(*) AS customerLableCount,GROUP_CONCAT(customer_lable) AS customerLable,dept_type FROM
        lxztest.sys_customer t1 JOIN mysql.help_topic t2
        on t2. help_topic_id &lt; LENGTH(t1.dept_name)-LENGTH(REPLACE(t1.dept_name,',',''))+1 WHERE
        t1.del_flag='0'
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="deptType !=null">
            and dept_type =#{deptType}
        </if>
        GROUP BY dept_name ORDER BY customerLableCount desc;
    </select>


</mapper>