<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysJudicialMapper">

    <resultMap type="SysJudicial" id="SysJudicialResult">
        <result property="id" column="id"/>
        <result property="owner" column="owner"/>
        <result property="auctionsType" column="auctions_Type"/>
        <result property="websiteLinks" column="website_links"/>
        <result property="startPrice" column="start_price"/>
        <result property="appraisalPrice" column="appraisal_price"/>
        <result property="finalPrice" column="final_price"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="status" column="status"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="itemId" column="item_id"/>
        <result property="title" column="title"/>
    </resultMap>

    <sql id="selectSysJudicialVo">
        select id, owner, auctions_Type, website_links, start_price, appraisal_price,
        final_price, start_time, end_time, status, province, city, county, item_id,title from sys_judicial
    </sql>

    <select id="selectSysJudicialList" parameterType="SysJudicial" resultMap="SysJudicialResult">
        <include refid="selectSysJudicialVo"/>
        <where>
            <if test="owner != null  and owner != ''">and owner like concat('%',#{owner}, '%')</if>
            <if test="title != null  and title != ''">and title like concat('%',#{title}, '%')</if>
            <if test="auctionsType != null  and auctionsType != ''">and auctions_Type = #{auctionsType}</if>
            <if test="websiteLinks != null  and websiteLinks != ''">and website_links = #{websiteLinks}</if>
            <if test="startPrice != null  and startPrice != ''">and start_price = #{startPrice}</if>
            <if test="appraisalPrice != null  and appraisalPrice != ''">and appraisal_price = #{appraisalPrice}</if>
            <if test="finalPrice != null  and finalPrice != ''">and final_price = #{finalPrice}</if>
            <if test="startTime != null ">and start_time = #{startTime}</if>
            <if test="endTime != null ">and end_time = #{endTime}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="province != null  and province != ''">and province = #{province}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="county != null  and county != ''">and county = #{county}</if>
            <if test="itemId != null  and itemId != ''">and item_id = #{itemId}</if>
        </where>
    </select>

    <select id="selectSysJudicialById" parameterType="Long" resultMap="SysJudicialResult">
        <include refid="selectSysJudicialVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysJudicial" parameterType="SysJudicial" useGeneratedKeys="true" keyProperty="id">
        insert into sys_judicial
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="owner != null">owner,</if>
            <if test="auctionsType != null">auctions_Type,</if>
            <if test="websiteLinks != null">website_links,</if>
            <if test="startPrice != null">start_price,</if>
            <if test="appraisalPrice != null">appraisal_price,</if>
            <if test="finalPrice != null">final_price,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="county != null">county,</if>
            <if test="itemId != null">item_id,</if>
            <if test="title != null">title,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="owner != null">#{owner},</if>
            <if test="auctionsType != null">#{auctionsType},</if>
            <if test="websiteLinks != null">#{websiteLinks},</if>
            <if test="startPrice != null">#{startPrice},</if>
            <if test="appraisalPrice != null">#{appraisalPrice},</if>
            <if test="finalPrice != null">#{finalPrice},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="county != null">#{county},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="title != null">#{title},</if>
        </trim>
    </insert>

    <update id="updateSysJudicial" parameterType="SysJudicial">
        update sys_judicial
        <trim prefix="SET" suffixOverrides=",">
            <if test="owner != null">owner = #{owner},</if>
            <if test="auctionsType != null">auctions_Type = #{auctionsType},</if>
            <if test="websiteLinks != null">website_links = #{websiteLinks},</if>
            <if test="startPrice != null">start_price = #{startPrice},</if>
            <if test="appraisalPrice != null">appraisal_price = #{appraisalPrice},</if>
            <if test="finalPrice != null">final_price = #{finalPrice},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="county != null">county = #{county},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="title != null">title = #{title},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysJudicialById" parameterType="Long">
        delete from sys_judicial where id = #{id}
    </delete>

    <delete id="deleteSysJudicialByIds" parameterType="String">
        delete from sys_judicial where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>