<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysJournalMapper">

    <resultMap type="SysJournal" id="SysJournalResult">
        <result property="id" column="id"/>
        <result property="depId" column="dep_id"/>
        <result property="proId" column="pro_id"/>
        <result property="workDetail" column="work_detail"/>
        <result property="shared" column="shared"/>
        <result property="modularOrder" column="modular_order"/>
        <result property="remarks1" column="remarks1"/>
        <result property="remarks2" column="remarks2"/>
        <result property="remarks3" column="remarks3"/>
        <result property="createBy" column="create_by"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="reviser" column="reviser"/>
        <result property="updateTime" column="update_time"/>
        <result property="deptName" column="dept_name"/>
        <result property="userName" column="user_name"/>
        <result property="projectName" column="project_Name"/>
    </resultMap>

    <sql id="selectSysJournalVo">
        select id,
               dep_id,
               pro_id,
               work_detail,
               shared,
               modular_order,
               remarks1,
               remarks2,
               remarks3,
               create_by,
               creator,
               create_time,
               update_by,
               reviser,
               update_time
        from sys_journal
    </sql>

    <select id="selectSysJournalList" parameterType="SysJournal" resultMap="SysJournalResult">
        SELECT
        a.id,
        pro.project_name,
        b.user_name,
        a.dep_id,
        a.pro_id,
        c.dept_name,
        a.work_detail,
        a.shared,
        a.modular_order,
        a.remarks1,
        a.remarks2,
        a.remarks3,
        a.create_by,
        a.creator,
        a.create_time,
        a.update_by,
        a.reviser,
        a.update_time
        FROM
        sys_journal a
        LEFT JOIN sys_project pro on a.pro_id= pro.project_id
        LEFT JOIN sys_user b ON a.create_by = b.login_name
        LEFT JOIN sys_dept c ON b.dept_id = c.dept_id
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="createTime != null  and createTime != ''">
                and date_format(a.create_time,'%Y%m%d') = date_format(#{createTime},'%Y%m%d')
            </if>
            <if test="projectName != null  and projectName != ''">and pro.project_name like concat('%',
                #{projectName}, '%')
            </if>
            <if test="deptName != null  and deptName != ''">and c.dept_name like concat('%',
                #{deptName}, '%')
            </if>
            <if test="depId != null  and depId != ''">and a.dep_id = #{depId}</if>
            <if test="proId != null  and proId != ''">and a.pro_id = #{proId}</if>
            <if test="createBy != null  and createBy != ''">and a.create_by = #{createBy}</if>
            <if test="workDetail != null  and workDetail != ''">and a.work_detail = #{workDetail}</if>
            <if test="shared != null  and shared != ''">and a.shared = #{shared}</if>
            <if test="modularOrder != null ">and a.modular_order = #{modularOrder}</if>
            <if test="remarks1 != null  and remarks1 != ''">and a.remarks1 = #{remarks1}</if>
            <if test="remarks2 != null  and remarks2 != ''">and a.remarks2 = #{remarks2}</if>
            <if test="remarks3 != null  and remarks3 != ''">and a.remarks3 = #{remarks3}</if>
            <if test="creator != null  and creator != ''">and a.creator = #{creator}</if>
            <if test="reviser != null  and reviser != ''">and a.reviser = #{reviser}</if>
            <if test="formalFlag !=null and formalFlag !=''">and b.formal_flag = #{formalFlag}</if>
        </where>
        order by a.create_time DESC
    </select>

    <select id="selectSysJournalById" parameterType="Long" resultMap="SysJournalResult">
        <include refid="selectSysJournalVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysJournal" parameterType="SysJournal" useGeneratedKeys="true" keyProperty="id">
        insert into sys_journal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="depId != null">dep_id,</if>
            <if test="proId != null">pro_id,</if>
            <if test="workDetail != null">work_detail,</if>
            <if test="shared != null">shared,</if>
            <if test="modularOrder != null">modular_order,</if>
            <if test="remarks1 != null">remarks1,</if>
            <if test="remarks2 != null">remarks2,</if>
            <if test="remarks3 != null">remarks3,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="reviser != null">reviser,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="depId != null">#{depId},</if>
            <if test="proId != null">#{proId},</if>
            <if test="workDetail != null">#{workDetail},</if>
            <if test="shared != null">#{shared},</if>
            <if test="modularOrder != null">#{modularOrder},</if>
            <if test="remarks1 != null">#{remarks1},</if>
            <if test="remarks2 != null">#{remarks2},</if>
            <if test="remarks3 != null">#{remarks3},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="reviser != null">#{reviser},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysJournal" parameterType="SysJournal">
        update sys_journal
        <trim prefix="SET" suffixOverrides=",">
            <if test="depId != null">dep_id = #{depId},</if>
            <if test="proId != null">pro_id = #{proId},</if>
            <if test="workDetail != null">work_detail = #{workDetail},</if>
            <if test="shared != null">shared = #{shared},</if>
            <if test="modularOrder != null">modular_order = #{modularOrder},</if>
            <if test="remarks1 != null">remarks1 = #{remarks1},</if>
            <if test="remarks2 != null">remarks2 = #{remarks2},</if>
            <if test="remarks3 != null">remarks3 = #{remarks3},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="reviser != null">reviser = #{reviser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysJournalById" parameterType="Long">
        delete
        from sys_journal
        where id = #{id}
    </delete>

    <delete id="deleteSysJournalByIds" parameterType="String">
        delete from sys_journal where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSysJournalForCreate" parameterType="SysJournal" resultMap="SysJournalResult">
        SELECT user_id,user_name,dept_id
        FROM sys_user
        WHERE login_name not IN (select create_by
        from sys_journal
        <where>
            <if test="selectTime != null">
                AND date_format(create_time,'%Y%m%d') = date_format(#{selectTime},'%Y%m%d')
            </if>
        </where>
        GROUP BY create_by)
        AND `status` = '0'
        and formal_flag = '0'
        AND del_flag = '0'
    </select>

</mapper>