<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysJournalMapper">
    
    <resultMap type="SysJournal" id="SysJournalResult">
        <result property="id"    column="id"    />
        <result property="depId"    column="dep_id"    />
        <result property="proId"    column="pro_id"    />
        <result property="workDetail"    column="work_detail"    />
        <result property="shared"    column="shared"    />
        <result property="modularOrder"    column="modular_order"    />
        <result property="remarks1"    column="remarks1"    />
        <result property="remarks2"    column="remarks2"    />
        <result property="remarks3"    column="remarks3"    />
        <result property="createBy"    column="create_by"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="reviser"    column="reviser"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysJournalVo">
        select id, dep_id, pro_id, work_detail, shared, modular_order, remarks1, remarks2, remarks3, create_by, creator, create_time, update_by, reviser, update_time from sys_journal
    </sql>

    <select id="selectSysJournalList" parameterType="SysJournal" resultMap="SysJournalResult">
        <include refid="selectSysJournalVo"/>
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="createTime != null  and createTime != ''">
                and date_format(create_time,'%Y%m%d') = date_format(#{createTime},'%Y%m%d')
            </if>
            <if test="depId != null  and depId != ''"> and dep_id = #{depId}</if>
            <if test="proId != null  and proId != ''"> and pro_id = #{proId}</if>
            <if test="workDetail != null  and workDetail != ''"> and work_detail = #{workDetail}</if>
            <if test="shared != null  and shared != ''"> and shared = #{shared}</if>
            <if test="modularOrder != null "> and modular_order = #{modularOrder}</if>
            <if test="remarks1 != null  and remarks1 != ''"> and remarks1 = #{remarks1}</if>
            <if test="remarks2 != null  and remarks2 != ''"> and remarks2 = #{remarks2}</if>
            <if test="remarks3 != null  and remarks3 != ''"> and remarks3 = #{remarks3}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="reviser != null  and reviser != ''"> and reviser = #{reviser}</if>
        </where>
    </select>
    
    <select id="selectSysJournalById" parameterType="Long" resultMap="SysJournalResult">
        <include refid="selectSysJournalVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysJournal" parameterType="SysJournal" useGeneratedKeys="true" keyProperty="id">
        insert into sys_journal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="depId != null">dep_id,</if>
            <if test="proId != null">pro_id,</if>
            <if test="workDetail != null">work_detail,</if>
            <if test="shared != null">shared,</if>
            <if test="modularOrder != null">modular_order,</if>
            <if test="remarks1 != null">remarks1,</if>
            <if test="remarks2 != null">remarks2,</if>
            <if test="remarks3 != null">remarks3,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="reviser != null">reviser,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="depId != null">#{depId},</if>
            <if test="proId != null">#{proId},</if>
            <if test="workDetail != null">#{workDetail},</if>
            <if test="shared != null">#{shared},</if>
            <if test="modularOrder != null">#{modularOrder},</if>
            <if test="remarks1 != null">#{remarks1},</if>
            <if test="remarks2 != null">#{remarks2},</if>
            <if test="remarks3 != null">#{remarks3},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="reviser != null">#{reviser},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysJournal" parameterType="SysJournal">
        update sys_journal
        <trim prefix="SET" suffixOverrides=",">
            <if test="depId != null">dep_id = #{depId},</if>
            <if test="proId != null">pro_id = #{proId},</if>
            <if test="workDetail != null">work_detail = #{workDetail},</if>
            <if test="shared != null">shared = #{shared},</if>
            <if test="modularOrder != null">modular_order = #{modularOrder},</if>
            <if test="remarks1 != null">remarks1 = #{remarks1},</if>
            <if test="remarks2 != null">remarks2 = #{remarks2},</if>
            <if test="remarks3 != null">remarks3 = #{remarks3},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="reviser != null">reviser = #{reviser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysJournalById" parameterType="Long">
        delete from sys_journal where id = #{id}
    </delete>

    <delete id="deleteSysJournalByIds" parameterType="String">
        delete from sys_journal where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>