<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysMemorandumMapper">

    <resultMap type="SysMemorandum" id="SysMemorandumResult">
        <result property="memorandumId" column="memorandum_id"/>
        <result property="matter" column="matter"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSysMemorandumVo">
        select memorandum_id, matter, start_time, end_time, create_by, create_time, update_by, update_time from sys_memorandum
    </sql>

    <select id="selectSysMemorandumList" parameterType="SysMemorandum" resultMap="SysMemorandumResult">
        <include refid="selectSysMemorandumVo"/>
        <where>
            <if test="matter != null  and matter != ''">and matter = #{matter}</if>
            <if test="startTime != null ">and start_time = #{startTime}</if>
            <if test="endTime != null ">and end_time = #{endTime}</if>
        </where>
    </select>

    <select id="selectSysMemorandumById" parameterType="Long" resultMap="SysMemorandumResult">
        <include refid="selectSysMemorandumVo"/>
        where memorandum_id = #{memorandumId}
    </select>

    <insert id="insertSysMemorandum" parameterType="SysMemorandum" useGeneratedKeys="true" keyProperty="memorandumId">
        insert into sys_memorandum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="matter != null">matter,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="matter != null">#{matter},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysMemorandum" parameterType="SysMemorandum">
        update sys_memorandum
        <trim prefix="SET" suffixOverrides=",">
            <if test="matter != null">matter = #{matter},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where memorandum_id = #{memorandumId}
    </update>

    <delete id="deleteSysMemorandumById" parameterType="Long">
        delete from sys_memorandum where memorandum_id = #{memorandumId}
    </delete>

    <delete id="deleteSysMemorandumByIds" parameterType="String">
        delete from sys_memorandum where memorandum_id in
        <foreach item="memorandumId" collection="array" open="(" separator="," close=")">
            #{memorandumId}
        </foreach>
    </delete>

</mapper>