<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysProjectProgressMapper">

    <resultMap type="SysProjectProgress" id="SysProjectProgressResult">
        <result property="progressId" column="progress_id"/>
        <result property="projectManagementId" column="project_management_id"/>
        <result property="progress" column="progress"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="project" column="project"/>
    </resultMap>

    <sql id="selectSysProjectProgressVo">
        select progress_id, project_management_id, progress, del_flag, create_by, create_time, update_by, update_time,project from sys_project_progress
    </sql>

    <select id="selectSysProjectProgressList" parameterType="SysProjectProgress" resultMap="SysProjectProgressResult">
        <include refid="selectSysProjectProgressVo"/>
        <where>
            del_flag = '0'
            <if test="projectManagementId != null ">and project_management_id = #{projectManagementId}</if>
            <if test="progress != null  and progress != ''">and progress = #{progress}</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectSysProjectProgressById" parameterType="Long" resultMap="SysProjectProgressResult">
        <include refid="selectSysProjectProgressVo"/>
        where progress_id = #{progressId} and  del_flag = '0' ORDER BY create_time DESC
    </select>

    <insert id="insertSysProjectProgress" parameterType="SysProjectProgress" useGeneratedKeys="true"
            keyProperty="progressId">
        insert into sys_project_progress
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectManagementId != null">project_management_id,</if>
            <if test="progress != null">progress,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="project != null">project,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectManagementId != null">#{projectManagementId},</if>
            <if test="progress != null">#{progress},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="project !=null">#{project},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysProjectProgress" parameterType="SysProjectProgress">
        update sys_project_progress
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectManagementId != null">project_management_id = #{projectManagementId},</if>
            <if test="progress != null">progress = #{progress},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where progress_id = #{progressId}
    </update>

    <delete id="deleteSysProjectProgressById" parameterType="Long">
        update sys_project_progress set del_flag='2' where progress_id = #{progressId}
    </delete>

    <delete id="deleteSysProjectProgressByIds" parameterType="String">
         update sys_project_progress set del_flag='2' where progress_id in
        <foreach item="progressId" collection="array" open="(" separator="," close=")">
            #{progressId}
        </foreach>
    </delete>

</mapper>