<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysProjectZckMapper">

    <resultMap type="SysProjectZck" id="SysProjectZckResult">
        <result property="projectZckId" column="project_zck_id"/>
        <result property="zckName" column="zck_name"/>
        <result property="zckStatus" column="zck_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="fwProjectType" column="fw_project_type"/>
    </resultMap>

    <sql id="selectSysProjectZckVo">
        select project_zck_id, zck_name, zck_status, del_flag, create_by, create_time, update_by, update_time,start_time,end_time, fw_project_type from sys_project_zck
    </sql>

    <select id="selectSysProjectZckList" parameterType="SysProjectZck" resultMap="SysProjectZckResult">
        <include refid="selectSysProjectZckVo"/>
        <where>
            del_flag = '0'
            <if test="zckName != null  and zckName != ''">and zck_name like concat('%', #{zckName}, '%')</if>
            <if test="zckStatus != null  and zckStatus != ''">and zck_status = #{zckStatus}</if>
            <if test="fwProjectType != null  and fwProjectType != ''">and fw_project_type = #{fwProjectType}</if>
        </where>
    </select>

    <select id="selectSysProjectZckById" parameterType="Long" resultMap="SysProjectZckResult">
        <include refid="selectSysProjectZckVo"/>
        where project_zck_id = #{projectZckId} and del_flag='0'
    </select>

    <insert id="insertSysProjectZck" parameterType="SysProjectZck" useGeneratedKeys="true" keyProperty="projectZckId">
        insert into sys_project_zck
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zckName != null">zck_name,</if>
            <if test="zckStatus != null">zck_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="startTime !=null">start_time,</if>
            <if test="endTime !=null">end_time,</if>
            <if test="fwProjectType != null">fw_project_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zckName != null">#{zckName},</if>
            <if test="zckStatus != null">#{zckStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="startTime !=null">#{startTime},</if>
            <if test="endTime !=null">#{endTime},</if>
            <if test="fwProjectType != null">#{fwProjectType},</if>
        </trim>
    </insert>

    <update id="updateSysProjectZck" parameterType="SysProjectZck">
        update sys_project_zck
        <trim prefix="SET" suffixOverrides=",">
            <if test="zckName != null">zck_name = #{zckName},</if>
            <if test="zckStatus != null">zck_status = #{zckStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="startTime !=null">start_time = #{startTime},</if>
            <if test="endTime !=null">end_time = #{endTime},</if>
            <if test="fwProjectType != null">fw_project_type = #{fwProjectType},</if>
        </trim>
        where project_zck_id = #{projectZckId}
    </update>

    <delete id="deleteSysProjectZckById" parameterType="Long">
        update sys_project_zck set del_flag = '2' where project_zck_id = #{projectZckId}
    </delete>

    <delete id="deleteSysProjectZckByIds" parameterType="String">
        update sys_project_zck set del_flag = '2' where project_zck_id in
        <foreach item="projectZckId" collection="array" open="(" separator="," close=")">
            #{projectZckId}
        </foreach>
    </delete>

    <select id="selectSysProjectZckByIds" parameterType="String" resultMap="SysProjectZckResult">
        <include refid="selectSysProjectZckVo"/>
        where project_zck_id in
        <foreach item="projectZckId" collection="array" open="(" separator="," close=")">
            #{projectZckId}
        </foreach>
    </select>

</mapper>