<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysProjectTargetrecoverMapper">

    <resultMap type="SysProjectTargetrecover" id="SysProjectTargetrecoverResult">
        <result property="id" column="id"/>
        <result property="projectManagementId" column="project_management_id"/>
        <result property="targetRecoveryAmount" column="target_recovery_amount"/>
        <result property="targetRecoveryDate" column="target_recovery_date"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSysProjectTargetrecoverVo">
        select id, project_management_id, target_recovery_amount, target_recovery_date, del_flag, create_by, create_time, update_by, update_time from sys_project_targetrecover
    </sql>

    <select id="selectSysProjectTargetrecoverList" parameterType="SysProjectTargetrecover"
            resultMap="SysProjectTargetrecoverResult">
        <include refid="selectSysProjectTargetrecoverVo"/>
        <where>
            del_flag = '0'
            <if test="projectManagementId != null ">and project_management_id = #{projectManagementId}</if>
            <if test="targetRecoveryAmount != null ">and target_recovery_amount = #{targetRecoveryAmount}</if>
            <if test="params.beginTargetRecoveryDate != null and params.beginTargetRecoveryDate != ''"><!-- 开始时间检索 -->
                AND date_format(target_recovery_date,'%Y%m%d') &gt;= date_format(#{params.beginTargetRecoveryDate},'%Y%m%d')
            </if>
            <if test="params.endTargetRecoveryDate != null and params.endTargetRecoveryDate != ''"><!-- 结束时间检索 -->
                AND date_format(target_recovery_date,'%Y%m%d') &lt;= date_format(#{params.endTargetRecoveryDate},'%Y%m%d')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectSysProjectTargetrecoverById" parameterType="Long" resultMap="SysProjectTargetrecoverResult">
        <include refid="selectSysProjectTargetrecoverVo"/>
        where id = #{id} and del_flag = '0' ORDER BY create_time DESC
    </select>

    <insert id="insertSysProjectTargetrecover" parameterType="SysProjectTargetrecover" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_project_targetrecover
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectManagementId != null">project_management_id,</if>
            <if test="targetRecoveryAmount != null">target_recovery_amount,</if>
            <if test="targetRecoveryDate != null">target_recovery_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectManagementId != null">#{projectManagementId},</if>
            <if test="targetRecoveryAmount != null">#{targetRecoveryAmount},</if>
            <if test="targetRecoveryDate != null">#{targetRecoveryDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysProjectTargetrecover" parameterType="SysProjectTargetrecover">
        update sys_project_targetrecover
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectManagementId != null">project_management_id = #{projectManagementId},</if>
            <if test="targetRecoveryAmount != null">target_recovery_amount = #{targetRecoveryAmount},</if>
            <if test="targetRecoveryDate != null">target_recovery_date = #{targetRecoveryDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysProjectTargetrecoverById" parameterType="Long">
        update sys_project_targetrecover set del_flag = '2' where id = #{id}
    </delete>

    <delete id="deleteSysProjectTargetrecoverByIds" parameterType="String">
        update sys_project_targetrecover set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>