<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysProjectMapper">

    <resultMap type="SysProject" id="SysProjectResult">
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="assetStatus" column="asset_status"/>
        <result property="no" column="no"/>
        <result property="borrower" column="borrower"/>
        <result property="city" column="city"/>
        <result property="loanBank" column="loan_bank"/>
        <result property="contractPrincipal" column="contract_principal"/>
        <result property="principalBalance" column="principal_balance"/>
        <result property="interestBalance" column="interest_balance"/>
        <result property="principalInterestBalance" column="principal_interest_balance"/>
        <result property="guarantor" column="guarantor"/>
        <result property="pledge" column="pledge"/>
        <result property="collateral" column="collateral"/>
        <result property="projectManagerId" column="project_manager_id"/>
        <result property="projectManager" column="project_manager"/>
        <result property="userId" column="user_id"/>
        <result property="judicialStatus" column="judicial_status"/>
        <result property="competentCourt" column="competent_court"/>
        <result property="judgeContact" column="judge_contact"/>
        <result property="judicialRemarks" column="judicial_remarks"/>
        <result property="collateralClaims" column="collateral_claims"/>
        <result property="transactionType" column="transaction_type"/>
        <result property="buyer" column="buyer"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="buyerSources" column="buyer_sources"/>
        <result property="buyerContact" column="buyer_contact"/>
        <result property="contractNo" column="contract_no"/>
        <result property="limitationAction" column="limitation_action"/>
        <result property="sealUpSubjectMatter" column="seal_up_subject_matter"/>
        <result property="sealUpDate" column="seal_up_date"/>
        <result property="limitationExecution" column="limitation_execution"/>
        <result property="dateFiling" column="date_filing"/>
        <result property="firstInstance" column="first_instance"/>
        <result property="secondInstance" column="second_instance"/>
        <result property="retrial" column="retrial"/>
        <result property="enforcementFilingDate" column="enforcement_filing_date"/>
        <result property="appraisalReportDate" column="appraisal_report_date"/>
        <result property="firstShotDate" column="first_shot_date"/>
        <result property="secondShotDate" column="second_shot_date"/>
        <result property="sellShotDate" column="sell_shot_date"/>
        <result property="successfulBidderDate" column="successful_bidder_date"/>
        <result property="paymentReceivedDate" column="payment_received_date"/>
        <result property="delFlag" column="del_flag"/>
        <result property="parentId" column="parent_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="projectZckId" column="project_zck_id"/>
        <result property="lawFirm" column="law_firm"/>
        <result property="lawyerContact" column="lawyer_contact"/>
        <result property="debtStatus" column="debt_status"/>
        <result property="potentialCustomers" column="potential_customers"/>
        <result property="potentialCustomersId" column="potential_customers_id"/>
        <result property="seizure" column="seizure"/>
        <result property="ageing" column="ageing"/>
        <result property="limitation" column="limitation"/>
        <result property="dealCustomerId" column="deal_customer_id"/>
        <result property="dealCustomerName" column="deal_customer_name"/>
        <result property="customerLable" column="customer_lable"/>
        <result property="assetSupplierId" column="asset_supplier_id"/>
        <result property="assetSupplierName" column="asset_supplier_name"/>
        <result property="fundingProviderId" column="funding_provider_id"/>
        <result property="fundingProviderName" column="funding_provider_name"/>
        <result property="lawyerId" column="lawyer_id"/>
        <result property="lawyerName" column="lawyer_name"/>
        <result property="intermediaryId" column="intermediary_id"/>
        <result property="intermediaryName" column="intermediary_name"/>
        <result property="wqyxCustomerId" column="wqyx_customer_id"/>
        <result property="wqyxCustomerName" column="wqyx_customer_name"/>
        <result property="wqcjCustomerId" column="wqcj_customer_id"/>
        <result property="wqcjCustomerName" column="wqcj_customer_name"/>
        <result property="zqyxCustomerId" column="zqyx_customer_id"/>
        <result property="zqyxCustomerName" column="zqyx_customer_name"/>
        <result property="zqcjCustomerId" column="zqcj_customer_id"/>
        <result property="zqcjCustomerName" column="zqcj_customer_name"/>
        <result property="otherId" column="other_id"/>
        <result property="otherName" column="other_name"/>
        <result property="otherFlag" column="other_flag"/>
        <result property="openTime" column="open_time"/>
        <result property="sue" column="sue"/>
        <result property="lawsuit" column="lawsuit"/>
        <result property="projectZckType" column="project_zck_type"/>
    </resultMap>

    <sql id="selectSysProjectVo">
        select project_id,
               project_name,
               project_zck_id,
               asset_status, no, borrower, city, loan_bank, contract_principal,
            principal_balance, interest_balance, principal_interest_balance, guarantor, pledge, collateral, project_manager_id, project_manager, user_id,
            judicial_status, competent_court, judge_contact, judicial_remarks, collateral_claims, transaction_type, buyer, buyer_id,
            buyer_sources, buyer_contact, contract_no, limitation_action, seal_up_subject_matter, seal_up_date, limitation_execution,
            date_filing, first_instance, second_instance, retrial, enforcement_filing_date, appraisal_report_date, first_shot_date,
            second_shot_date, sell_shot_date, successful_bidder_date, payment_received_date, del_flag, parent_id, create_by, create_time,
            update_by, update_time, project_zck_id, law_firm, lawyer_contact, debt_status, potential_customers, potential_customers_id, seizure, ageing, limitation
                , deal_customer_id, deal_customer_name, customer_lable, asset_supplier_id, asset_supplier_name, funding_provider_id, funding_provider_name,
            lawyer_id, lawyer_name, intermediary_id, intermediary_name, wqyx_customer_id, wqyx_customer_name, wqcj_customer_id, wqcj_customer_name,
            zqyx_customer_id, zqyx_customer_name, zqcj_customer_id, zqcj_customer_name, other_id, other_name, other_flag, open_time, lawsuit, sue
        from sys_project
    </sql>

    <select id="selectSysProjectListNoLike" parameterType="SysProject" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>
            del_flag='0' and parent_id IS NULL
            <if test="projectName != null">and project_name = #{projectName}</if>
            <if test="assetStatus != null  and assetStatus != ''">and asset_status = #{assetStatus}</if>
            <if test="no != null  and no != ''">and no = #{no}</if>
            <if test="borrower != null  and borrower != ''">and borrower = #{borrower}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="loanBank != null  and loanBank != ''">and loan_bank = #{loanBank}</if>
            <if test="contractPrincipal != null ">and contract_principal = #{contractPrincipal}</if>
            <if test="principalBalance != null ">and principal_balance = #{principalBalance}</if>
            <if test="interestBalance != null ">and interest_balance = #{interestBalance}</if>
            <if test="principalInterestBalance != null ">and principal_interest_balance = #{principalInterestBalance}
            </if>
            <if test="guarantor != null  and guarantor != ''">and guarantor = #{guarantor}</if>
            <if test="pledge !=null and pledge !=''">and pledge = #{pledge}</if>
            <if test="collateral != null  and collateral != ''">and collateral = #{collateral}</if>
            <if test="projectManagerId !=null and projectManagerId !=''">and project_manager_id = #{projectManagerId}
            </if>
            <if test="projectManager != null  and projectManager != ''">and project_manager = #{projectManager}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="judicialStatus != null  and judicialStatus != ''">and judicial_status = #{judicialStatus}</if>
            <if test="competentCourt != null  and competentCourt != ''">and competent_court = #{competentCourt}</if>
            <if test="judgeContact != null  and judgeContact != ''">and judge_contact = #{judgeContact}</if>
            <if test="judicialRemarks != null  and judicialRemarks != ''">and judicial_remarks = #{judicialRemarks}</if>
            <if test="collateralClaims != null  and collateralClaims != ''">and collateral_claims =
                #{collateralClaims}
            </if>
            <if test="transactionType != null  and transactionType != ''">and transaction_type = #{transactionType}</if>
            <if test="buyer != null  and buyer != ''">and buyer = #{buyer}</if>
            <if test="buyerId != null ">and buyer_id = #{buyerId}</if>
            <if test="buyerSources != null  and buyerSources != ''">and buyer_sources = #{buyerSources}</if>
            <if test="buyerContact != null  and buyerContact != ''">and buyer_contact = #{buyerContact}</if>
            <if test="contractNo != null  and contractNo != ''">and contract_no = #{contractNo}</if>
            <if test="limitationAction != null ">and limitation_action = #{limitationAction}</if>
            <if test="sealUpSubjectMatter != null  and sealUpSubjectMatter != ''">and seal_up_subject_matter =
                #{sealUpSubjectMatter}
            </if>
            <if test="sealUpDate != null ">and seal_up_date = #{sealUpDate}</if>
            <if test="limitationExecution != null ">and limitation_execution = #{limitationExecution}</if>
            <if test="dateFiling != null ">and date_filing = #{dateFiling}</if>
            <if test="firstInstance != null  and firstInstance != ''">and first_instance = #{firstInstance}</if>
            <if test="secondInstance != null  and secondInstance != ''">and second_instance = #{secondInstance}</if>
            <if test="retrial != null  and retrial != ''">and retrial = #{retrial}</if>
            <if test="enforcementFilingDate != null ">and enforcement_filing_date = #{enforcementFilingDate}</if>
            <if test="appraisalReportDate != null ">and appraisal_report_date = #{appraisalReportDate}</if>
            <if test="firstShotDate != null ">and first_shot_date = #{firstShotDate}</if>
            <if test="secondShotDate != null ">and second_shot_date = #{secondShotDate}</if>
            <if test="sellShotDate != null ">and sell_shot_date = #{sellShotDate}</if>
            <if test="successfulBidderDate != null ">and successful_bidder_date = #{successfulBidderDate}</if>
            <if test="paymentReceivedDate != null ">and payment_received_date = #{paymentReceivedDate}</if>
            <if test="parentId != null ">and parent_id = #{parentId}</if>
            <if test="projectZckId != null and projectZckId != ''">and project_zck_id = #{projectZckId}</if>
            <if test="lawyerContact != null and lawyerContact != ''">and lawyer_contact = #{lawyerContact}</if>
            <if test="lawFirm != null and lawFirm != ''">and law_firm = #{lawFirm}</if>
            <if test="debtStatus !=null and debtStatus !=''">and debt_status = #{debtStatus}</if>
            <if test="customerLable != null  and customerLable != ''">and customer_lable = #{customerLable}</if>
            <if test="assetSupplierId != null  and assetSupplierId != ''">and asset_supplier_id = #{assetSupplierId}
            </if>
            <if test="assetSupplierName != null  and assetSupplierName != ''">and asset_supplier_name like concat('%',
                #{assetSupplierName}, '%')
            </if>
            <if test="fundingProviderId != null  and fundingProviderId != ''">and funding_provider_id =
                #{fundingProviderId}
            </if>
            <if test="fundingProviderName != null  and fundingProviderName != ''">and funding_provider_name like
                concat('%', #{fundingProviderName}, '%')
            </if>
            <if test="lawyerId != null  and lawyerId != ''">and lawyer_id = #{lawyerId}</if>
            <if test="lawyerName != null  and lawyerName != ''">and lawyer_name like concat('%', #{lawyerName}, '%')
            </if>
            <if test="intermediaryId != null  and intermediaryId != ''">and intermediary_id = #{intermediaryId}</if>
            <if test="intermediaryName != null  and intermediaryName != ''">and intermediary_name like concat('%',
                #{intermediaryName}, '%')
            </if>
            <if test="wqyxCustomerId != null  and wqyxCustomerId != ''">and wqyx_customer_id = #{wqyxCustomerId}</if>
            <if test="wqyxCustomerName != null  and wqyxCustomerName != ''">and wqyx_customer_name like concat('%',
                #{wqyxCustomerName}, '%')
            </if>
            <if test="wqcjCustomerId != null  and wqcjCustomerId != ''">and wqcj_customer_id = #{wqcjCustomerId}</if>
            <if test="wqcjCustomerName != null  and wqcjCustomerName != ''">and wqcj_customer_name like concat('%',
                #{wqcjCustomerName}, '%')
            </if>
            <if test="zqyxCustomerId != null  and zqyxCustomerId != ''">and zqyx_customer_id = #{zqyxCustomerId}</if>
            <if test="zqyxCustomerName != null  and zqyxCustomerName != ''">and zqyx_customer_name like concat('%',
                #{zqyxCustomerName}, '%')
            </if>
            <if test="zqcjCustomerId != null  and zqcjCustomerId != ''">and zqcj_customer_id = #{zqcjCustomerId}</if>
            <if test="zqcjCustomerName != null  and zqcjCustomerName != ''">and zqcj_customer_name like concat('%',
                #{zqcjCustomerName}, '%')
            </if>
            <if test="otherId != null  and otherId != ''">and other_id = #{otherId}</if>
            <if test="otherName != null  and otherName != ''">and other_name like concat('%', #{otherName}, '%')</if>
            <if test="otherFlag != null  and otherFlag != ''">and other_flag = #{otherFlag}</if>
        </where>
        ORDER BY no asc
    </select>

    <select id="selectSysProjectList" parameterType="SysProject" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>
            del_flag = '0'
            <if test="projectName != null">and project_name like concat ('%', #{projectName},'%')</if>
            <if test="assetStatus != null  and assetStatus != ''">and asset_status = #{assetStatus}</if>
            <if test="no != null  and no != ''">and no = #{no}</if>
            <if test="borrower != null  and borrower != ''">and borrower = #{borrower}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="loanBank != null  and loanBank != ''">and loan_bank = #{loanBank}</if>
            <if test="contractPrincipal != null ">and contract_principal = #{contractPrincipal}</if>
            <if test="principalBalance != null ">and principal_balance = #{principalBalance}</if>
            <if test="interestBalance != null ">and interest_balance = #{interestBalance}</if>
            <if test="principalInterestBalance != null ">and principal_interest_balance = #{principalInterestBalance}
            </if>
            <if test="guarantor != null  and guarantor != ''">and guarantor = #{guarantor}</if>
            <if test="pledge !=null and pledge !=''">and pledge = #{pledge}</if>
            <if test="collateral != null  and collateral != ''">and collateral = #{collateral}</if>
            <if test="projectManagerId !=null and projectManagerId !=''">and project_manager_id = #{projectManagerId}
            </if>
            <if test="projectManager != null  and projectManager != ''">and project_manager = #{projectManager}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="judicialStatus != null  and judicialStatus != ''">and judicial_status = #{judicialStatus}</if>
            <if test="competentCourt != null  and competentCourt != ''">and competent_court = #{competentCourt}</if>
            <if test="judgeContact != null  and judgeContact != ''">and judge_contact = #{judgeContact}</if>
            <if test="judicialRemarks != null  and judicialRemarks != ''">and judicial_remarks = #{judicialRemarks}</if>
            <if test="collateralClaims != null  and collateralClaims != ''">and collateral_claims =
                #{collateralClaims}
            </if>
            <if test="transactionType != null  and transactionType != ''">and transaction_type = #{transactionType}</if>
            <if test="buyer != null  and buyer != ''">and buyer = #{buyer}</if>
            <if test="buyerId != null ">and buyer_id = #{buyerId}</if>
            <if test="buyerSources != null  and buyerSources != ''">and buyer_sources = #{buyerSources}</if>
            <if test="buyerContact != null  and buyerContact != ''">and buyer_contact = #{buyerContact}</if>
            <if test="contractNo != null  and contractNo != ''">and contract_no = #{contractNo}</if>
            <if test="limitationAction != null ">and limitation_action = #{limitationAction}</if>
            <if test="sealUpSubjectMatter != null  and sealUpSubjectMatter != ''">and seal_up_subject_matter =
                #{sealUpSubjectMatter}
            </if>
            <if test="sealUpDate != null ">and seal_up_date = #{sealUpDate}</if>
            <if test="limitationExecution != null ">and limitation_execution = #{limitationExecution}</if>
            <if test="dateFiling != null ">and date_filing = #{dateFiling}</if>
            <if test="firstInstance != null  and firstInstance != ''">and first_instance = #{firstInstance}</if>
            <if test="secondInstance != null  and secondInstance != ''">and second_instance = #{secondInstance}</if>
            <if test="retrial != null  and retrial != ''">and retrial = #{retrial}</if>
            <if test="enforcementFilingDate != null ">and enforcement_filing_date = #{enforcementFilingDate}</if>
            <if test="appraisalReportDate != null ">and appraisal_report_date = #{appraisalReportDate}</if>
            <if test="firstShotDate != null ">and first_shot_date = #{firstShotDate}</if>
            <if test="secondShotDate != null ">and second_shot_date = #{secondShotDate}</if>
            <if test="sellShotDate != null ">and sell_shot_date = #{sellShotDate}</if>
            <if test="successfulBidderDate != null ">and successful_bidder_date = #{successfulBidderDate}</if>
            <if test="paymentReceivedDate != null ">and payment_received_date = #{paymentReceivedDate}</if>
            <if test="parentId != null ">and parent_id = #{parentId}</if>
            <if test="projectZckId != null and projectZckId != ''">and project_zck_id = #{projectZckId}</if>
            <if test="lawyerContact != null and lawyerContact != ''">and lawyer_contact = #{lawyerContact}</if>
            <if test="lawFirm != null and lawFirm != ''">and law_firm = #{lawFirm}</if>
            <if test="debtStatus !=null and debtStatus !=''">and debt_status = #{debtStatus}</if>
            <if test="customerLable != null  and customerLable != ''">and customer_lable = #{customerLable}</if>
            <if test="assetSupplierId != null  and assetSupplierId != ''">and asset_supplier_id = #{assetSupplierId}
            </if>
            <if test="assetSupplierName != null  and assetSupplierName != ''">and asset_supplier_name like concat('%',
                #{assetSupplierName}, '%')
            </if>
            <if test="fundingProviderId != null  and fundingProviderId != ''">and funding_provider_id =
                #{fundingProviderId}
            </if>
            <if test="fundingProviderName != null  and fundingProviderName != ''">and funding_provider_name like
                concat('%', #{fundingProviderName}, '%')
            </if>
            <if test="lawyerId != null  and lawyerId != ''">and lawyer_id = #{lawyerId}</if>
            <if test="lawyerName != null  and lawyerName != ''">and lawyer_name like concat('%', #{lawyerName}, '%')
            </if>
            <if test="intermediaryId != null  and intermediaryId != ''">and intermediary_id = #{intermediaryId}</if>
            <if test="intermediaryName != null  and intermediaryName != ''">and intermediary_name like concat('%',
                #{intermediaryName}, '%')
            </if>
            <if test="wqyxCustomerId != null  and wqyxCustomerId != ''">and wqyx_customer_id = #{wqyxCustomerId}</if>
            <if test="wqyxCustomerName != null  and wqyxCustomerName != ''">and wqyx_customer_name like concat('%',
                #{wqyxCustomerName}, '%')
            </if>
            <if test="wqcjCustomerId != null  and wqcjCustomerId != ''">and wqcj_customer_id = #{wqcjCustomerId}</if>
            <if test="wqcjCustomerName != null  and wqcjCustomerName != ''">and wqcj_customer_name like concat('%',
                #{wqcjCustomerName}, '%')
            </if>
            <if test="zqyxCustomerId != null  and zqyxCustomerId != ''">and zqyx_customer_id = #{zqyxCustomerId}</if>
            <if test="zqyxCustomerName != null  and zqyxCustomerName != ''">and zqyx_customer_name like concat('%',
                #{zqyxCustomerName}, '%')
            </if>
            <if test="zqcjCustomerId != null  and zqcjCustomerId != ''">and zqcj_customer_id = #{zqcjCustomerId}</if>
            <if test="zqcjCustomerName != null  and zqcjCustomerName != ''">and zqcj_customer_name like concat('%',
                #{zqcjCustomerName}, '%')
            </if>
            <if test="otherId != null  and otherId != ''">and other_id = #{otherId}</if>
            <if test="otherName != null  and otherName != ''">and other_name like concat('%', #{otherName}, '%')</if>
            <if test="otherFlag != null  and otherFlag != ''">and other_flag = #{otherFlag}</if>
        </where>
        ORDER BY no asc
    </select>

    <select id="selectSysProjectById" parameterType="Long" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        where project_id = #{projectId} and del_flag='0'
    </select>

    <insert id="insertSysProject" parameterType="SysProject" useGeneratedKeys="true" keyProperty="projectId">
        insert into sys_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null">project_name,</if>
            <if test="assetStatus != null">asset_status,</if>
            <if test="no != null">no,</if>
            <if test="borrower != null">borrower,</if>
            <if test="city != null">city,</if>
            <if test="loanBank != null">loan_bank,</if>
            <if test="contractPrincipal != null">contract_principal,</if>
            <if test="principalBalance != null">principal_balance,</if>
            <if test="interestBalance != null">interest_balance,</if>
            <if test="principalInterestBalance != null">principal_interest_balance,</if>
            <if test="guarantor != null">guarantor,</if>
            <if test="pledge !=null">pledge,</if>
            <if test="collateral != null">collateral,</if>
            <if test="projectManagerId !=null">project_manager_id,</if>
            <if test="projectManager != null">project_manager,</if>
            <if test="userId != null">user_id,</if>
            <if test="judicialStatus != null">judicial_status,</if>
            <if test="competentCourt != null">competent_court,</if>
            <if test="judgeContact != null">judge_contact,</if>
            <if test="judicialRemarks != null">judicial_remarks,</if>
            <if test="collateralClaims != null">collateral_claims,</if>
            <if test="transactionType != null">transaction_type,</if>
            <if test="buyer != null">buyer,</if>
            <if test="buyerId != null">buyer_id,</if>
            <if test="buyerSources != null">buyer_sources,</if>
            <if test="buyerContact != null">buyer_contact,</if>
            <if test="contractNo != null">contract_no,</if>
            <if test="limitationAction != null">limitation_action,</if>
            <if test="sealUpSubjectMatter != null">seal_up_subject_matter,</if>
            <if test="sealUpDate != null">seal_up_date,</if>
            <if test="limitationExecution != null">limitation_execution,</if>
            <if test="dateFiling != null">date_filing,</if>
            <if test="firstInstance != null">first_instance,</if>
            <if test="secondInstance != null">second_instance,</if>
            <if test="retrial != null">retrial,</if>
            <if test="enforcementFilingDate != null">enforcement_filing_date,</if>
            <if test="appraisalReportDate != null">appraisal_report_date,</if>
            <if test="firstShotDate != null">first_shot_date,</if>
            <if test="secondShotDate != null">second_shot_date,</if>
            <if test="sellShotDate != null">sell_shot_date,</if>
            <if test="successfulBidderDate != null">successful_bidder_date,</if>
            <if test="paymentReceivedDate != null">payment_received_date,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="projectZckId != null">project_zck_id,</if>
            <if test="lawyerContact != null">lawyer_contact,</if>
            <if test="lawFirm != null">law_firm,</if>
            <if test="debtStatus !=null">debt_status,</if>
            <if test="potentialCustomers != null">potential_customers,</if>
            <if test="potentialCustomersId != null">potential_customers_id,</if>
            <if test="seizure != null">seizure,</if>
            <if test="ageing != null">ageing,</if>
            <if test="limitation != null">limitation,</if>
            <if test="dealCustomerId != null">deal_customer_id,</if>
            <if test="dealCustomerName != null">deal_customer_name,</if>
            <if test="customerLable != null">customer_lable,</if>
            <if test="assetSupplierId != null">asset_supplier_id,</if>
            <if test="assetSupplierName != null">asset_supplier_name,</if>
            <if test="fundingProviderId != null">funding_provider_id,</if>
            <if test="fundingProviderName != null">funding_provider_name,</if>
            <if test="lawyerId != null">lawyer_id,</if>
            <if test="lawyerName != null">lawyer_name,</if>
            <if test="intermediaryId != null">intermediary_id,</if>
            <if test="intermediaryName != null">intermediary_name,</if>
            <if test="wqyxCustomerId != null">wqyx_customer_id,</if>
            <if test="wqyxCustomerName != null">wqyx_customer_name,</if>
            <if test="wqcjCustomerId != null">wqcj_customer_id,</if>
            <if test="wqcjCustomerName != null">wqcj_customer_name,</if>
            <if test="zqyxCustomerId != null">zqyx_customer_id,</if>
            <if test="zqyxCustomerName != null">zqyx_customer_name,</if>
            <if test="zqcjCustomerId != null">zqcj_customer_id,</if>
            <if test="zqcjCustomerName != null">zqcj_customer_name,</if>
            <if test="otherId != null">other_id,</if>
            <if test="otherName != null">other_name,</if>
            <if test="otherFlag != null">other_flag,</if>
            <if test="openTime != null">open_time,</if>
            <if test="sue !=null">sue,</if>
            <if test="lawsuit !=null">lawsuit,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null">#{projectName},</if>
            <if test="assetStatus != null">#{assetStatus},</if>
            <if test="no != null">#{no},</if>
            <if test="borrower != null">#{borrower},</if>
            <if test="city != null">#{city},</if>
            <if test="loanBank != null">#{loanBank},</if>
            <if test="contractPrincipal != null">#{contractPrincipal},</if>
            <if test="principalBalance != null">#{principalBalance},</if>
            <if test="interestBalance != null">#{interestBalance},</if>
            <if test="principalInterestBalance != null">#{principalInterestBalance},</if>
            <if test="guarantor != null">#{guarantor},</if>
            <if test="pledge !=null">#{pledge},</if>
            <if test="collateral != null">#{collateral},</if>
            <if test="projectManagerId !=null">#{projectManagerId},</if>
            <if test="projectManager != null">#{projectManager},</if>
            <if test="userId != null">#{userId},</if>
            <if test="judicialStatus != null">#{judicialStatus},</if>
            <if test="competentCourt != null">#{competentCourt},</if>
            <if test="judgeContact != null">#{judgeContact},</if>
            <if test="judicialRemarks != null">#{judicialRemarks},</if>
            <if test="collateralClaims != null">#{collateralClaims},</if>
            <if test="transactionType != null">#{transactionType},</if>
            <if test="buyer != null">#{buyer},</if>
            <if test="buyerId != null">#{buyerId},</if>
            <if test="buyerSources != null">#{buyerSources},</if>
            <if test="buyerContact != null">#{buyerContact},</if>
            <if test="contractNo != null">#{contractNo},</if>
            <if test="limitationAction != null">#{limitationAction},</if>
            <if test="sealUpSubjectMatter != null">#{sealUpSubjectMatter},</if>
            <if test="sealUpDate != null">#{sealUpDate},</if>
            <if test="limitationExecution != null">#{limitationExecution},</if>
            <if test="dateFiling != null">#{dateFiling},</if>
            <if test="firstInstance != null">#{firstInstance},</if>
            <if test="secondInstance != null">#{secondInstance},</if>
            <if test="retrial != null">#{retrial},</if>
            <if test="enforcementFilingDate != null">#{enforcementFilingDate},</if>
            <if test="appraisalReportDate != null">#{appraisalReportDate},</if>
            <if test="firstShotDate != null">#{firstShotDate},</if>
            <if test="secondShotDate != null">#{secondShotDate},</if>
            <if test="sellShotDate != null">#{sellShotDate},</if>
            <if test="successfulBidderDate != null">#{successfulBidderDate},</if>
            <if test="paymentReceivedDate != null">#{paymentReceivedDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="projectZckId != null">#{projectZckId},</if>
            <if test="lawyerContact != null">#{lawyerContact},</if>
            <if test="lawFirm != null">#{lawFirm},</if>
            <if test="debtStatus !=null">#{debtStatus},</if>
            <if test="potentialCustomers != null">#{potentialCustomers},</if>
            <if test="potentialCustomersId != null">#{potentialCustomersId},</if>
            <if test="seizure != null">#{seizure},</if>
            <if test="ageing != null">#{ageing},</if>
            <if test="limitation != null">#{limitation},</if>
            <if test="dealCustomerId != null">#{dealCustomerId},</if>
            <if test="dealCustomerName != null">#{dealCustomerName},</if>
            <if test="customerLable != null">#{customerLable},</if>
            <if test="assetSupplierId != null">#{assetSupplierId},</if>
            <if test="assetSupplierName != null">#{assetSupplierName},</if>
            <if test="fundingProviderId != null">#{fundingProviderId},</if>
            <if test="fundingProviderName != null">#{fundingProviderName},</if>
            <if test="lawyerId != null">#{lawyerId},</if>
            <if test="lawyerName != null">#{lawyerName},</if>
            <if test="intermediaryId != null">#{intermediaryId},</if>
            <if test="intermediaryName != null">#{intermediaryName},</if>
            <if test="wqyxCustomerId != null">#{wqyxCustomerId},</if>
            <if test="wqyxCustomerName != null">#{wqyxCustomerName},</if>
            <if test="wqcjCustomerId != null">#{wqcjCustomerId},</if>
            <if test="wqcjCustomerName != null">#{wqcjCustomerName},</if>
            <if test="zqyxCustomerId != null">#{zqyxCustomerId},</if>
            <if test="zqyxCustomerName != null">#{zqyxCustomerName},</if>
            <if test="zqcjCustomerId != null">#{zqcjCustomerId},</if>
            <if test="zqcjCustomerName != null">#{zqcjCustomerName},</if>
            <if test="otherId != null">#{otherId},</if>
            <if test="otherName != null">#{otherName},</if>
            <if test="otherFlag != null">#{otherFlag},</if>
            <if test="openTime != null">#{openTime},</if>
            <if test="sue !=null">#{sue},</if>
            <if test="lawsuit !=null">#{lawsuit},</if>
        </trim>
    </insert>

    <update id="updateSysProject" parameterType="SysProject">
        update sys_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="assetStatus != null">asset_status = #{assetStatus},</if>
            <if test="no != null">no = #{no},</if>
            <if test="borrower != null">borrower = #{borrower},</if>
            <if test="city != null">city = #{city},</if>
            <if test="loanBank != null">loan_bank = #{loanBank},</if>
            <if test="contractPrincipal != null">contract_principal = #{contractPrincipal},</if>
            <if test="principalBalance != null">principal_balance = #{principalBalance},</if>
            <if test="interestBalance != null">interest_balance = #{interestBalance},</if>
            <if test="principalInterestBalance != null">principal_interest_balance = #{principalInterestBalance},</if>
            <if test="guarantor != null">guarantor = #{guarantor},</if>
            <if test="pledge !=null">pledge = #{pledge},</if>
            <if test="collateral != null">collateral = #{collateral},</if>
            <if test="projectManagerId !=null">project_manager_id =#{projectManagerId},</if>
            <if test="projectManager != null">project_manager = #{projectManager},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="judicialStatus != null">judicial_status = #{judicialStatus},</if>
            <if test="competentCourt != null">competent_court = #{competentCourt},</if>
            <if test="judgeContact != null">judge_contact = #{judgeContact},</if>
            <if test="judicialRemarks != null">judicial_remarks = #{judicialRemarks},</if>
            <if test="collateralClaims != null">collateral_claims = #{collateralClaims},</if>
            <if test="transactionType != null">transaction_type = #{transactionType},</if>
            <if test="buyer != null">buyer = #{buyer},</if>
            <if test="buyerId != null">buyer_id = #{buyerId},</if>
            <if test="buyerSources != null">buyer_sources = #{buyerSources},</if>
            <if test="buyerContact != null">buyer_contact = #{buyerContact},</if>
            <if test="contractNo != null">contract_no = #{contractNo},</if>
            <if test="limitationAction != null">limitation_action = #{limitationAction},</if>
            <if test="sealUpSubjectMatter != null">seal_up_subject_matter = #{sealUpSubjectMatter},</if>
            <if test="sealUpDate != null">seal_up_date = #{sealUpDate},</if>
            <if test="limitationExecution != null">limitation_execution = #{limitationExecution},</if>
            <if test="dateFiling != null">date_filing = #{dateFiling},</if>
            <if test="firstInstance != null">first_instance = #{firstInstance},</if>
            <if test="secondInstance != null">second_instance = #{secondInstance},</if>
            <if test="retrial != null">retrial = #{retrial},</if>
            <if test="enforcementFilingDate != null">enforcement_filing_date = #{enforcementFilingDate},</if>
            <if test="appraisalReportDate != null">appraisal_report_date = #{appraisalReportDate},</if>
            <if test="firstShotDate != null">first_shot_date = #{firstShotDate},</if>
            <if test="secondShotDate != null">second_shot_date = #{secondShotDate},</if>
            <if test="sellShotDate != null">sell_shot_date = #{sellShotDate},</if>
            <if test="successfulBidderDate != null">successful_bidder_date = #{successfulBidderDate},</if>
            <if test="paymentReceivedDate != null">payment_received_date = #{paymentReceivedDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="projectZckId !=null">project_zck_id = #{projectZckId},</if>
            <if test="lawFirm !=null">law_firm = #{lawFirm},</if>
            <if test="lawyerContact !=null">lawyer_contact = #{lawyerContact},</if>
            <if test="debtStatus !=null">debt_status = #{debtStatus},</if>
            <if test="potentialCustomers != null">potential_customers = #{potentialCustomers},</if>
            <if test="potentialCustomersId != null">potential_customers_id = #{potentialCustomersId},</if>
            <if test="seizure != null">seizure = #{seizure},</if>
            <if test="ageing != null">ageing = #{ageing},</if>
            <if test="limitation != null">limitation = #{limitation},</if>
            <if test="dealCustomerId != null">deal_customer_id = #{dealCustomerId},</if>
            <if test="dealCustomerName != null">deal_customer_name = #{dealCustomerName},</if>
            <if test="customerLable != null">customer_lable = #{customerLable},</if>
            <if test="assetSupplierId != null">asset_supplier_id = #{assetSupplierId},</if>
            <if test="assetSupplierName != null">asset_supplier_name = #{assetSupplierName},</if>
            <if test="fundingProviderId != null">funding_provider_id = #{fundingProviderId},</if>
            <if test="fundingProviderName != null">funding_provider_name = #{fundingProviderName},</if>
            <if test="lawyerId != null">lawyer_id = #{lawyerId},</if>
            <if test="lawyerName != null">lawyer_name = #{lawyerName},</if>
            <if test="intermediaryId != null">intermediary_id = #{intermediaryId},</if>
            <if test="intermediaryName != null">intermediary_name = #{intermediaryName},</if>
            <if test="wqyxCustomerId != null">wqyx_customer_id = #{wqyxCustomerId},</if>
            <if test="wqyxCustomerName != null">wqyx_customer_name = #{wqyxCustomerName},</if>
            <if test="wqcjCustomerId != null">wqcj_customer_id = #{wqcjCustomerId},</if>
            <if test="wqcjCustomerName != null">wqcj_customer_name = #{wqcjCustomerName},</if>
            <if test="zqyxCustomerId != null">zqyx_customer_id = #{zqyxCustomerId},</if>
            <if test="zqyxCustomerName != null">zqyx_customer_name = #{zqyxCustomerName},</if>
            <if test="zqcjCustomerId != null">zqcj_customer_id = #{zqcjCustomerId},</if>
            <if test="zqcjCustomerName != null">zqcj_customer_name = #{zqcjCustomerName},</if>
            <if test="otherId != null">other_id = #{otherId},</if>
            <if test="otherName != null">other_name = #{otherName},</if>
            <if test="otherFlag != null">other_flag = #{otherFlag},</if>
            <if test="openTime != null">open_time = #{openTime},</if>
            <if test="sue !=null">sue = #{sue},</if>
            <if test="lawsuit !=null">lawsuit = #{lawsuit},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteSysProjectById" parameterType="Long">
        update sys_project
        set del_flag = '2'
        where project_id = #{projectId}
    </delete>

    <delete id="deleteSysProjectByIds" parameterType="String">
        update sys_project set del_flag = '2' where project_id in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>

    <select id="selectProject" parameterType="SysProject" resultMap="SysProjectResult">
        SELECT
        zck.project_zck_type,
        pro.*
        FROM
        sys_project pro LEFT JOIN sys_project_zck zck on pro.project_zck_id = zck.project_zck_id
        <where>
            pro.del_flag='0' and pro.parent_id IS NULL
            <if test="projectZckId != null ">and pro.project_zck_id = #{projectZckId}</if>
            <if test="projectId != null ">and pro.project_id = #{projectId}</if>
            <if test="debtStatus != null ">and pro.debt_status = #{debtStatus}</if>
            <if test="projectName != null ">and pro.project_name like concat ('%', #{projectName},'%')</if>
            <if test="otherFlag != null  and otherFlag != ''">and other_flag = #{otherFlag}</if>
        </where>
        order by no asc
    </select>

    <select id="selectSysProjectByParentId" parameterType="SysProject" resultMap="SysProjectResult">
        SELECT project_id
        FROM (SELECT t1.project_id,
                     IF(FIND_IN_SET(parent_id, @pids) > 0, @pids := CONCAT(@pids, ',', project_id), 0) AS ischild,
                     del_flag
              FROM (SELECT project_id, parent_id, del_flag FROM sys_project t ORDER BY parent_id, project_id) t1,
                   (SELECT @pids := #{projectId}) t2) t3
        WHERE ischild != 0 AND del_flag='0' OR project_id =#{projectId}
    </select>

    <select id="selectSysProjectByProjectId" parameterType="String" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>
            project_id in
            <foreach item="projectId" collection="array" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </where>
        order  by  no asc
    </select>

    <select id="selectSysProjectByProjectZckId" parameterType="String" resultMap="SysProjectResult">
        <include refid="selectSysProjectVo"/>
        <where>
            project_zck_id in
            <foreach item="projectZckId" collection="array" open="(" separator="," close=")">
                #{projectZckId}
            </foreach>
        </where>
    </select>

    <select id="selectCountByProjectZckType" parameterType="String" resultMap="SysProjectResult">
        SELECT count(project_id) projectCount FROM sys_project
        <where>
            debt_status ='处置中' AND del_flag='0' and parent_id is NULL AND project_zck_id in (
            SELECT project_zck_id FROM sys_project_zck WHERE del_flag='0' AND project_zck_type =#{project_zck_type})
        </where>
    </select>

    <select id="selectTotalPrincipalBalanceByParentId" parameterType="Long" resultMap="SysProjectResult">
        SELECT SUM(principal_balance) as totalPrincipalBalance
        FROM sys_project
        WHERE del_flag = '0'
          AND project_id IN
              (SELECT project_id
               FROM (SELECT t1.project_id,
                            IF(FIND_IN_SET(parent_id, @pids) > 0,
                               @pids := CONCAT(@pids, ',', project_id), 0) AS ischild,
                            del_flag
                     FROM (SELECT project_id, parent_id, del_flag FROM sys_project t ORDER BY parent_id, project_id) t1,
                          (SELECT @pids := #{projectId}) t2) t3
               WHERE ischild
            != 0 AND del_flag='0' OR project_id =#{projectId});
    </select>

</mapper>