<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysStaffMapper">

    <resultMap type="SysStaff" id="SysStaffResult">
        <result property="staffId" column="staff_id"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="staffName" column="staff_name"/>
        <result property="position" column="position"/>
        <result property="laborRelations" column="labor_relations"/>
        <result property="sex" column="sex"/>
        <result property="entryDate" column="entry_date"/>
        <result property="secretaryLing" column="secretary_ling"/>
        <result property="politicalOutlook" column="political_outlook"/>
        <result property="contact1" column="contact1"/>
        <result property="birthday" column="birthday"/>
        <result property="idNo" column="id_no"/>
        <result property="origin" column="origin"/>
        <result property="education" column="education"/>
        <result property="speciality" column="speciality"/>
        <result property="marriage" column="marriage"/>
        <result property="nation" column="nation"/>
        <result property="companyResume" column="company_resume"/>
        <result property="address" column="address"/>
        <result property="emergencyContact" column="emergency_contact"/>
        <result property="emergencyContactPhone" column="emergency_contact_phone"/>
        <result property="graduationInstitution" column="graduation_institution"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="status" column="status"/>
        <result property="leaveDate" column="leave_date"/>
        <result property="contact2" column="contact2"/>
        <result property="accounteEntryDate" column="accounte_entry_date"/>
        <result property="resumeUrl" column="resume_url"/>
        <result property="resumeType" column="resume_type"/>
    </resultMap>

    <sql id="selectSysStaffVo">
        select staff_id,
               department_id,
               department_name,
               staff_name,
               position,
               labor_relations,
               sex,
               entry_date,
               secretary_ling,
               political_outlook,
               contact1,
               birthday,
               id_no,
               origin,
               education,
               speciality,
               marriage,
               nation,
               company_resume,
               address,
               emergency_contact,
               emergency_contact_phone,
               graduation_institution,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag,
               status,
               leave_date,
               contact2,
               accounte_entry_date,
               resume_url,
               resume_type
        from sys_staff
    </sql>

    <select id="selectSysStaffList" parameterType="SysStaff" resultMap="SysStaffResult">
        <include refid="selectSysStaffVo"/> u
        <where>
            <if test="departmentId != null ">and department_id = #{departmentId}</if>
            <if test="departmentName != null  and departmentName != ''">and department_name like concat('%',
                #{departmentName}, '%')
            </if>
            <if test="staffName != null  and staffName != ''">and staff_name like concat('%', #{staffName}, '%')</if>
            <if test="position != null  and position != ''">and position = #{position}</if>
            <if test="laborRelations != null  and laborRelations != ''">and labor_relations = #{laborRelations}</if>
            <if test="sex != null  and sex != ''">and sex = #{sex}</if>
            <if test="entryDate != null ">and entry_date = #{entryDate}</if>
            <if test="secretaryLing != null ">and secretary_ling = #{secretaryLing}</if>
            <if test="politicalOutlook != null ">and political_outlook = #{politicalOutlook}</if>
            <if test="contact1 != null  and contact1 != ''">and contact1 = #{contact1}</if>
            <if test="birthday != null ">and birthday = #{birthday}</if>
            <if test="idNo != null  and idNo != ''">and id_no = #{idNo}</if>
            <if test="origin != null  and origin != ''">and origin = #{origin}</if>
            <if test="education != null  and education != ''">and education = #{education}</if>
            <if test="speciality != null  and speciality != ''">and speciality = #{speciality}</if>
            <if test="marriage != null ">and marriage = #{marriage}</if>
            <if test="nation != null  and nation != ''">and nation = #{nation}</if>
            <if test="companyResume != null  and companyResume != ''">and company_resume = #{companyResume}</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="emergencyContact != null  and emergencyContact != ''">and emergency_contact =
                #{emergencyContact}
            </if>
            <if test="emergencyContactPhone != null  and emergencyContactPhone != ''">and emergency_contact_phone =
                #{emergencyContactPhone}
            </if>
            <if test="graduationInstitution != null  and graduationInstitution != ''">and graduation_institution =
                #{graduationInstitution}
            </if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="leaveDate != null ">and leave_date = #{leaveDate}</if>
            <if test="contact2 != null  and contact2 != ''">and contact2 = #{contact2}</if>
            <if test="accounteEntryDate != null ">and accounte_entry_date = #{accounteEntryDate}</if>
            <if test="resumeUrl != null  and resumeUrl != ''">and resume_url = #{resumeUrl}</if>
            <if test="resumeType != null  and resumeType != ''">and resume_type = #{resumeType}</if>
        </where>
        ORDER BY u.status,u.entry_date DESC
    </select>

    <select id="selectSysStaffById" parameterType="Long" resultMap="SysStaffResult">
        <include refid="selectSysStaffVo"/>
        where staff_id = #{staffId}
    </select>

    <insert id="insertSysStaff" parameterType="SysStaff" useGeneratedKeys="true" keyProperty="staffId">
        insert into sys_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">department_id,</if>
            <if test="departmentName != null">department_name,</if>
            <if test="staffName != null">staff_name,</if>
            <if test="position != null">position,</if>
            <if test="laborRelations != null">labor_relations,</if>
            <if test="sex != null">sex,</if>
            <if test="entryDate != null">entry_date,</if>
            <if test="secretaryLing != null">secretary_ling,</if>
            <if test="politicalOutlook != null">political_outlook,</if>
            <if test="contact1 != null">contact1,</if>
            <if test="birthday != null">birthday,</if>
            <if test="idNo != null">id_no,</if>
            <if test="origin != null">origin,</if>
            <if test="education != null">education,</if>
            <if test="speciality != null">speciality,</if>
            <if test="marriage != null">marriage,</if>
            <if test="nation != null">nation,</if>
            <if test="companyResume != null">company_resume,</if>
            <if test="address != null">address,</if>
            <if test="emergencyContact != null">emergency_contact,</if>
            <if test="emergencyContactPhone != null">emergency_contact_phone,</if>
            <if test="graduationInstitution != null">graduation_institution,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="status != null">status,</if>
            <if test="leaveDate != null">leave_date,</if>
            <if test="contact2 != null">contact2,</if>
            <if test="accounteEntryDate != null">accounte_entry_date,</if>
            <if test="resumeUrl != null">resume_url,</if>
            <if test="resumeType != null">resume_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">#{departmentId},</if>
            <if test="departmentName != null">#{departmentName},</if>
            <if test="staffName != null">#{staffName},</if>
            <if test="position != null">#{position},</if>
            <if test="laborRelations != null">#{laborRelations},</if>
            <if test="sex != null">#{sex},</if>
            <if test="entryDate != null">#{entryDate},</if>
            <if test="secretaryLing != null">#{secretaryLing},</if>
            <if test="politicalOutlook != null">#{politicalOutlook},</if>
            <if test="contact1 != null">#{contact1},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="idNo != null">#{idNo},</if>
            <if test="origin != null">#{origin},</if>
            <if test="education != null">#{education},</if>
            <if test="speciality != null">#{speciality},</if>
            <if test="marriage != null">#{marriage},</if>
            <if test="nation != null">#{nation},</if>
            <if test="companyResume != null">#{companyResume},</if>
            <if test="address != null">#{address},</if>
            <if test="emergencyContact != null">#{emergencyContact},</if>
            <if test="emergencyContactPhone != null">#{emergencyContactPhone},</if>
            <if test="graduationInstitution != null">#{graduationInstitution},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="leaveDate != null">#{leaveDate},</if>
            <if test="contact2 != null">#{contact2},</if>
            <if test="accounteEntryDate != null">#{accounteEntryDate},</if>
            <if test="resumeUrl != null">#{resumeUrl},</if>
            <if test="resumeType != null">#{resumeType},</if>
        </trim>
    </insert>

    <update id="updateSysStaff" parameterType="SysStaff">
        update sys_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="departmentName != null">department_name = #{departmentName},</if>
            <if test="staffName != null">staff_name = #{staffName},</if>
            <if test="position != null">position = #{position},</if>
            <if test="laborRelations != null">labor_relations = #{laborRelations},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="secretaryLing != null">secretary_ling = #{secretaryLing},</if>
            <if test="politicalOutlook != null">political_outlook = #{politicalOutlook},</if>
            <if test="contact1 != null">contact1 = #{contact1},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="idNo != null">id_no = #{idNo},</if>
            <if test="origin != null">origin = #{origin},</if>
            <if test="education != null">education = #{education},</if>
            <if test="speciality != null">speciality = #{speciality},</if>
            <if test="marriage != null">marriage = #{marriage},</if>
            <if test="nation != null">nation = #{nation},</if>
            <if test="companyResume != null">company_resume = #{companyResume},</if>
            <if test="address != null">address = #{address},</if>
            <if test="emergencyContact != null">emergency_contact = #{emergencyContact},</if>
            <if test="emergencyContactPhone != null">emergency_contact_phone = #{emergencyContactPhone},</if>
            <if test="graduationInstitution != null">graduation_institution = #{graduationInstitution},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="leaveDate != null">leave_date = #{leaveDate},</if>
            <if test="contact2 != null">contact2 = #{contact2},</if>
            <if test="accounteEntryDate != null">accounte_entry_date = #{accounteEntryDate},</if>
            <if test="resumeUrl != null">resume_url = #{resumeUrl},</if>
            <if test="resumeType != null">resume_type = #{resumeType},</if>
        </trim>
        where staff_id = #{staffId}
    </update>

    <delete id="deleteSysStaffById" parameterType="Long">
        update sys_staff set del_flag='2' where staff_id = #{staffId}
    </delete>

    <delete id="deleteSysStaffByIds" parameterType="String">
        update sys_staff set del_flag='2' where staff_id in
        <foreach item="staffId" collection="array" open="(" separator="," close=")">
            #{staffId}
        </foreach>
    </delete>


    <select id="selectStaffByEducation" parameterType="SysStaff" resultMap="SysStaffResult">
        SELECT * FROM sys_staff
        <where>
            sys_staff.del_flag='0' and sys_staff.status='0'
            <if test="departmentId !=null and departmentId !=0">
                AND (sys_staff.department_id = #{departmentId} OR sys_staff.department_id IN ( SELECT
                sys_department.department_id FROM
                sys_department WHERE FIND_IN_SET
                (#{departmentId},ancestors) ))
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(sys_staff.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(sys_staff.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
    </select>

    <select id="selectStaffBySex" parameterType="SysStaff" resultMap="SysStaffResult">
        SELECT COUNT(*) sexCount,dict_label sex,staff_id FROM sys_staff INNER JOIN sys_dict_data
        ON sex=sys_dict_data.dict_value
        <where>
            sys_dict_data.dict_type='sys_user_sex' and
            sys_staff.del_flag='0'
            <if test="departmentId !=null and departmentId !=0">
                AND (sys_staff.department_id = #{departmentId} OR sys_staff.department_id IN ( SELECT
                sys_department.department_id FROM
                sys_department WHERE FIND_IN_SET
                (#{departmentId},ancestors) ))
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(sys_staff.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(sys_staff.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
        GROUP BY sex
    </select>

    <select id="selectStaffBySecretaryLing" parameterType="SysStaff" resultMap="SysStaffResult">
        SELECT COUNT(secretary_ling) AS secretaryLingCount,secretary_ling FROM sys_staff
        <where>
            del_flag='0'
            <if test="departmentId !=null and departmentId !=0">
                AND (sys_staff.department_id = #{departmentId} OR sys_staff.department_id IN ( SELECT
                sys_department.department_id FROM
                sys_department WHERE FIND_IN_SET
                (#{departmentId},ancestors) ))
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(sys_staff.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(sys_staff.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
        GROUP BY secretary_ling ORDER BY secretary_ling asc
    </select>

    <select id="selectByIds" parameterType="String" resultMap="SysStaffResult">
        select  * from   sys_staff
        where staff_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and del_flag='0'
    </select>

    <select id="selectStaffByStaffName" parameterType="String" resultMap="SysStaffResult">
        select  * from   sys_staff
        where staff_name = #{staffName}
    </select>
</mapper>