<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysUnderlyingDataMapper">
    
    <resultMap type="SysUnderlyingData" id="SysUnderlyingDataResult">
        <result property="fileId"    column="file_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="downloadableFlag"    column="downloadable_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createor"    column="createor"    />
        <result property="previewCount"    column="preview_count"    />
        <result property="downloadsCount"    column="downloads_count"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateor"    column="updateor"    />
        <result property="updateBy"    column="update_by"    />
        <result property="projectId"    column="project_id"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
        <result property="projectType"    column="project_type"    />
        <result property="createorName"    column="user_name"    />
        <result property="zckName"    column="zck_name"    />
        <result property="proName"    column="project_name"    />
        <result property="projectZckId"    column="project_zck_id"    />
    </resultMap>

    <sql id="selectSysUnderlyingDataVo">
        select file_id, parent_id, file_name, file_type, file_size, downloadable_flag, create_time, createor, preview_count, downloads_count, update_time, updateor, update_by, project_id, file_url, create_by, remark, project_type from sys_underlying_data
    </sql>

    <select id="selectSysUnderlyingDataList" parameterType="SysUnderlyingData" resultMap="SysUnderlyingDataResult">
        SELECT
        a.file_id,
        a.parent_id,
        a.file_name,
        a.file_type,
        a.file_size,
        a.downloadable_flag,
        a.create_time,
        a.createor,
        a.preview_count,
        a.downloads_count,
        a.update_time,
        a.updateor,
        a.update_by,
        a.project_id,
        a.file_url,
        a.create_by,
        a.remark,
        a.project_type ,
        u.user_name
        FROM
        sys_underlying_data a
        LEFT JOIN sys_user u ON a.create_by = u.login_name
        <where>  
            <if test="parentId != null "> and a.parent_id = #{parentId}</if>
            <if test="fileName != null  and fileName != ''"> and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and a.file_type = #{fileType}</if>
            <if test="fileSize != null "> and a.file_size = #{fileSize}</if>
            <if test="downloadableFlag != null  and downloadableFlag != ''"> and a.downloadable_flag = #{downloadableFlag}</if>
            <if test="createor != null  and createor != ''"> and a.createor = #{createor}</if>
            <if test="previewCount != null "> and a.preview_count = #{previewCount}</if>
            <if test="downloadsCount != null "> and a.downloads_count = #{downloadsCount}</if>
            <if test="updateor != null  and updateor != ''"> and a.updateor = #{updateor}</if>
            <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.file_url = #{fileUrl}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="projectType != null  and projectType != ''"> and a.project_type = #{projectType}</if>
        </where>
        order by create_time desc
    </select>


    <select id="selectSysUnderlyingProList" parameterType="SysUnderlyingData" resultMap="SysUnderlyingDataResult">
        SELECT DISTINCT
        a.project_id,
        b.project_name
        FROM
        sys_underlying_data a
        LEFT JOIN sys_bgczzck b on a.project_id = b.id
        <where>
            <if test="parentId != null "> and a.parent_id = #{parentId}</if>
            <if test="fileName != null  and fileName != ''"> and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and a.file_type = #{fileType}</if>
            <if test="fileSize != null "> and a.file_size = #{fileSize}</if>
            <if test="downloadableFlag != null  and downloadableFlag != ''"> and a.downloadable_flag = #{downloadableFlag}</if>
            <if test="createor != null  and createor != ''"> and a.createor = #{createor}</if>
            <if test="previewCount != null "> and a.preview_count = #{previewCount}</if>
            <if test="downloadsCount != null "> and a.downloads_count = #{downloadsCount}</if>
            <if test="updateor != null  and updateor != ''"> and a.updateor = #{updateor}</if>
            <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.file_url = #{fileUrl}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="projectType != null  and projectType != ''"> and a.project_type = #{projectType}</if>
            <if test="proName != null  and proName != ''"> and b.project_name like concat('%', #{proName}, '%')</if>
        </where>
        order by a.create_time desc
    </select>




    <select id="selectSysUnderlyingDebtList" parameterType="SysUnderlyingData" resultMap="SysUnderlyingDataResult">
        SELECT
        distinct b.project_name,
        b.project_id
        FROM
        sys_underlying_data a
        left join sys_user u on a.create_by = u.login_name
        LEFT JOIN sys_project b ON a.project_id = b.project_id
        LEFT JOIN sys_project_zck ack ON b.project_zck_id = ack.project_zck_id
        <where>
            a.project_type = #{projectType}
            <if test="parentId != null "> and a.parent_id = #{parentId}</if>
            <if test="params.startTime != null and params.startTime != ''"><!-- 开始时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &gt;= date_format(#{params.startTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="createorName != null and createorName != ''"> and u.user_name like concat('%', #{createorName}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and a.file_type = #{fileType}</if>
            <if test="fileSize != null "> and a.file_size = #{fileSize}</if>
            <if test="downloadableFlag != null  and downloadableFlag != ''"> and a.downloadable_flag = #{downloadableFlag}</if>
            <if test="createor != null  and createor != ''"> and a.createor = #{createor}</if>
            <if test="previewCount != null "> and a.preview_count = #{previewCount}</if>
            <if test="downloadsCount != null "> and a.downloads_count = #{downloadsCount}</if>
            <if test="updateor != null  and updateor != ''"> and a.updateor = #{updateor}</if>
            <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.file_url = #{fileUrl}</if>
            <if test="proType != null  and proType != ''"> and ack.project_zck_type = #{proType}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="zckName != null  and zckName != ''"> and ack.zck_name like concat('%', #{zckName}, '%')</if>
            <if test="proName != null  and proName != '' and projectType ==0"> and b.project_name like concat('%', #{proName}, '%')</if>
            <if test="proName != null  and proName != '' and projectType ==1"> and ack.project_name like concat('%', #{proName}, '%')</if>
            <if test="projectZckId != null  and projectZckId != ''"> and ack.project_zck_id = #{projectZckId}</if>
        </where>
        order by a.create_time desc
    </select>
    <select id="selectSysUnderlyingNoLikeDataList" parameterType="SysUnderlyingData" resultMap="SysUnderlyingDataResult">
        SELECT
        distinct ack.zck_name,
        ack.project_zck_id
        FROM
        sys_underlying_data a
        left join sys_user u on a.create_by = u.login_name
        LEFT JOIN sys_project b ON a.project_id = b.project_id
        LEFT JOIN sys_project_zck ack ON b.project_zck_id = ack.project_zck_id
        <where>
            a.project_type = #{projectType}
            <if test="parentId != null "> and a.parent_id = #{parentId}</if>
            <if test="params.startTime != null and params.startTime != ''"><!-- 开始时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &gt;= date_format(#{params.startTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="createorName != null and createorName != ''"> and u.user_name like concat('%', #{createorName}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and a.file_type = #{fileType}</if>
            <if test="fileSize != null "> and a.file_size = #{fileSize}</if>
            <if test="downloadableFlag != null  and downloadableFlag != ''"> and a.downloadable_flag = #{downloadableFlag}</if>
            <if test="createor != null  and createor != ''"> and a.createor = #{createor}</if>
            <if test="previewCount != null "> and a.preview_count = #{previewCount}</if>
            <if test="downloadsCount != null "> and a.downloads_count = #{downloadsCount}</if>
            <if test="updateor != null  and updateor != ''"> and a.updateor = #{updateor}</if>
            <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.file_url = #{fileUrl}</if>
            <if test="proType != null  and proType != ''"> and ack.project_zck_type = #{proType}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="zckName != null  and zckName != ''"> and ack.zck_name like concat('%', #{zckName}, '%')</if>
            <if test="proName != null  and proName != '' and projectType ==0"> and b.project_name like concat('%', #{proName}, '%')</if>
            <if test="proName != null  and proName != '' and projectType ==1"> and zck.project_name like concat('%', #{proName}, '%')</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectSysUnderlyingNoLikeDetailDataList" parameterType="SysUnderlyingData" resultMap="SysUnderlyingDataResult">
        SELECT
        a.file_id,
        a.parent_id,
        a.file_name,
        a.file_type,
        a.file_size,
        a.downloadable_flag,
        a.create_time,
        a.createor,
        a.preview_count,
        a.downloads_count,
        a.update_time,
        a.updateor,
        a.update_by,
        a.project_id,
        a.file_url,
        a.create_by,
        a.project_type,
        u.user_name,
        ack.zck_name
        FROM
        sys_underlying_data a
        left join sys_user u on a.create_by = u.login_name
        LEFT JOIN sys_project b ON a.project_id = b.project_id
        LEFT JOIN sys_project_zck ack ON b.project_zck_id = ack.project_zck_id
        <where>
            a.project_type = #{projectType}
            <if test="parentId != null "> and a.parent_id = #{parentId}</if>
            <if test="params.startTime != null and params.startTime != ''"><!-- 开始时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &gt;= date_format(#{params.startTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="createorName != null and createorName != ''"> and u.user_name like concat('%', #{createorName}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and a.file_type = #{fileType}</if>
            <if test="fileSize != null "> and a.file_size = #{fileSize}</if>
            <if test="downloadableFlag != null  and downloadableFlag != ''"> and a.downloadable_flag = #{downloadableFlag}</if>
            <if test="createor != null  and createor != ''"> and a.createor = #{createor}</if>
            <if test="previewCount != null "> and a.preview_count = #{previewCount}</if>
            <if test="downloadsCount != null "> and a.downloads_count = #{downloadsCount}</if>
            <if test="updateor != null  and updateor != ''"> and a.updateor = #{updateor}</if>
            <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.file_url = #{fileUrl}</if>
            <if test="proType != null  and proType != ''"> and ack.project_zck_type = #{proType}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="zckName != null  and zckName != ''"> and ack.zck_name = #{zckName}</if>
            <if test="proName != null  and proName != '' and projectType ==0"> and b.project_name like concat('%', #{proName}, '%')</if>
            <if test="proName != null  and proName != '' and projectType ==1"> and zck.project_name like concat('%', #{proName}, '%')</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectSysUnderlyingProDataList" parameterType="SysUnderlyingData" resultMap="SysUnderlyingDataResult">
        SELECT
        a.file_id,
        a.parent_id,
        a.file_name,
        a.file_type,
        a.file_size,
        a.downloadable_flag,
        a.create_time,
        a.createor,
        a.preview_count,
        a.downloads_count,
        a.update_time,
        a.updateor,
        a.update_by,
        a.project_id,
        a.file_url,
        a.create_by,
        a.project_type,
        u.user_name
        FROM
        sys_underlying_data a
        LEFT JOIN sys_bgczzck c on a.project_id = c.id
        left join sys_user u on a.create_by = u.login_name
        LEFT JOIN sys_project b ON a.project_id = b.project_id
        LEFT JOIN sys_project_zck ack ON b.project_zck_id = ack.project_zck_id
        <where>
            a.project_type = #{projectType}
            <if test="parentId != null "> and a.parent_id = #{parentId}</if>
            <if test="params.startTime != null and params.startTime != ''"><!-- 开始时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &gt;= date_format(#{params.startTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(a.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="createorName != null and createorName != ''"> and u.user_name like concat('%', #{createorName}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileType != null  and fileType != ''"> and a.file_type = #{fileType}</if>
            <if test="fileSize != null "> and a.file_size = #{fileSize}</if>
            <if test="downloadableFlag != null  and downloadableFlag != ''"> and a.downloadable_flag = #{downloadableFlag}</if>
            <if test="createor != null  and createor != ''"> and a.createor = #{createor}</if>
            <if test="previewCount != null "> and a.preview_count = #{previewCount}</if>
            <if test="downloadsCount != null "> and a.downloads_count = #{downloadsCount}</if>
            <if test="updateor != null  and updateor != ''"> and a.updateor = #{updateor}</if>
            <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.file_url = #{fileUrl}</if>
            <if test="proType != null  and proType != ''"> and ack.project_zck_type = #{proType}</if>
            <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="proName != null  and proName != '' and projectType ==0"> and b.project_name like concat('%', #{proName}, '%')</if>
            <if test="proName != null  and proName != '' and projectType ==1"> and c.project_name like concat('%', #{proName}, '%')</if>
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectSysUnderlyingDataById" parameterType="Long" resultMap="SysUnderlyingDataResult">
        <include refid="selectSysUnderlyingDataVo"/>
        where file_id = #{fileId}
    </select>

    <select id="selectSysUnderlyingDataByPid" parameterType="Long" resultMap="SysUnderlyingDataResult">
        <include refid="selectSysUnderlyingDataVo"/>
        where project_id = #{projectId} and project_type = #{projectType}
    </select>
        
    <insert id="insertSysUnderlyingData" parameterType="SysUnderlyingData">
        insert into sys_underlying_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">file_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="fileType != null">file_type,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="downloadableFlag != null">downloadable_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createor != null">createor,</if>
            <if test="previewCount != null">preview_count,</if>
            <if test="downloadsCount != null">downloads_count,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateor != null">updateor,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="projectId != null">project_id,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="projectType != null">project_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">#{fileId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="downloadableFlag != null">#{downloadableFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createor != null">#{createor},</if>
            <if test="previewCount != null">#{previewCount},</if>
            <if test="downloadsCount != null">#{downloadsCount},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateor != null">#{updateor},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="projectType != null">#{projectType},</if>
         </trim>
    </insert>

    <update id="updateSysUnderlyingData" parameterType="SysUnderlyingData">
        update sys_underlying_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="downloadableFlag != null">downloadable_flag = #{downloadableFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createor != null">createor = #{createor},</if>
            <if test="previewCount != null">preview_count = #{previewCount},</if>
            <if test="downloadsCount != null">downloads_count = #{downloadsCount},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateor != null">updateor = #{updateor},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="projectType != null">project_type = #{projectType},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteSysUnderlyingDataById" parameterType="Long">
        delete from sys_underlying_data where file_id = #{fileId}
    </delete>

    <delete id="deleteSysUnderlyingDataByIds" parameterType="String">
        delete from sys_underlying_data where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
    
</mapper>