<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysValuationmapMapper">

    <resultMap type="SysValuationmap" id="SysValuationmapResult">
        <result property="id" column="id"/>
        <result property="itemId" column="item_id"/>
        <result property="itemTitle" column="item_title"/>
        <result property="itemAreameasure" column="item_areaMeasure"/>
        <result property="itemType" column="item_type"/>
        <result property="itemStatus" column="item_status"/>
        <result property="itemInitialprice" column="item_initialPrice"/>
        <result property="itemConsultprice" column="item_consultPrice"/>
        <result property="itemMarketprice" column="item_marketPrice"/>
        <result property="itemFinalprice" column="item_finalPrice"/>
        <result property="itemStartTime" column="item_start_time"/>
        <result property="itemEndTime" column="item_end_time"/>
        <result property="itemProvince" column="item_province"/>
        <result property="itemCity" column="item_city"/>
        <result property="itemCounty" column="item_county"/>
        <result property="itemSource" column="item_source"/>
        <result property="itemX" column="item_x"/>
        <result property="itemY" column="item_y"/>
        <result property="itemLink" column="item_link"/>
    </resultMap>

    <sql id="selectSysValuationmapVo">
        select id, item_id, item_title, item_areaMeasure, item_type, item_status, item_initialPrice, item_consultPrice, item_marketPrice, item_finalPrice, item_start_time, item_end_time, item_province, item_city, item_county, item_source, item_x, item_y, item_link from sys_valuationmap
    </sql>

    <select id="selectSysValuationmapList" parameterType="SysValuationmap" resultMap="SysValuationmapResult">
        <include refid="selectSysValuationmapVo"/>
        <where>
            <if test="itemId != null  and itemId != ''">and item_id = #{itemId}</if>
            <if test="itemTitle != null  and itemTitle != ''">and item_title = #{itemTitle}</if>
            <if test="itemAreameasure != null  and itemAreameasure != ''">and item_areaMeasure = #{itemAreameasure}</if>
            <if test="itemType != null  and itemType != ''">and item_type = #{itemType}</if>
            <if test="itemStatus != null  and itemStatus != ''">and item_status = #{itemStatus}</if>
            <if test="itemInitialprice != null ">and item_initialPrice = #{itemInitialprice}</if>
            <if test="itemConsultprice != null ">and item_consultPrice = #{itemConsultprice}</if>
            <if test="itemMarketprice != null ">and item_marketPrice = #{itemMarketprice}</if>
            <if test="itemFinalprice != null ">and item_finalPrice = #{itemFinalprice}</if>
            <if test="itemStartTime != null ">and item_start_time = #{itemStartTime}</if>
            <if test="itemEndTime != null ">and item_end_time = #{itemEndTime}</if>
            <if test="itemProvince != null  and itemProvince != ''">and item_province = #{itemProvince}</if>
            <if test="itemCity != null  and itemCity != ''">and item_city = #{itemCity}</if>
            <if test="itemCounty != null  and itemCounty != ''">and item_county = #{itemCounty}</if>
            <if test="itemSource != null  and itemSource != ''">and item_source = #{itemSource}</if>
            <if test="itemX != null  and itemX != ''">and item_x = #{itemX}</if>
            <if test="itemY != null  and itemY != ''">and item_y = #{itemY}</if>
            <if test="itemLink != null  and itemLink != ''">and item_link = #{itemLink}</if>
        </where>
    </select>

    <select id="selectSysValuationmapById" parameterType="Long" resultMap="SysValuationmapResult">
        <include refid="selectSysValuationmapVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysValuationmap" parameterType="SysValuationmap" useGeneratedKeys="true" keyProperty="id">
        insert into sys_valuationmap
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">item_id,</if>
            <if test="itemTitle != null">item_title,</if>
            <if test="itemAreameasure != null">item_areaMeasure,</if>
            <if test="itemType != null">item_type,</if>
            <if test="itemStatus != null">item_status,</if>
            <if test="itemInitialprice != null">item_initialPrice,</if>
            <if test="itemConsultprice != null">item_consultPrice,</if>
            <if test="itemMarketprice != null">item_marketPrice,</if>
            <if test="itemFinalprice != null">item_finalPrice,</if>
            <if test="itemStartTime != null">item_start_time,</if>
            <if test="itemEndTime != null">item_end_time,</if>
            <if test="itemProvince != null">item_province,</if>
            <if test="itemCity != null">item_city,</if>
            <if test="itemCounty != null">item_county,</if>
            <if test="itemSource != null">item_source,</if>
            <if test="itemX != null">item_x,</if>
            <if test="itemY != null">item_y,</if>
            <if test="itemLink != null">item_link,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">#{itemId},</if>
            <if test="itemTitle != null">#{itemTitle},</if>
            <if test="itemAreameasure != null">#{itemAreameasure},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="itemStatus != null">#{itemStatus},</if>
            <if test="itemInitialprice != null">#{itemInitialprice},</if>
            <if test="itemConsultprice != null">#{itemConsultprice},</if>
            <if test="itemMarketprice != null">#{itemMarketprice},</if>
            <if test="itemFinalprice != null">#{itemFinalprice},</if>
            <if test="itemStartTime != null">#{itemStartTime},</if>
            <if test="itemEndTime != null">#{itemEndTime},</if>
            <if test="itemProvince != null">#{itemProvince},</if>
            <if test="itemCity != null">#{itemCity},</if>
            <if test="itemCounty != null">#{itemCounty},</if>
            <if test="itemSource != null">#{itemSource},</if>
            <if test="itemX != null">#{itemX},</if>
            <if test="itemY != null">#{itemY},</if>
            <if test="itemLink != null">#{itemLink},</if>
        </trim>
    </insert>

    <update id="updateSysValuationmap" parameterType="SysValuationmap">
        update sys_valuationmap
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemTitle != null">item_title = #{itemTitle},</if>
            <if test="itemAreameasure != null">item_areaMeasure = #{itemAreameasure},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="itemStatus != null">item_status = #{itemStatus},</if>
            <if test="itemInitialprice != null">item_initialPrice = #{itemInitialprice},</if>
            <if test="itemConsultprice != null">item_consultPrice = #{itemConsultprice},</if>
            <if test="itemMarketprice != null">item_marketPrice = #{itemMarketprice},</if>
            <if test="itemFinalprice != null">item_finalPrice = #{itemFinalprice},</if>
            <if test="itemStartTime != null">item_start_time = #{itemStartTime},</if>
            <if test="itemEndTime != null">item_end_time = #{itemEndTime},</if>
            <if test="itemProvince != null">item_province = #{itemProvince},</if>
            <if test="itemCity != null">item_city = #{itemCity},</if>
            <if test="itemCounty != null">item_county = #{itemCounty},</if>
            <if test="itemSource != null">item_source = #{itemSource},</if>
            <if test="itemX != null">item_x = #{itemX},</if>
            <if test="itemY != null">item_y = #{itemY},</if>
            <if test="itemLink != null">item_link = #{itemLink},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysValuationmapById" parameterType="Long">
        delete from sys_valuationmap where id = #{id}
    </delete>

    <delete id="deleteSysValuationmapByIds" parameterType="String">
        delete from sys_valuationmap where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>