<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.system.mapper.SysZcbMapper">

    <resultMap type="SysZcb" id="SysZcbResult">
        <result property="id" column="id"/>
        <result property="assetPackageName" column="asset_package_name"/>
        <result property="assetStatus" column="asset_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="teamMembersId" column="team_members_id"/>
        <result property="teamMembersName" column="team_members_name"/>
    </resultMap>

    <sql id="selectSysZcbVo">
        select id, asset_package_name, asset_status, create_by, create_time, update_by, update_time,team_members_id,team_members_name from sys_zcb
    </sql>

    <select id="selectSysZcbList" parameterType="SysZcb" resultMap="SysZcbResult">
        <include refid="selectSysZcbVo"/>
        <where>
            del_flag='0'
            <if test="assetPackageName != null  and assetPackageName != ''">and asset_package_name like concat('%',
                #{assetPackageName}, '%')
            </if>
            <if test="assetStatus != null  and assetStatus != ''">and asset_status = #{assetStatus}</if>
            <if test="teamMembersId != null  and teamMembersId != ''">and team_members_id like concat('%',#{teamMembersId},'%')</if>
        </where>
    </select>

    <select id="selectSysZcbById" parameterType="Long" resultMap="SysZcbResult">
        <include refid="selectSysZcbVo"/>
        where id = #{id} and del_flag ='0'
    </select>

    <insert id="insertSysZcb" parameterType="SysZcb" useGeneratedKeys="true" keyProperty="id">
        insert into sys_zcb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="assetPackageName != null">asset_package_name,</if>
            <if test="assetStatus != null">asset_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="teamMembersId != null">team_members_id,</if>
            <if test="teamMembersName != null">team_members_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="assetPackageName != null">#{assetPackageName},</if>
            <if test="assetStatus != null">#{assetStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="teamMembersId != null">#{teamMembersId},</if>
            <if test="teamMembersName != null">#{teamMembersName},</if>
        </trim>
    </insert>

    <update id="updateSysZcb" parameterType="SysZcb">
        update sys_zcb
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetPackageName != null">asset_package_name = #{assetPackageName},</if>
            <if test="assetStatus != null">asset_status = #{assetStatus},</if>
            <if test="teamMembersId != null">team_members_id = #{teamMembersId},</if>
            <if test="teamMembersName != null">team_members_name = #{teamMembersName},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysZcbById" parameterType="Long">
        update sys_zcb set del_flag ='2' where id = #{id}
    </delete>

    <delete id="deleteSysZcbByIds" parameterType="String">
        update sys_zcb set del_flag ='2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectZcbByAssetStatus" resultMap="SysZcbResult">
        SELECT DISTINCT dict_sort,asset_status FROM (SELECT a2.dict_label,a2.dict_sort,a1.asset_status FROM
        sys_zcb a1 INNER JOIN sys_dict_data a2 ON a1.asset_status=a2.dict_value WHERE a2.dict_type='sys_zcb_assetStatus' AND a1.del_flag='0') as temp ORDER BY dict_sort
    </select>
</mapper>