<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')"/>
    <th:block th:include="include :: select2-css"/>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>
    <!--引用百度地图API-->
    <style type="text/css">
        html, body, #container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0
        }

        .info {
            z-index: 999;
            width: auto;
            padding: 10px;
            margin-left: 10px;
            position: fixed;
            top: 10px;
            background-color: #fff;
            border-radius: 5px;
            font-size: 14px;
            color: #666;
            box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
        }

        ul li {
            list-style: none;
        }

        .btn-wrap {
            z-index: 999;
            width: 290px;
            position: fixed;
            bottom: 30px;
            left: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: rgba(265, 265, 265, 0.9);
            box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
        }

        .btn {
            width: 120px;
            height: 30px;
            float: left;
            background-color: #fff;
            color: rgba(27, 142, 236, 1);
            font-size: 14px;
            border: 1px solid rgba(27, 142, 236, 1);
            border-radius: 5px;
            margin: 0 5px 6px;
            text-align: center;
            /*line-height: 30px;*/
        }

        .btn:hover {
            background-color: rgba(27, 142, 236, 0.8);
            color: #fff;
            cursor: pointer;
        }
    </style>
</head>
<body class="gray-bg">
<div>
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input type="hidden" class="latlon">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <div data-toggle="distpicker" id="distpicker">
                            <li>
                                省：<select name="province" id="province" data-province="---请选择省---"></select>
                            </li>
                            <li>
                                市：
                                <select name="city" id="city" data-city="---请选择市---"></select>
                            </li>
                        </div>
                        <li>
                            <label>地址：</label>
                            <input type="text" name="itemTitle" id="suggestId" onchange="selectPoint()"/>
                        </li>
                        <li>
                            <label>类型：</label>
                            <select id="itemType" class="form-control select2-multiple"
                                    th:with="type=${@dict.getType('debt_type')}" data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:value="${dict.dictValue}"
                                        th:text="${dict.dictLabel}"></option>
                            </select>
                        </li>
                        <li>
                            <label>距离：</label>
                            <select id="radius" class="form-control select2-multiple"
                                    th:with="type=${@dict.getType('valueMap_gap')}" data-none-selected-text="请选择">
                                <option th:each="dict : ${type}" th:value="${dict.dictValue}"
                                        th:text="${dict.dictLabel}"></option>
                            </select>
                        </li>
                        <li>
                            拍卖状态：<select name="itemStatus" id="itemStatus"
                                             th:with="type=${@dict.getType('judicial_status')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchs()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <!--                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i-->
                            <!--                                    class="fa fa-refresh"></i>&nbsp;重置</a>-->
                        </li>
                    </ul>
                    <!--                    <button onclick="selectLocation()">地图选点</button>-->
                </div>
                <div id="searchResultPanel"
                     style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
            </form>
        </div>
    </div>

</div>
<br>
<div id="container"></div>
<script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=qpeLGoMvRGNry7x5h7bf6IBfWOkIOmL1"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: distpicker-js"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:valuationmap:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:valuationmap:remove')}]];
    var prefix = ctx + "system/judicial";

    $('#distpicker').distpicker({
        autoSelect: false
    });

    var circle,   // 圆
        marker,  // 搜索点
        myValue; //搜索的地址

    // 百度地图API功能
    var map = new BMap.Map("container");    // 创建Map实例
    map.centerAndZoom('无锡市', 12);  // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

    var circleMarker,  // 圆内点
        circle,   // 圆
        marker  // 搜索点
    ;

    var markerArr;

    // 搜索按钮点击
    function searchs() {
        var province = $("#province").val();
        var city = $("#city").val();
        $.ajax({
            url: prefix + "/valuationmapList",
            data: {
                'itemType': $("#itemType").val(),
                'itemStatus': $("#itemStatus").val(),
                "itemCity": city,
                "itemProvince": province,
                "latLon": $('.latlon').val()
            },
            type: 'post',
            async: false,
            datatype: 'json',
            beforeSend: function () {
                $.modal.loading("正在努力地加载数据中，请稍候.....");
                $.modal.disable();
            },
            success: function (data) {
                markerArr = eval(data);
                $.modal.closeLoading();
                $.modal.enable();
            }
        })
        // 清除所有覆盖物
        map.clearOverlays();
        selectPoint();
        // 获取坐标值
        var latlon = $('.latlon').val().split(',');
        // 添加点标注
        //var point = new BMap.Point(latlon[0], latlon[1]);
        var marker = new BMap.Marker(new BMap.Point(latlon[0], latlon[1]));
        map.addOverlay(marker);
        // 设置中心点
        map.setCenter(new BMap.Point(latlon[0], latlon[1]));
        // 逆地址解析
        var geoc = new BMap.Geocoder();
        geoc.getLocation(new BMap.Point(latlon[0], latlon[1]), function (rs) {
            $('.local').html(rs.address)
        });
        // 获取圆半径
        var r;
        if ($.common.isEmpty($('#radius').val())) {
            r = 1000;
        } else {
            r = $('#radius').val();
        }

        // 创建以点为中心的圆
        var circle = new BMap.Circle(new BMap.Point(latlon[0], latlon[1]), r,
            {
                strokeColor: "#e61623", //线颜色
                strokeWeight: 2, //线宽
                fillColor: "#f18900", // 填充色
                fillOpacity: '0.1',  // 填充透明度
            });
        map.addOverlay(circle);

        //显示圆范围内的点
        for (var i in markerArr) {
            var json = markerArr[i];
            var p0 = json.itemXY.split(",")[0];
            var p1 = json.itemXY.split(",")[1];
            var point = new BMap.Point(p0, p1);
            var icon = createIcon(json);
            if (BMapLib.GeoUtils.isPointInCircle(point, circle)) {
                // 创建Marker标注，使用小车图标
                var marker1 = new BMap.Marker(point, {icon: icon});

                map.addOverlay(marker1);

                (function () {
                    var index = i;
                    var _iw = createInfoWindow(json);
                    var _marker = marker1;
                    _marker.addEventListener("click", function () {
                        this.openInfoWindow(_iw, new BMap.Point(p0, p1));
                    });
                    if (!!json.isOpen) {
                        label.hide();
                        _marker.openInfoWindow(_iw, point);
                    }
                })()
            }
        }
    }

    function selectPoint() {
        var province = $("#province").val();
        var city = $("#city").val();
        if ($.common.isEmpty(province) || $.common.isEmpty(city)) {
            return $.modal.alertWarning("请选择省份和城市");
        }
        var value = $("#suggestId").val();
        //创建地址解析器实例
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上，并调整地图视野
        myGeo.getPoint(province + city + value, function (point) {
            if (point) {
                map.centerAndZoom(point, 16);
                map.addOverlay(new BMap.Marker(point, {title: province + city + value}))
                $(".latlon").val(point.lng + "," + point.lat);
            } else {
                alert('您选择的地址没有解析到结果！');
            }
        }, '无锡市');
    }

    //创建InfoWindow
    function createInfoWindow(json) {
        var opts = {
            width: 350,     // 信息窗口宽度
            height: 280,     // 信息窗口高度
            title: '<p><h4>' + json.title + '</h4></p>'  // 信息窗口标题
        }
        var message = "<p><b>性质：</b>" + $.common.nullToStr(json.type) + "</p><p><b>地址：</b>" + $.common.nullToStr(json.address) + "</p>" +
            '<p><b>网址：</b><a href="' + json.itemLink + '" target="_blank">' + $.common.nullToStr(json.itemLink) + '</a></p><p><b>成交总价：</b>' +
            $.operate.numberFormatter(json.itemCurrentprice, 3, '.', ',') + '（元）</p><p><b>成交日期：</b>' + $.common.nullToStr(json.itemEndTime) + '</p><p><b>状态：</b>' + $.common.nullToStr(json.tags) + '</p>' +
            '<p><b>距离选点位置（米）：</b>' + json.latLon + '</p> ' +
            "<p><b>估值计算：</b><a href='javascript:void(0)' onclick='valuationModel(&quot;" + json.itemId + "&quot;,&quot;" + json.latLon + "&quot;)'>估值计算</a></p>";
        var infoWindow = new BMap.InfoWindow(message, opts);  // 创建信息窗口对象
        return infoWindow;
    }

    function valuationModel(itemId, latLon) {
        var url = ctx + 'system/valuationModel/valuationModel?itemId=' + itemId + "&latLon=" + latLon;
        $.modal.open("估值计算", url, '750', '600');
    }

    //创建一个Icon
    function createIcon(json) {
        var icon;
        if ($.common.equals("住宅用房", json.type)) {
            icon = "../../../static/img/zz.png"
        } else if ($.common.equals("工业用房", json.type)) {
            icon = "../../../static/img/gy(3).png"
        } else if ($.common.equals("商业用房", json.type)) {
            icon = "../../../static/img/syyf.png"
        } else if ($.common.equals("其他用房", json.type)) {
            icon = "../../../static/img/qtyf.png";
        } else if ($.common.equals("土地", json.type)) {
            icon = "../../../static/img/td.png";
        } else {
            icon = "../../../static/img/dw.png";
        }
        var myIcon = new BMap.Icon(icon, new BMap.Size(52, 26));

        return myIcon;
    }

</script>
</body>
</html>