<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产包列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <!--<form id="formId" method="get" action="/system/zcb/queryAll">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>借款人名称：</label>
                                <input type="text" name="borrower"/>
                            </li>
                            <li>
                                <label>城市/地区：</label>
                                <input type="text" name="city"/>
                            </li>
                            <li>
                                <label>保证人：</label>
                                <input type="text" name="guarantor"/>
                            </li>
                            <li>
                                <label>抵押顺位：</label>
                                <input type="text" name="mortgageRank"/>
                            </li>
                            <li>
                                <label>土地性质：</label>
                                <input type="text" name="natureLand"/>
                            </li>
                            <li>
                                <label>抵/置押物类型：</label>
                                <select name="collateType" id="collateType" th:with="type=${@dict.getType('sys_zcb_collateraType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary">查询</button>
                                <button onclick="$.form.reset()" class="btn btn-danger" type="button">重置</button>
                            </li>
                        </ul>
                    </div>
                </form>-->
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>借款人名称：</label>
                                <input type="text" name="projectName"/>
                            </li>
                            <li>
                                <label>城市/地区：</label>
                                <input type="text" name="city"/>
                            </li>
                            <li>
                                <label>保证人：</label>
                                <input type="text" name="guarantor"/>
                            </li>
                            <li>
                                <label>抵押顺位：</label>
                                <input type="text" name="mortgageRank"/>
                            </li>
                            <li>
                                <label>土地性质：</label>
                                <input type="text" name="natureLand"/>
                            </li>
                            <li>
                                <label>抵/置押物类型：</label>
                                <select name="collateType" id="collateType" th:with="type=${@dict.getType('sys_zcb_collateraType')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>资产包状态：</label>
                                <select name="zcbStatus" th:with="type=${@dict.getType('sys_zcb_assetStatus')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <button type="button" onclick="jump()" class="btn btn-primary">查询</button>
                                <button onclick="$.form.reset()" class="btn btn-danger" type="button">重置</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:zcb:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <!--<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:zcb:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:zcb:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:zcb:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:zcb:remove')}]];
        var prefix = ctx + "system/zcb";

        $(function() {

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "资产包",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'assetStatus',
                    title: '资产包状态',
                    formatter: function(value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.assetStatus + '\')">' + value + '</a>';
                    }
                }]
            };
            $.table.init(options);
        });
        /*资产库列表-详细*/
        function detail(assetStatus) {
            var url = prefix + '/selectZcbByAssetStatus/' + assetStatus;
            $.modal.openTab(assetStatus+"列表", url);
        }

        function jump(){
            var data=$("#formId").serialize();
            $.operate.gets(prefix + "/queryAll", data,"查询界面");
        }
    </script>
</body>
</html>