<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产包列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" id="assetStatus" th:value="*{assetStatus}" name="assetStatus">
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:zcb:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:zcb:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:zcb:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:zcb:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:zcb:remove')}]];
    var detailFlag = [[${@permission.hasPermi('system:zcb:detail')}]];
    var prefix = ctx + "system/zcb";

    $(function () {
        var options = {
            url: prefix + "/lists",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "资产包",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'assetPackageName',
                    title: '资产包名称',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.id + "',\'" + row.assetPackageName + '\')">' + strLength(value) + '</a>';
                    },
                    sortable: true
                },
                {
                    field: 'evaluationTime',
                    title: '评估时间',
                    formatter: function (value, row, index) {
                        return $.common.changeDateFormatToMonth(value);
                    }
                },
                {
                    field: 'collateralTotal',
                    title: '抵押物估值总价',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                },
                {
                    field: 'capValue',
                    title: '盖帽值',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                },
                {
                    field: 'teamMembersName',
                    title: '小组成员'
                }]
        };
        $.table.init(options);
    });

    /*资产库列表-详细*/
    function detail(id, assetPackageName) {
        var url = prefix + '/detail/' + id;
        $.modal.openTab(assetPackageName + "列表", url);
    }

    //控制显示的字数
    function strLength(value) {
        var str = $.common.nullToStr(value);
        if (str.length > 20) {
            str = str.substring(0, 20) + '...';
        }
        return str;
    }
</script>
</body>
</html>