<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增员工信息')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-staff-add" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">员工姓名：</label>
            <div class="col-sm-8">
                <input name="staffName" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">出生日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="birthday" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">性别：</label>
            <div class="col-sm-8">
                <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">原始入职日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="entryDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">核算入职日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="accounteEntryDate" id="accounteEntryDate" class="form-control" placeholder="yyyy-MM-dd"
                           type="text" onchange="accounteEntryDateChange()">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">司龄：</label>
            <div class="col-sm-8">
                <input name="secretaryLing" id="secretaryLing" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">联系方式1：</label>
            <div class="col-sm-8">
                <input name="contact1" id="contact1" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系方式2：</label>
            <div class="col-sm-8">
                <input name="contact2" id="contact2" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">所属部门：</label>
            <div class="col-sm-8">
                <input name="departmentId" id="departmentId" class="form-control" type="hidden">
                <input name="departmentName" id="departmentName"
                       onclick="selectDeptTree()" class="form-control"
                       type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">学历：</label>
            <div class="col-sm-8">
                <select name="education" class="form-control m-b" th:with="type=${@dict.getType('sys_staff_education')}"
                        required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">员工状态：</label>
            <div class="col-sm-8">
                <label class="toggle-switch switch-solid">
                    <input type="checkbox" id="status" checked required onchange="statusChange()">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">离职日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="leaveDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">简历：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input name="resume" id="resume" type="file" multiple="multiple">
                </div>
            </div>
        </div>-->
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script src="../static/ajax/libs/moment/moment.js"
        th:src="@{/ajax/libs/moment/moment.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "system/staff"
    $("#form-staff-add").validate({
        onkeyup: false,
        rules: {
            contact1: {
                isPhone: true
            },
            contact2: {
                isPhone: true
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-staff-add").serializeArray();
            var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
            data.push({"name": "status", "value": status});
            $.operate.save(prefix + "/add", data);
        }
    }

    // 上传进度
    var xhrOnProgress = function (fun) {
        xhrOnProgress.onprogress = fun; //绑定监听
        //使用闭包实现监听绑
        return function () {
            //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
            var xhr = $.ajaxSettings.xhr();
            //判断监听函数是否为函数
            if (typeof xhrOnProgress.onprogress !== 'function')
                return xhr;
            //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
            if (xhrOnProgress.onprogress && xhr.upload) {
                xhr.upload.onprogress = xhrOnProgress.onprogress;
            }
            return xhr;
        }
    }

    $("input[name='birthday']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='entryDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='leaveDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='accounteEntryDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    function selectDeptTree() {
        var departmentId = $("#departmentId").val();
        var url = "";
        if ($.common.isNotEmpty(departmentId)) {
            url = ctx + "system/department/selectDeptTree/" + departmentId;
        } else {
            url = ctx + "system/department/selectDeptTree";
        }
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#departmentId").val(body.find('#treeId').val());
            $("#departmentName").val(body.find('#treeName').val());
            layer.close(index);
            if ("已离职" == $("#departmentName").val()) {
                $("#status").prop("checked", false);
            } else {
                $("#status").prop("checked", true);
            }
        }
    }

    function accounteEntryDateChange() {
        var date = $("#accounteEntryDate").val();
        var newDate = new Date();
        var a = moment(date);
        var b = moment(newDate);
        b.diff(a, "years");
        $("#secretaryLing").val(b.diff(a, "years"));
    }

    function statusChange() {
        var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
        if ("1" == status) {
            $.ajax({
                url: prefix + "/selectDepartment",
                type: 'post',
                data: '',
                dataType: 'json',
                success: function (result) {
                    $("#departmentId").val(result.data.departmentId);
                    $("#departmentName").val(result.data.departmentName);
                }
            })
        } else {
            $.modal.msgError("请先修改所属部门");
            selectDeptTree();
            $("#status").prop("checked", false);
        }
    }

</script>
</body>
</html>