<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('员工详细')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <input id="resumeUrl" th:value="${sysStaff.resumeUrl}" type="hidden">
    <table class="table table-striped">
        <tr>
            <td style="width: 20%!important;"><h5>员工姓名：</h5></td>
            <td style="width: 80%!important;"><span th:text="${sysStaff.staffName}"/></td>
        </tr>
        <tr>
            <td><h5>出生日期：</h5></td>
            <td><span th:text="${#dates.format(sysStaff.birthday, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td><h5>性别：</h5></td>
            <td><span th:text="${@dict.getLabel('sys_user_sex', sysStaff.sex)}"/></td>
        </tr>
        <tr>
            <td><h5>原始入职日期：</h5></td>
            <td><span th:text="${#dates.format(sysStaff.entryDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td><h5>核算入职日期：</h5></td>
            <td><span th:text="${#dates.format(sysStaff.accounteEntryDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td><h5>司龄：</h5></td>
            <td><span th:text="${sysStaff.secretaryLing}"/></td>
        </tr>
        <tr>
            <td><h5>联系方式1：</h5></td>
            <td><span th:text="${sysStaff.contact1}"/></td>
        </tr>
        <tr>
            <td><h5>联系方式2：</h5></td>
            <td><span th:text="${sysStaff.contact2}"/></td>
        </tr>
        <tr>
            <td><h5>所属部门：</h5></td>
            <td><span th:text="${sysStaff.departmentName}"/></td>
        </tr>
        <tr>
            <td><h5>学历：</h5></td>
            <td><span th:text="${@dict.getLabel('sys_staff_education', sysStaff.education)}"/></td>
        </tr>
        <tr>
            <td><h5>员工状态：</h5></td>
            <td><span th:text="${sysStaff.status}"/></td>
        </tr>
        <tr>
            <td><h5>离职日期：</h5></td>
            <td><span th:text="${#dates.format(sysStaff.leaveDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td><h5>文件信息：</h5></td>
            <td>
                <div id="getData" class="form-group"></div>
            </td>
        </tr>
    </table>

</div>
<th:block th:include="include :: footer"/>
<script src="../static/ajax/libs/moment/moment.js"
        th:src="@{/ajax/libs/moment/moment.js}"></script>
<script>
    $(function () {
        var url = $("#resumeUrl").val();
        console.log(url);
        var urlArray = url.split(";");
        getFileDatas(urlArray);
    });

    function getFileDatas(urlArray) {
        var str = '';
        if ($.common.isNotEmpty(urlArray)) {
            for (let i in urlArray) {
                var array_element = urlArray[i];
                if ($.common.isNotEmpty(array_element)) {
                    if ($.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'pptx') ||
                        $.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'ppt')) {
                        str += '<div class="col-sm-3" style="height: 150px;"><div class="fa fa-file-powerpoint-o" style="letter-spacing:20px;font-weight: 600;font-size: 4em;margin: 30px;"></div><div><a onclick="toPdf(\'' + array_element + '\')" style="word-wrap: break-word">'
                            + $.common.getFileNameByPath(array_element) + '</a></div></div>';
                    } else if ($.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'doc') ||
                        $.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'docx') ||
                        $.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'txt')) {
                        str += '<div class="col-sm-3" style="height: 150px;"><div class="fa fa-file-word-o" style="letter-spacing:20px;font-weight: 600;font-size: 4em;margin: 30px;"></div><div><a onclick="toPdf(\'' + array_element + '\')" style="word-wrap: break-word">'
                            + $.common.getFileNameByPath(array_element) + '</a></div></div>';
                    } else if ($.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'pdf')) {
                        str += '<div class="col-sm-3" style="height: 150px;"><div class="fa fa-file-pdf-o" style="letter-spacing:20px;font-weight: 600;font-size: 4em;margin: 30px;"></div><div><a target="_blank" href="/documentFile/showPdfY?path=' + array_element + '" style="word-wrap: break-word">'
                            + $.common.getFileNameByPath(array_element) + '</a></div></div>';
                    } else if ($.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'png') ||
                        $.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'jpg') ||
                        $.common.equalsIgnoreCase($.common.getFileTypeByPath(array_element), 'jpeg')) {
                        str += '<div class="col-sm-3" style="height: 150px;"><div class="fa fa-image" style="letter-spacing:20px;font-weight: 600;font-size: 4em;margin: 30px;"></div><a onclick="imgPre(\'' + array_element + '\')" style="word-wrap: break-word">' + $.common.getFileNameByPath(array_element) + '</a></div></div>';
                    }
                }
            }
            $("#getData").append(str);
        }
    }

    function toPdf(url) {
        window.open(ctx + "common/onlinePreview?url=" + encodeURIComponent(url));
    }

    function imgPre(url) {
        $.table.previewImg(url.split(','));
    }

    function img(url) {
        return '<div><img src="' + url + '" width="90" height="90"></div>';
    }
</script>
</body>
</html>