<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增投后部项目管理')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <input name="fwProjectType" id="fwProjectType" type="hidden" th:value="${fwProjectType}">
    <form class="form-horizontal m" id="form-project-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">序号：</label>
            <div class="col-sm-8">
                <input name="no" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <input name="projectZckId" type="hidden" th:value="${projectZckId}"/>
            <input name="parentId" type="hidden" th:value="${parentId}">
            <input name="otherFlag" type="hidden" th:value="${otherFlag}">
            <label class="col-sm-3 control-label" id="projectName"></label>
            <div class="col-sm-8">
                <input name="projectName" class="form-control" type="text">
            </div>
        </div>
        <div id="otherFalse">
            <div class="form-group">
                <label class="col-sm-3 control-label">城市/地区：</label>
                <div class="col-sm-8">
                    <input name="city" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">放款银行：</label>
                <div class="col-sm-8">
                    <input name="loanBank" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">合同本金(元)：</label>
                <div class="col-sm-8">
                    <input name="contractPrincipal" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">本金余额(元)：</label>
                <div class="col-sm-8">
                    <input name="principalBalance" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">利息余额(元)：</label>
                <div class="col-sm-8">
                    <input name="interestBalance" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">本息余额(元)：</label>
                <div class="col-sm-8">
                    <input name="principalInterestBalance" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">保证人：</label>
                <div class="col-sm-8">
                    <textarea name="guarantor" class="form-control"></textarea>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：保证人1;保证人2;保证人3</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">抵押物：</label>
                <div class="col-sm-8">
                    <textarea name="collateral" class="form-control"></textarea>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：抵押物1;抵押物2;抵押物3</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">质押物：</label>
                <div class="col-sm-8">
                    <textarea name="pledge" class="form-control"></textarea>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：质押物1;质押物2;质押物3</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" id="projectManagers"></label>
            <div class="col-sm-8">
                <input class="form-control" type="hidden" name="projectManagerId" id="projectManagerId">
                <input class="form-control" type="text" name="projectManager" id="projectManager" onclick="selectUserTree()">
            </div>
        </div>
        <div id="otherTrue">
            <div class="form-group">
                <label class="col-sm-3 control-label">涉诉金额(元)：</label>
                <div class="col-sm-8">
                    <input name="principalBalance" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">应诉主体：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="lawsuit" id="lawsuit">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">起诉主体：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="sue" id="sue">
                </div>
            </div>
        </div>
        <div id="otherFalse1">
            <div class="form-group">
                <label class="col-sm-3 control-label">债权状态：</label>
                <div class="col-sm-8">
                    <select name="debtStatus" class="form-control m-b"
                            th:with="type=${@dict.getType('sys_project_debtStatus')}">
                        <option value="">--请选择一条数据--</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">司法状态：</label>
            <div class="col-sm-8">
                <select name="judicialStatus" class="form-control m-b"
                        th:with="type=${@dict.getType('sys_project_sfzt')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">管辖法院：</label>
            <div class="col-sm-8">
                <textarea name="competentCourt" class="form-control"></textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：法院名称为全称</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：无锡市梁溪区人民法院</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法官及联系方式：</label>
            <div class="col-sm-8">
                <textarea name="judgeContact" class="form-control"></textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：请写法官全名及手机号</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：张三1385188xxxx</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">律所：</label>
            <div class="col-sm-8">
                <input name="lawFirm" class="form-control" type="text">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：律所名称为全称</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：江苏阳羡律师事务所</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">律师及联系方式：</label>
            <div class="col-sm-8">
                <input name="lawyerContact" class="form-control" type="text">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：请写律师全名及手机号</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：张三1385188xxxx</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所属债权合同编号：</label>
            <div class="col-sm-8">
                <textarea name="contractNo" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">诉讼时效起算日：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="limitationAction" class="form-control" style="width: 85%" placeholder="yyyy-MM-dd"
                           type="text">
                    <label class="toggle-switch switch-solid" style="margin-left: 5%">
                        <input type="checkbox" id="limitation">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开庭时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="openTime" id="openTime" type="hidden">
                    <select onchange="typeChange(this)" class="form-control" style="width: 35%">
                        <option value="一审">一审</option>
                        <option value="二审">二审</option>
                        <option value="再审">再审</option>
                        <option value="其他">其他</option>
                    </select>
                    <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                    <input name="openTimes" id="openTimes" class="form-control" placeholder="yyyy-MM-dd" type="text"
                           autocomplete="off" style="width: 65%">
                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delOpenTimes"
                            onclick="delete(this)"><span class="glyphicon glyphicon-minus"></span></button>
                </div>
                <button class="btn btn-info" type="button" title="新增" id="addSaltIpGrpBtn"
                        onclick="addSaltIpGrp(this)">
                    <span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">查封标的：</label>
            <div class="col-sm-8">
                <textarea name="sealUpSubjectMatter" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">查封日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="sealUpDate" class="form-control" style="width: 85%" placeholder="yyyy-MM-dd"
                           type="text">
                    <label class="toggle-switch switch-solid" style="margin-left: 5%">
                        <input type="checkbox" id="seizure">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">执行时效起算日：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="limitationExecution" class="form-control" style="width: 85%" placeholder="yyyy-MM-dd"
                           type="text">
                    <label style="margin-left: 5%" class="toggle-switch switch-solid">
                        <input type="checkbox" id="ageing">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">起诉立案日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="dateFiling" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">一审判决案号及日期：</label>
            <div class="col-sm-8">
                <textarea name="firstInstance" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">二审判决案号及日期：</label>
            <div class="col-sm-8">
                <textarea name="secondInstance" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">再审判决案号及日期：</label>
            <div class="col-sm-8">
                <textarea name="retrial" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">执行立案日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="enforcementFilingDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">出具评估报告日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="appraisalReportDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第一次挂拍日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="firstShotDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第二次挂拍日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="secondShotDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">变卖挂拍日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="sellShotDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">拍卖成交日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="successfulBidderDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">执行款到账日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="paymentReceivedDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script>
    var prefix = ctx + "system/project"
    var fwProjectType = $("#fwProjectType").val();

    $(function () {
        if ($.common.isNotEmpty(fwProjectType)) {
            $("#projectName").html("项目案件：");
            if ($.common.equalsIgnoreCase("otherProject", fwProjectType)) {
                $("#otherFalse").css("display", "none");
                $("#otherFalse1").css("display", "none");
                $("#projectManagers").html("公司负责人：");
            } else {
                $("#otherTrue").css("display", "none");
                $("#projectManagers").html("项目经理：");
            }
        } else {
            $("#projectName").html("项目名称：");
            $("#projectManagers").html("项目经理：");
            $("#otherTrue").css("display", "none");
        }
    })

    $("#form-project-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $('form').find('div:hidden').find(':input').attr('disabled', 'disabled');
            var data = $('#form-project-add').serializeArray();
            var seizure = $("input[id='seizure']").is(':checked') == true ? 0 : 1;
            var ageing = $("input[id='ageing']").is(':checked') == true ? 0 : 1;
            var limitation = $("input[id='limitation']").is(':checked') == true ? 0 : 1;
            data.push({"name": "seizure", "value": seizure});
            data.push({"name": "ageing", "value": ageing});
            data.push({"name": "limitation", "value": limitation});
            $.operate.save(prefix + "/add", data);
        }
    }

    $("input[name='sealUpDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='dateFiling']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='enforcementFilingDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='appraisalReportDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='firstShotDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='secondShotDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='sellShotDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='successfulBidderDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='paymentReceivedDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='limitationAction']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='limitationExecution']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    var i = 0;

    function addSaltIpGrp(obj) {
        i++;
        var str = '<div class="input-group date">';
        str += '<select onchange="typeChange(this)" class="form-control" style="width: 35%">';
        str += '<option value="一审">一审</option>';
        str += '<option value="二审">二审</option>';
        str += '<option value="再审">再审</option>';
        str += '<option value="其他">其他</option>';
        str += '</select>';
        //str += '<span class="input-group-addon"><i class="fa fa-calendar"></i></span>';
        str += '<input name="openTimes" id="openTimes" class="form-control" placeholder="yyyy-MM-dd" type="text"autocomplete="off" style="width: 65%">';
        str += '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delOpenTimes" onclick="delete(this)"><span class="glyphicon glyphicon-minus"></span></button>';
        str += '</div>';
        $(str).insertBefore(obj);
        $.initDataPlugin();
    };

    function typeChange(obj) {
        var value = $(obj).val();
        if ('其他' == value) {
            var str = '<input name="openType" class="form-control" type="text" style="width: 35%" onBlur="onBlur(this)">';
            $(str).insertAfter(obj);
            $(obj).hide();
        } else {
            var push = [];
            var thisTime = $(obj).next().val();
            var openTime = $("#openTime").val();
            if ($.common.isNotEmpty(openTime)) {
                var str1 = eval($("#openTime").val());
                for (var i = 0; i < str1.length; i++) {
                    if ($.common.isNotEmpty(thisTime)) {
                        if ($.common.equalsIgnoreCase(thisTime, str1[i].value)) {
                            str1[i].type = $(obj).val();
                        }
                    }
                    push.push(str1[i]);
                }
            }
            $("#openTime").val(JSON.stringify(unique(push)));
        }
    }

    function onBlur(obj) {
        var push = [];
        var thisTime = $(obj).next().val();
        if ($.common.isNotEmpty(thisTime)) {
            var openTime = $("#openTime").val();
            if ($.common.isNotEmpty(openTime)) {
                var str1 = eval($("#openTime").val());
                for (var i = 0; i < str1.length; i++) {
                    if ($.common.isNotEmpty(thisTime)) {
                        if ($.common.equalsIgnoreCase(thisTime, str1[i].value)) {
                            str1[i].type = $(obj).val();
                        }
                    }
                    push.push(str1[i]);
                }
            }
            $("#openTime").val(JSON.stringify(unique(push)));
        }
    }

    function unique(list) {
        var arr = [];
        for (var i = 0; i < list.length; i++) {
            if (i == 0) arr.push(list[i]);
            b = false;
            if (arr.length > 0 && i > 0) {
                for (var j = 0; j < arr.length; j++) {
                    if (arr[j].type == list[i].type || arr[j].value == list[i].value) {
                        b = true;
                        break;
                    }
                }
                if (!b) {
                    arr.push(list[i]);
                }
            }
        }
        return arr;
    }

    $(document).on('click', '#delOpenTimes', function () {
            var type = $(this).prev().prev().val();
            var openTime = $("#openTime").val();
            var str1 = eval(openTime);
            var index;
            for (var i = 0; i < str1.length; i++) {
                if ($.common.isNotEmpty(type)) {
                    if (str1[i].type == type) {
                        index = i;
                        break;
                    }
                }
            }
            str1.splice(index, 1);
            $("#openTime").val(JSON.stringify(str1));
            $(this).parent().remove();
        }
    );
    $.initDataPlugin = function () {
        $("input[name='openTimes']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: 'month',
            autoclose: true,
        }).on("hide", function (ev) {
            var thisTime = $(this).val();
            var type = $(this).prev().val();
            var push = [];
            var str = "";
            var openTime = $("#openTime").val();
            var str1 = eval(openTime);
            if ($.common.isNotEmpty(str1)) {
                for (var i = 0; i < str1.length; i++) {
                    if ($.common.isNotEmpty(type)) {
                        if ($.common.equalsIgnoreCase(type, str1[i].type)) {
                            str1[i].value = thisTime;
                        } else {
                            str = '{"type":"' + type + '","value":"' + thisTime + '"}';
                        }
                    }
                    if ($.common.isNotEmpty(str)) {
                        push.push(JSON.parse(str));
                    }
                    push.push(str1[i]);
                }
            } else {
                str = '{"type":"' + type + '","value":"' + thisTime + '"}';
                push.push(JSON.parse(str));
            }
            $("#openTime").val(JSON.stringify(unique(push)));
        });
    };
    $.initDataPlugin();


    function selectUserTree() {
        var options = {
            title: '人员选择',
            width: "750",
            url: ctx + "system/user/selectUserTree?selectedUserIds=" + $("#projectManagerId").val() + "&selectedUserNames=" + $("#projectManager").val() + "&multiSelectFlag=true" + "&deptId=false",
            callBack: doSelect
        };
        $.modal.openOptions(options);
    }

    function doSelect(index, layero){

        var body = layer.getChildFrame('body', index);

        var userIds = "";
        var userNames = "";
        body.find("#multiselect_to option").each(function(){  //遍历所有option
            var val = $(this).val();   //获取option值
            var txt = $(this).text();  //获取option的文本内容
            if(val!= '' && txt!=''){
                userIds = userIds + val + ",";
                userNames = userNames + txt + ",";
            }
        });

        userIds = userIds.substring(0,userIds.length-1);
        userNames = userNames.substring(0,userNames.length-1);

        $("#projectManagerId").val(userIds);
        $("#projectManager").val(userNames);
        layer.close(index);
    }

</script>
</body>
</html>