<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('项目详细')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <table class="table table-border">
        <input id="createBy" th:field="${sysProject.isCreate}" type="hidden">
        <input id="projectId" th:field="${sysProject.projectId}" type="hidden">
        <input id="projectZckId" th:field="${sysProject.projectZckId}" type="hidden">
        <input id="projectZckName" th:field="${sysProject.projectZckName}" type="hidden">
        <input id="pId" th:field="${sysProject.pId}" type="hidden">
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>债权情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right">序号:</td>
            <td class="col-sm-1"><span th:text="${sysProject.no}"/></td>
            <td class="col-sm-1 text-right">借款人名称：</td>
            <td class="col-sm-1"><span th:text="${sysProject.projectName}"/></td>
            <td class="col-sm-1 text-right"><h5>城市/名称:</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.city}"/></td>
            <td class="col-sm-1 text-right"><h5>放款银行：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.loanBank}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>合同本金（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.contractPrincipals}"/></td>
            <td class="col-sm-1 text-right"><h5>本金余额（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.principalBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>利息余额（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.interestBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>本息余额（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.principalInterestBalances}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>保证人：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.guarantor}"/></td>
            <td class="col-sm-1 text-right"><h5>抵押物：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.collateral}"/></td>
            <td class="col-sm-1 text-right"><h5>质押物：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.pledge}"/></td>
            <td class="col-sm-1 text-right"><h5>项目经理：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.projectManager}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>债权状态</h5></td>
            <td class="col-sm-1" colspan="7"><span th:text="${sysProject.debtStatus}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>司法情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>司法状态：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.judicialStatus}"/></td>
            <td class="col-sm-1 text-right"><h5>管辖法院：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.competentCourt}"/></td>
            <td class="col-sm-1 text-right"><h5>法官及联系方式：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.judgeContact}"/></td>
            <td class="col-sm-1 text-right"><h5>律所：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.lawFirm}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>律师及联系方式：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.lawyerContact}"/></td>
            <td class="col-sm-1 text-right"><h5>备注：</h5></td>
            <td class="col-sm-1" colspan="4"><span th:text="${sysProject.judicialRemarks}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>诉讼及执行进展</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>所属债权合同编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.contractNo}"/></td>
            <td class="col-sm-1 text-right"><h5>诉讼时效起算日：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.limitationAction, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>查封标的：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.sealUpSubjectMatter}"/></td>
            <td class="col-sm-1 text-right"><h5>查封日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.sealUpDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>执行时效起算日：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.limitationExecution, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>起诉立案日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.dateFiling, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>一审判决案号及日期：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.firstInstance}"/></td>
            <td class="col-sm-1 text-right"><h5>二审判决案号及日期：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.secondInstance}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>再审判决案号及日期：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.retrial}"/></td>
            <td class="col-sm-1 text-right"><h5>执行立案日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.enforcementFilingDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>出具评估报告日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.appraisalReportDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>第一次挂拍日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.firstShotDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr id="create1">
            <td class="col-sm-1 text-right"><h5>第二次挂拍日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.secondShotDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>变卖挂拍日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.sellShotDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>拍卖成交日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.successfulBidderDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>执行款到账日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.paymentReceivedDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <!--<tr id="create1"><td colspan="8" style="text-align: center" class="success"><h3>成交信息</h3></td></tr>-->
    </table>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-info" onclick="back()"><i class="fa fa-backward"></i>返 回</button>&nbsp;
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
    $(function () {
        var createBy = $("#createBy").val();
        var projectId = $("#projectId").val();
        /*if ("true" == createBy) {
           // $("#create1").show();
            $.ajax({
                type: 'post',
                url: ctx + 'system/project/selectPCustomerByProjectId',
                data: {'projectId': projectId},
                dataType: "JSON",
                success: function (result) {
                    var arr = result.sysPcustomerList;
                    var str = "<tr id=\"create1\"><td colspan=\"8\" style=\"text-align: center\" class=\"success\"><h3>成交信息</h3></td></tr>";
                    var num = 0;
                    for (var i = 0; i < result.sysPcustomerList.length; i++) {
                        if ((num % 4) == 0) {
                            str += '<tr>';
                        }
                        str += '<td class=\"col-sm-1 text-right\">';
                        str += "<h5>";
                        str += arr[i].customerLable;
                        str += "：</h5></td>";
                        str += "<td class=\"col-sm-1\">"
                        str += arr[i].customerName;
                        str += "</td>";
                        num++;
                        if ((num % 4) == 0) {
                            str += '</tr>';
                        }
                    }
                    $("#create1").after(str);
                }
            });
        } else {
            $("#create1").hide();
        }*/
        $.ajax({
            type: 'post',
            url: ctx + 'system/project/selectPCustomerByProjectId',
            data: {'projectId': projectId},
            dataType: "JSON",
            success: function (result) {
                var arr = result.sysPcustomerList;
                console.log(result.isCreateBy);
                var str = "<tr><td colspan=\"8\" style=\"text-align: center\" class=\"success\"><h3>成交信息</h3></td></tr>";
                var num = 0;
                for (var i = 0; i < result.sysPcustomerList.length; i++) {
                    if ((num % 4) == 0) {
                        str += '<tr>';
                    }
                    str += '<td class=\"col-sm-1 text-right\">';
                    str += "<h5>";
                    str += arr[i].customerLable;
                    str += "：</h5></td>";
                    str += "<td class=\"col-sm-1\">"
                    if (true == result.isCreateBy) {
                        str += "<a href='#' onclick='toCustomer(" + arr[i].customerId + ")'>";
                    }
                    str += arr[i].customerName;
                    if (true == result.isCreateBy) {
                        str += "</a>";
                    }
                    str += "</td>";
                    num++;
                    if ((num % 4) == 0) {
                        str += '</tr>';
                    }
                }
                $("#create1").after(str);
            }
        });
    })

    function toCustomer(customerId) {
        var url = ctx + 'system/customer/detail/' + customerId;
        $.modal.opens('客户详情', url);
    }

    function back() {
        var projectZckId = $("#projectZckId").val();
        var pId = $("#pId").val();
        var url = ctx + 'system/project/projectList/' + pId + "/" + projectZckId;
        $.modal.parentTab($("#projectZckName").val() + "列表", url);
    }
</script>
</body>
</html>
