<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('项目详细')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <input name="projectZckType" id="projectZckType" th:value="*{projectZckType}" type="hidden">
    <input name="otherFlag" id="otherFlag" th:value="*{otherFlag}" type="hidden">
    <input name="fwProjectType" id="fwProjectType" th:value="*{fwProjectType}" type="hidden">
    <table class="table table-border">
        <input id="createBy" th:field="${sysProject.isCreate}" type="hidden">
        <input id="projectId" th:field="${sysProject.projectId}" type="hidden">
        <input id="projectZckId" th:field="${sysProject.projectZckId}" type="hidden">
        <input id="projectZckName" th:field="${sysProject.projectZckName}" type="hidden">
        <input id="pId" th:field="${sysProject.pId}" type="hidden">
        <input id="openTime" th:field="${sysProject.openTime}" type="hidden">
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3 id="name"></h3></td>
        </tr>
        <tr id="otherFalse1">
            <td class="col-sm-1 text-right"><h5>序号:</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.no}"/></td>
            <td class="col-sm-1 text-right"><h5 id="projectName"></h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.projectName}"/></td>
            <td class="col-sm-1 text-right"><h5>城市/名称:</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.city}"/></td>
            <td class="col-sm-1 text-right"><h5>放款银行：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.loanBank}"/></td>
        </tr>
        <tr id="otherFalse2">
            <td class="col-sm-1 text-right"><h5>合同本金（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.contractPrincipals}"/></td>
            <td class="col-sm-1 text-right"><h5>本金余额（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.principalBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>利息余额（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.interestBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>本息余额（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.principalInterestBalances}"/></td>
        </tr>
        <tr id="otherFalse3">
            <td class="col-sm-1 text-right"><h5>保证人：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysProject.guarantor}"/></td>
            <td class="col-sm-1 text-right"><h5>抵押物：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysProject.collateral}"/></td>
        </tr>
        <tr id="otherFalse4">
            <td class="col-sm-1 text-right"><h5>质押物：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.pledge}"/></td>
            <td class="col-sm-1 text-right"><h5>项目经理：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.projectManager}"/></td>
            <td class="col-sm-1 text-right"><h5>债权状态</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysProject.debtStatus}"/></td>
        </tr>
        <tr id="otherTrue">
            <td class="col-sm-1 text-right"><h5>序号:</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.no}"/></td>
            <td class="col-sm-1 text-right"><h5>项目案件名称：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.projectName}"/></td>
            <td class="col-sm-1 text-right"><h5>涉诉金额（元）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.principalBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>公司负责人：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.projectManager}"/></td>
        </tr>
        <tr id="otherTrue2">
            <td class="col-sm-1 text-right"><h5>应诉主体:</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.lawsuit}"/></td>
            <td class="col-sm-1 text-right"><h5>起诉主体：</h5></td>
            <td class="col-sm-1" colspan="5"><span th:text="${sysProject.sue}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>司法情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>司法状态：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.judicialStatus}"/></td>
            <td class="col-sm-1 text-right"><h5>管辖法院：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.competentCourt}"/></td>
            <td class="col-sm-1 text-right"><h5>法官及联系方式：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.judgeContact}"/></td>
            <td class="col-sm-1 text-right"><h5>律所：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.lawFirm}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>律师及联系方式：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.lawyerContact}"/></td>
            <td class="col-sm-1 text-right"><h5>备注：</h5></td>
            <td class="col-sm-1" colspan="5"><span th:text="${sysProject.judicialRemarks}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>诉讼及执行进展</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>所属债权合同编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.contractNo}"/></td>
            <td class="col-sm-1 text-right"><h5>诉讼时效起算日：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.limitationAction, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>查封标的：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.sealUpSubjectMatter}"/></td>
            <td class="col-sm-1 text-right"><h5>查封日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.sealUpDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>执行时效起算日：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.limitationExecution, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>起诉立案日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.dateFiling, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>一审判决案号及日期：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.firstInstance}"/></td>
            <td class="col-sm-1 text-right"><h5>二审判决案号及日期：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.secondInstance}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>再审判决案号及日期：</h5></td>
            <td class="col-sm-1"><span th:text="${sysProject.retrial}"/></td>
            <td class="col-sm-1 text-right"><h5>执行立案日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.enforcementFilingDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>出具评估报告日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.appraisalReportDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>第一次挂拍日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.firstShotDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>第二次挂拍日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.secondShotDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>变卖挂拍日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.sellShotDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>拍卖成交日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.successfulBidderDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>执行款到账日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysProject.paymentReceivedDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>开庭时间：</h5></td>
            <td class="col-sm-1" colspan="7" id="addNum"></td>
        </tr>
        <tr id="create1"></tr>
    </table>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button id="back" type="button" class="btn btn-info" onclick="back()"><i class="fa fa-backward"></i>返 回
            </button>&nbsp;
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
    $(function () {
        var projectId = $("#projectId").val();
        var fwProjectType = $("#fwProjectType").val();

        if ($.common.isNotEmpty(fwProjectType)) {
            $("#name").html("案件情况");
            $("#projectName").html("项目案件名称：");
            if ($.common.equalsIgnoreCase("otherProject", fwProjectType)) {
                $("#otherFalse1").css("display", "none");
                $("#otherFalse2").css("display", "none");
                $("#otherFalse3").css("display", "none");
                $("#otherFalse4").css("display", "none");
            } else {
                $("#otherTrue").css("display", "none");
                $("#otherTrue2").css("display", "none");
            }
        } else {
            customerList(projectId);
            $("#projectName").html("借款人名称：");
            $("#name").html("债权情况");
            $("#otherTrue").css("display", "none");
            $("#otherTrue2").css("display", "none");
        }
        openTime($("#openTime").val());
    })

    function customerList(projectId) {
        $.ajax({
            type: 'post',
            url: ctx + 'system/project/selectPCustomerByProjectId',
            data: {'projectId': projectId},
            dataType: "JSON",
            success: function (result) {
                var arr = result.sysPcustomerList;
                var str = "<tr><td colspan=\"8\" style=\"text-align: center\" class=\"success\"><h3>成交信息</h3></td></tr>";
                var num = 0;
                for (var i = 0; i < result.sysPcustomerList.length; i++) {
                    if ((num % 4) == 0) {
                        str += '<tr>';
                    }
                    str += '<td class=\"col-sm-1 text-right\">';
                    str += "<h5>";
                    str += arr[i].customerLable;
                    str += "：</h5></td>";
                    str += "<td class=\"col-sm-1\">"
                    if (true == result.isCreateBy) {
                        str += "<a href='#' onclick='toCustomer(" + arr[i].customerId + ")'>";
                    }
                    str += arr[i].customerName;
                    if (true == result.isCreateBy) {
                        str += "</a>";
                    }
                    str += "</td>";
                    num++;
                    if ((num % 4) == 0) {
                        str += '</tr>';
                    }
                }
                $("#create1").after(str);
            }
        });
    }

    function toCustomer(customerId) {
        var url = ctx + 'system/customer/detail/' + customerId;
        $.modal.opens('客户详情', url);
    }

    function back() {
        var projectZckId = $("#projectZckId").val();
        var fwProjectType = $("#fwProjectType").val();
        var otherFlag = $("#otherFlag").val();
        var pId = $("#pId").val();
        var url = ctx + 'system/project/toProjectList?projectId=' + pId + "&projectZckId=" + projectZckId + "&projectZckType=" + $("#projectZckType").val() + "&otherFlag=" + otherFlag + "&fwProjectType=" + fwProjectType;
        var title = '';
        if ($.common.isNotEmpty(fwProjectType)) {
            if ("otherProject" == fwProjectType) {
                title = '其他项目列表';
            } else {
                title = $("#projectZckName").val() + "列表";
            }
        } else {
            title = $("#projectZckName").val() + "列表";
        }
        $.modal.parentTab(title, url);
    }

    function openTime(openTime) {
        var str = "";
        var str1 = eval(openTime);
        if ($.common.isNotEmpty(str1)) {
            for (var i = 0; i < str1.length; i++) {
                var parse = str1[i];
                str += '<div class="input-group"><span>' + parse.type + '</span>:<span>' + parse.value + '</span>';
            }
        }
        $("#addNum").html(str);
    }
</script>
</body>
</html>
