<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('项目详细')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m-t" id="signupForm">
        <input id="createBy" th:field="${sysProject.isCreate}" type="hidden">
        <input id="projectId" th:field="${sysProject.projectId}" type="hidden">
        <input id="projectZckId" th:field="${sysProject.projectZckId}" type="hidden">
        <input id="projectZckName" th:field="${sysProject.projectZckName}" type="hidden">
        <input id="pId" th:field="${sysProject.pId}" type="hidden">
        <div id="create">
            <!--<div class="form-group">
                <label class="col-sm-2 control-label"><h5>成交类型：</h5></label>
                <div class="form-control-static" th:text="${sysProject.customerLable}"></div>
            </div>-->
            <!--<div class="form-group">
                <label class="col-sm-2 control-label"><h5><div class="form-control-static" th:text="${sysProject.customerLable}"></div>客户：</h5></label>
                <div class="form-control-static" th:text="${sysProject.dealCustomerName}"></div>
            </div>-->
            <div class="form-group" id="create2"></div>
            <!--<div class="form-group">
                <label class="col-sm-2 control-label"><h5>买家来源：</h5></label>
                <div class="form-control-static" th:text="${sysProject.buyerSources}"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h5>买家联系方式：</h5></label>
                <div class="form-control-static" th:text="${sysProject.buyerContact}"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h5>成交客户：</h5></label>
                <div class="form-control-static" th:text="${sysProject.dealCustomerName}"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h5>意向客户：</h5></label>
                <div class="form-control-static" th:text="${sysProject.potentialCustomers}"></div>
            </div>-->
        </div>
    </form>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-info" onclick="back()"><i class="fa fa-backward"></i>返 回</button>&nbsp;
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script>
    $(function () {
        var createBy = $("#createBy").val();
        var projectId = $("#projectId").val();
        /*if ("true" == createBy) {
            $("#create").show();
            $.ajax({
                type: 'post',
                url: ctx + 'system/project/selectPCustomerByProjectId',
                data: {'projectId': projectId},
                dataType: "JSON",
                success: function (result) {
                    var arr = result.sysPcustomerList;
                    var str = "";
                    for (var i = 0; i < result.sysPcustomerList.length; i++) {
                        str += '<div class="form-group">';
                        str += '<label class="col-sm-2 control-label">';
                        str += "<h5>";
                        str += arr[i].customerLable;
                        str += "：</h5></label>";
                        str += "<td class=\"col-sm-1\">"
                        str += "<divclass=\"form-control-static\">"
                        str += arr[i].customerName;
                        str += '</div>';
                        str += '</div>';
                    }
                    $("#create").append(str);
                }
            });
        } else {
            $("#create").hide();
            $("#create2").hide();
        }*/
        $("#create").show();
        $.ajax({
            type: 'post',
            url: ctx + 'system/project/selectPCustomerByProjectId',
            data: {'projectId': projectId},
            dataType: "JSON",
            success: function (result) {
                var arr = result.sysPcustomerList;
                var str = "";
                for (var i = 0; i < result.sysPcustomerList.length; i++) {
                    str += '<div class="form-group">';
                    str += '<label class="col-sm-2 control-label">';
                    str += "<h5>";
                    str += arr[i].customerLable;
                    str += "：</h5></label>";
                    str += "<td class=\"col-sm-1\">"
                    str += "<divclass=\"form-control-static\">"
                    str += arr[i].customerName;
                    str += '</div>';
                    str += '</div>';
                }
                $("#create").append(str);
            }
        });

    })

    function back() {
        var projectZckId = $("#projectZckId").val();
        var pId = $("#pId").val();
        var url = ctx + 'system/project/toProjectList?projectId=' + pId + "&projectZckId=" + projectZckId;
        $.modal.parentTab($("#projectZckName").val() + "列表", url);
    }
</script>
</body>
</html>
