<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('项目详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<table class="table table-border">
			<tr>
				<td colspan="8" style="text-align: center" class="success"><h3>债权情况</h3></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right">序号:</td>
				<td  class="col-sm-1"><span th:text="${sysProject.no}"/></td>
				<td  class="col-sm-1 text-right">借款人名称：</td>
				<td  class="col-sm-1"><span th:text="${sysProject.projectName}"/></td>
				<td  class="col-sm-1 text-right"><h5>城市/名称:</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.city}"/></td>
				<td  class="col-sm-1 text-right"><h5>放款银行：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.loanBank}"/></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>合同本金（元）：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.contractPrincipal}"/></td>
				<td  class="col-sm-1 text-right"><h5>本金余额（元）：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.principalBalance}"/></td>
				<td  class="col-sm-1 text-right"><h5>利息余额（元）：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.interestBalance}"/></td>
				<td  class="col-sm-1 text-right"><h5>本息余额（元）：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.principalInterestBalance}"/></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>保证人：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.guarantor}"/></td>
				<td  class="col-sm-1 text-right"><h5>抵押物：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.collateral}"/></td>
				<td  class="col-sm-1 text-right"><h5>质押物：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.pledge}"/></td>
				<td  class="col-sm-1 text-right"><h5>项目经理：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.projectManager}"/></td>
			</tr>
			<tr>
				<td class="col-sm-1 text-right"><h5>债权状态</h5></td>
				<td class="col-sm-1" colspan="7"><span th:text="${sysProject.debtStatus}"/></td>
			</tr>
		</table>
	</div>
	<th:block th:include="include :: footer" />
</body>
</html>
