<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('项目详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<table class="table table-border">
			<tr>
				<td colspan="8" style="text-align: center" class="success"><h3>成交信息</h3></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>抵押物/债权：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.collateralClaims}"/></td>
				<td  class="col-sm-1 text-right"><h5>成交类型：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.transactionType}"/></td>
				<td  class="col-sm-1 text-right"><h5>买家：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.buyer}"/></td>
				<td  class="col-sm-1 text-right"><h5>买家来源：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.buyerSources}"/></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>买家联系方式：</h5></td>
				<td  class="col-sm-1" colspan="7"><span th:text="${sysProject.buyerContact}"/></td>
			</tr>
		</table>
	</div>
	<th:block th:include="include :: footer" />
</body>
</html>
