<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('项目详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<table class="table table-border">
			<tr>
				<td colspan="8" style="text-align: center" class="success"><h3>诉讼及执行进展</h3></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>所属债权合同编号：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.contractNo}"/></td>
				<td  class="col-sm-1 text-right"><h5>诉讼时效起算日：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.limitationAction}"/></td>
				<td  class="col-sm-1 text-right"><h5>查封标的：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.sealUpSubjectMatter}"/></td>
				<td  class="col-sm-1 text-right"><h5>查封日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.sealUpDate, 'yyyy-MM-dd')}"/></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>执行时效起算日：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.limitationExecution}"/></td>
				<td  class="col-sm-1 text-right"><h5>起诉立案日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.dateFiling, 'yyyy-MM-dd')}"/></td>
				<td  class="col-sm-1 text-right"><h5>一审判决案号及日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.firstInstance}"/></td>
				<td  class="col-sm-1 text-right"><h5>二审判决案号及日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.secondInstance}"/></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>再审判决案号及日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${sysProject.retrial}"/></td>
				<td  class="col-sm-1 text-right"><h5>执行立案日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.enforcementFilingDate, 'yyyy-MM-dd')}"/></td>
				<td  class="col-sm-1 text-right"><h5>出具评估报告日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.appraisalReportDate, 'yyyy-MM-dd')}"/></td>
				<td  class="col-sm-1 text-right"><h5>第一次挂拍日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.firstShotDate, 'yyyy-MM-dd')}"/></td>
			</tr>
			<tr>
				<td  class="col-sm-1 text-right"><h5>第二次挂拍日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.secondShotDate, 'yyyy-MM-dd')}"/></td>
				<td  class="col-sm-1 text-right"><h5>变卖挂拍日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.sellShotDate, 'yyyy-MM-dd')}"/></td>
				<td  class="col-sm-1 text-right"><h5>拍卖成交日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.successfulBidderDate, 'yyyy-MM-dd')}"/></td>
				<td  class="col-sm-1 text-right"><h5>执行款到账日期：</h5></td>
				<td  class="col-sm-1"><span th:text="${#dates.format(sysProject.paymentReceivedDate, 'yyyy-MM-dd')}"/></td>
			</tr>
		</table>
	</div>
	<th:block th:include="include :: footer" />
</body>
</html>
