<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改投后部项目管理')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-project-edit" th:object="${sysProject}">
        <input id="createBy" th:field="*{isCreate}" type="hidden">
        <input name="projectId" th:field="*{projectId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">项目名称：</label>
            <div class="col-sm-8">
                <input name="projectName" th:field="*{projectName}" class="form-control" type="text">
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">资产包状态：</label>
            <div class="col-sm-8">
                <div class="radio-box">
                    <input type="radio" name="assetStatus" value="">
                    <label th:for="assetStatus" th:text="未知"></label>
                </div>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">序号：</label>
            <div class="col-sm-8">
                <input name="no" th:field="*{no}" class="form-control" type="text">
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">借款人名称：</label>
            <div class="col-sm-8">
                <input name="borrower" th:field="*{borrower}" class="form-control" type="text">
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">城市/地区：</label>
            <div class="col-sm-8">
                <input name="city" th:field="*{city}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">放款银行：</label>
            <div class="col-sm-8">
                <input name="loanBank" th:field="*{loanBank}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同本金(元)：</label>
            <div class="col-sm-8">
                <input name="contractPrincipal" th:field="*{contractPrincipal}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本金余额(元)：</label>
            <div class="col-sm-8">
                <input name="principalBalance" th:field="*{principalBalance}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">利息余额(元)：</label>
            <div class="col-sm-8">
                <input name="interestBalance" th:field="*{interestBalance}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本息余额(元)：</label>
            <div class="col-sm-8">
                <input name="principalInterestBalance" th:field="*{principalInterestBalance}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">保证人：</label>
            <div class="col-sm-8">
                <textarea name="guarantor" class="form-control">[[*{guarantor}]]</textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：保证人1;保证人2;保证人3(每个保证人之间请用英文状态下的";"分隔)</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">抵押物：</label>
            <div class="col-sm-8">
                <textarea name="collateral" class="form-control">[[*{collateral}]]</textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：抵押物1;抵押物2;抵押物3(每个抵押物之间请用英文状态下的";"分隔)</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">质押物：</label>
            <div class="col-sm-8">
                <textarea name="pledge" class="form-control">[[*{pledge}]]</textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：质押物1;质押物2;质押物3(每个质押物之间请用英文状态下的";"分隔)</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目经理：</label>
            <div class="col-sm-8">
                <input class="form-control" type="hidden" name="projectManagerId" id="projectManagerId"
                       th:field="*{projectManagerId}">
                <input name="projectManager" id="projectManager" th:field="*{projectManager}" class="form-control"
                       type="text" onclick="selectUserTree()">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">债权状态：</label>
            <div class="col-sm-8">
                <select name="debtStatus" class="form-control m-b"
                        th:with="type=${@dict.getType('sys_project_debtStatus')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{debtStatus}"></option>
                </select>
            </div>
        </div>
        <input name="userId" th:field="*{userId}" class="form-control" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">司法状态：</label>
            <div class="col-sm-8">
                <select name="judicialStatus" class="form-control m-b"
                        th:with="type=${@dict.getType('sys_project_sfzt')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{judicialStatus}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">管辖法院：</label>
            <div class="col-sm-8">
                <textarea name="competentCourt" class="form-control">[[*{competentCourt}]]</textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：法院名称为全称</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：无锡市梁溪区人民法院</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法官及联系方式：</label>
            <div class="col-sm-8">
                <textarea name="judgeContact" class="form-control">[[*{judgeContact}]]</textarea>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：请写法官全名及手机号</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：张三1385188xxxx</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">律所：</label>
            <div class="col-sm-8">
                <input name="lawFirm" th:field="*{lawFirm}" class="form-control" type="text">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：律所名称为全称</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：江苏阳羡律师事务所</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">律师及联系方式：</label>
            <div class="col-sm-8">
                <input name="lawyerContact" th:field="*{lawyerContact}" class="form-control" type="text">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>提示：请写律师全名及手机号</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>示例：张三1385188xxxx</span>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">司法状态备注：</label>
            <div class="col-sm-8">
                <input name="judicialRemarks" th:field="*{judicialRemarks}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">抵押物/债权：</label>
            <div class="col-sm-8">
                <textarea name="collateralClaims" class="form-control">[[*{collateralClaims}]]</textarea>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">所属债权合同编号：</label>
            <div class="col-sm-8">
                <textarea name="contractNo" class="form-control">[[*{contractNo}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">诉讼时效起算日：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="limitationAction"
                           th:value="${#dates.format(sysProject.limitationAction, 'yyyy-MM-dd')}" style="width: 85%"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <label class="toggle-switch switch-solid" style="margin-left: 5%">
                        <input type="checkbox" id="limitation"
                               th:checked="${sysProject.limitation == '0' ? true : false}">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开庭时间：</label>
            <input name="openTime" id="openTime" type="hidden" th:field="*{openTime}">
            <div class="col-sm-8" id="addNum">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">查封标的：</label>
            <div class="col-sm-8">
                <textarea name="sealUpSubjectMatter" class="form-control">[[*{sealUpSubjectMatter}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">查封日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="sealUpDate" th:value="${#dates.format(sysProject.sealUpDate, 'yyyy-MM-dd')}"
                           style="width: 85%" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <label class="toggle-switch switch-solid" style="margin-left: 5%">
                        <input type="checkbox" id="seizure" th:checked="${sysProject.seizure == '0' ? true : false}">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">执行时效起算日：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="limitationExecution"
                           th:value="${#dates.format(sysProject.limitationExecution, 'yyyy-MM-dd')}" style="width: 85%"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <label class="toggle-switch switch-solid" style="margin-left: 5%">
                        <input type="checkbox" id="ageing" th:checked="${sysProject.ageing == '0' ? true : false}">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">起诉立案日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="dateFiling" th:value="${#dates.format(sysProject.dateFiling, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">一审判决案号及日期：</label>
            <div class="col-sm-8">
                <textarea name="firstInstance" class="form-control">[[*{firstInstance}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">二审判决案号及日期：</label>
            <div class="col-sm-8">
                <textarea name="secondInstance" class="form-control">[[*{secondInstance}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">再审判决案号及日期：</label>
            <div class="col-sm-8">
                <textarea name="retrial" class="form-control">[[*{retrial}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">执行立案日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="enforcementFilingDate"
                           th:value="${#dates.format(sysProject.enforcementFilingDate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">出具评估报告日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="appraisalReportDate"
                           th:value="${#dates.format(sysProject.appraisalReportDate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第一次挂拍日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="firstShotDate" th:value="${#dates.format(sysProject.firstShotDate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">第二次挂拍日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="secondShotDate" th:value="${#dates.format(sysProject.secondShotDate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">变卖挂拍日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="sellShotDate" th:value="${#dates.format(sysProject.sellShotDate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">拍卖成交日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="successfulBidderDate"
                           th:value="${#dates.format(sysProject.successfulBidderDate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">执行款到账日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="paymentReceivedDate"
                           th:value="${#dates.format(sysProject.paymentReceivedDate, 'yyyy-MM-dd')}"
                           class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script type="text/javascript">

    $(function () {
        var openTime = $("#openTime").val();
        var createBy = $("#createBy").val();
        if ("true" == createBy) {
            $("#create").show();
        } else {
            $("#create").hide();
        }
        setOpenTime(openTime);
    })

    function setOpenTime(openTime) {
        var str = "";
        if ($.common.isNotEmpty(openTime)) {
            var str1 = eval(openTime);
            for (var i = 0; i < str1.length; i++) {
                var parse = str1[i];
                var ids = ['一审', '二审', '再审', '其他'];
                str += "<div class=\"input-group\">";
                if ('一审' == parse.type || '二审' == parse.type || '再审' == parse.type) {
                    str += '<select onchange="typeChange(this)" class="form-control" style="width: 35%">';
                    for (var j = 0; j < ids.length; j++) {
                        if (ids[j] === parse.type) {
                            str += '<option value ="' + ids[j] + '" selected>' + ids[j] + '</option>';
                        } else {
                            str += '<option value ="' + ids[j] + '">' + ids[j] + '</option>';
                        }
                    }
                    str += '</select>';
                } else {
                    str += '<input value="' + parse.type + '" type="text" class="form-control">';
                }
                str += '<!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->' +
                    '<input name="openTimes" id="openTimes" value="' + parse.value + '"  style="width: 65%" class="form-control" placeholder="yyyy-MM-dd" type="text" autocomplete="off"></div>';
            }
        }
        str += '<button class="btn btn-info" type="button" title="新增" id="addSaltIpGrpBtn" onclick="addSaltIpGrp(this)">' +
            '<span class="glyphicon glyphicon-plus"></span></button>'
        $("#addNum").html(str);
        $.initDataPlugin();
    }

    var prefix = ctx + "system/project";
    $("#form-project-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $('#form-project-edit').serializeArray()
            var seizure = $("input[id='seizure']").is(':checked') == true ? 0 : 1;
            var ageing = $("input[id='ageing']").is(':checked') == true ? 0 : 1;
            var limitation = $("input[id='limitation']").is(':checked') == true ? 0 : 1;
            data.push({"name": "seizure", "value": seizure});
            data.push({"name": "ageing", "value": ageing});
            data.push({"name": "limitation", "value": limitation});
            $.operate.save(prefix + "/edit", data);
        }
    }

    $("input[name='sealUpDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='dateFiling']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='enforcementFilingDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='appraisalReportDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='firstShotDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='secondShotDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='sellShotDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='successfulBidderDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='paymentReceivedDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='limitationAction']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='limitationExecution']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    //人员树形选择器
    function selectCustomer() {
        var url = ctx + "system/customer/selectCustomerTree?customerIds=" + $("#buyerId").val() + "&customerNames=" + $("#buyer").val();
        $.modal.open("人员选择", url, '750', '600');
    }

    function getDeviceBasics(row) {
        var customerIds = "";
        var customerNames = "";
        for (var i = 0; i < row.length; i++) {
            customerIds = row[i].customerId + "," + customerIds;
            customerNames = row[i].customerName + "," + customerNames;
        }
        $("#buyerId").val(customerIds.substr(0, customerIds.length - 1));
        $("#buyer").val(customerNames.substr(0, customerNames.length - 1));
        layer.close(layer.index);
    }

    var i = 0;

    function addSaltIpGrp(obj) {
        i++;
        html = '<div class="input-group">\n' +
            ' <select class="form-control" onchange="typeChange(this)" style="width: 35%">\n' +
            ' <option value="">--请选择--</option>                   <option value="一审">一审</option>\n' +
            '                    <option value="二审">二审</option>\n' +
            '                    <option value="再审">再审</option>\n' +
            '                    <option value="其他">其他</option>\n' +
            '                </select><!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->\n' +
            '<input name="openTimes" class="form-control" placeholder="yyyy-MM-dd" type="text" autocomplete="off" style="width: 65%">\n' +
            '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delOpenTimes" ' +
            'onclick="delete(this)"><span class="glyphicon glyphicon-minus"></span></button></div>';
        $(html).insertBefore(obj);
        $.initDataPlugin();
    };

    $(document).on('click', '#delOpenTimes', function () {
        var type = $(this).prev().prev().val();
        var openTime = $("#openTime").val();
        var str1 = eval(openTime);
        var index;
        for (var i = 0; i < str1.length; i++) {
            if ($.common.isNotEmpty(type)) {
                if (str1[i].type == type) {
                    index = i;
                    break;
                }
            }
        }
        str1.splice(index, 1);
        $("#openTime").val(JSON.stringify(str1));
        $(this).parent().remove();
    });

    function typeChange(obj) {
        var value = $(obj).val();
        if ('其他' == value) {
            var str = '<input name="openType" class="form-control" type="text" style="width: 35%" onBlur="onBlur(this)">';
            $(str).insertAfter(obj);
            $(obj).hide();
        } else {
            var push = [];
            var thisTime = $(obj).next().val();
            var openTime = $("#openTime").val();
            if ($.common.isNotEmpty(openTime)) {
                var str1 = eval($("#openTime").val());
                for (var i = 0; i < str1.length; i++) {
                    if ($.common.isNotEmpty(thisTime)) {
                        if ($.common.equalsIgnoreCase(thisTime, str1[i].value)) {
                            str1[i].type = $(obj).val();
                        }
                    }
                    push.push(str1[i]);
                }
            }
            $("#openTime").val(JSON.stringify(unique(push)));
        }
    }

    function onBlur(obj) {
        var push = [];
        var thisTime = $(obj).next().val();
        if ($.common.isNotEmpty(thisTime)) {
            var openTime = $("#openTime").val();
            if ($.common.isNotEmpty(openTime)) {
                var str1 = eval($("#openTime").val());
                for (var i = 0; i < str1.length; i++) {
                    if ($.common.isNotEmpty(thisTime)) {
                        if ($.common.equalsIgnoreCase(thisTime, str1[i].value)) {
                            str1[i].type = $(obj).val();
                        }
                    }
                    push.push(str1[i]);
                }
            }
            $("#openTime").val(JSON.stringify(unique(push)));
        }
    }

    $.initDataPlugin = function () {
        $("input[name='openTimes']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: 'month',
            autoclose: true,
        }).on("hide", function (ev) {
            var thisTime = $(this).val();
            var type = $(this).prev().val();
            var push = [];
            var str = "";
            var openTime = $("#openTime").val();
            var str1 = eval(openTime);
            if ($.common.isNotEmpty(str1)) {
                for (var i = 0; i < str1.length; i++) {
                    if ($.common.isNotEmpty(type)) {
                        if ($.common.equalsIgnoreCase(type, str1[i].type)) {
                            str1[i].value = thisTime;
                        } else {
                            str = '{"type":"' + type + '","value":"' + thisTime + '"}';
                        }
                    }
                    if ($.common.isNotEmpty(str)) {
                        push.push(JSON.parse(str));
                    }
                    push.push(str1[i]);
                }
            } else {
                str = '{"type":"' + type + '","value":"' + thisTime + '"}';
                push.push(JSON.parse(str));
            }
            $("#openTime").val(JSON.stringify(unique(push)));
        });
    };

    function unique(list) {
        var arr = [];
        for (var i = 0; i < list.length; i++) {
            if (i == 0) arr.push(list[i]);
            b = false;
            if (arr.length > 0 && i > 0) {
                for (var j = 0; j < arr.length; j++) {
                    if (arr[j].type == list[i].type) {
                        b = true;
                        break;
                    }
                }
                if (!b) {
                    arr.push(list[i]);
                }
            }
        }
        return arr;
    }

</script>
</body>
</html>