<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目管理资产库列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <!--<li>
                            <label>借款人名称：</label>
                            <input type="text" name="projectName"/>
                        </li>-->
                        <!--<li>
                            <label>资产库状态：</label>
                            <select name="assetStatus" id="assetStatus" th:with="type=${@dict.getType('sys_zcb_assetStatus')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>-->
                        <!--<li>
                            <button type="button" onclick="jump()" class="btn btn-primary">查询</button>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>-->
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:projectZck:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:projectZck:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:projectZck:remove">
                <i class="fa fa-remove"></i> 删除
            </a>-->
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:projectZck:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:projectZck:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:projectZck:remove')}]];
    var prefix = ctx + "system/project";

    $(function () {
        var options = {
            url: prefix + "/fwProjectList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "项目管理资产库",
            columns: [{
                checkbox: true
            },
                {
                    field: 'dictLabel',
                    title: '项目状态',
                    formatter: function (value, row, index) {
                        //  return '<a href="javascript:void(0)" onclick="detail(\'' + row.dictLabel + '\')">' + value + '</a>';
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.dictValue + "',\'" + row.dictLabel + '\')">' + value + '</a>';
                    }
                }]
        };
        $.table.init(options);
    });


    /*资产库列表-详细*/
    function detail(fwProjectType, zckName) {
        var url = ctx + 'system/project/projectZck?fwProjectType=' + fwProjectType;
        /*if ("investmentProject" == fwProjectType) {
            url = ctx + 'system/project/projectZck?fwProjectType=' + fwProjectType;
        } else {
            url = ctx + 'system/project/toProjectLists?otherFlag=N';
        }*/

        $.modal.parentTab(zckName + "列表", url);
    }

    //查询
    function jump() {
        var data = $("#formId").serialize();
        $.operate.gets(ctx + "system/project/queryAll", data, "查询界面");
    }

</script>
</body>
</html>