<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目管理资产库列表')"/>
    <style>
        .border {
            border: 1px solid #dee2e6;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input name="fwProjectType" id="fwProjectType" th:value="*{fwProjectType}" type="hidden">
        <input name="otherFlag" id="otherFlag" th:value="*{otherFlag}" type="hidden">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-info" onclick="back()">
                <i class="fa fa-backward"></i> 返回
            </a>
        </div>
        <div class="row" style="min-height: 80%;" id="showList"></div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:projectZck:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:projectZck:remove')}]];
    var prefix = ctx + "system/projectZck";

    $(function () {
        showRow();
    });

    var height = $(".row").height();
    var winHeight = height / 2;
    var lineHeight = winHeight / 8;
    var paddingTop = winHeight / 4;

    function showRow() {
        $.ajax({
            url: prefix + "/listGroupByType",
            data: {},
            dataType: 'json',
            type: 'post',
            success: function (result) {
                var str = '';
                var row = result.rows;
                for (var i in row) {
                    if ($.common.isNotEmpty(row[i].dictLable)) {
                        str += '<div class="border col-sm-12" style="height: ' + winHeight + 'px;margin-left:auto; margin-right:auto;">';
                        str += '<div class="col-sm-3" style="text-align: right;height: ' + winHeight + 'px;line-height: ' + lineHeight + 'px;padding-top: ' + paddingTop + 'px">';
                        str += '<lable style="font-weight: bold;font-size: 1.5em">资产包数量：' + $.common.returnNum(row[i].totalZck) + '</lable><br/>';
                        str += '<lable style="font-weight: bold;font-size: 1.5em">已退出的资产包：' + $.common.returnNum(row[i].quitCount) + '</lable><br/>';
                        str += '<lable style="font-weight: bold;font-size: 1.5em">处置回现总额：' + $.operate.numberFormatter(row[i].czhx, 0, '.', ',') + '</lable><br/>';
                        str += '</div>'
                        str += '<div class="col-sm-6" style="display:inline-block;line-height: ' + winHeight + 'px;text-align: center">';
                        str += '<a href="javascript:void(0)" style="font-size: 3.5em; font-weight:bold;letter-spacing:0.8em;" onclick="detail(\'' + row[i].dictLable + "',\'" + row[i].projectZckType + '\')">' + row[i].dictLable + '</a><br/>';
                        str += '</div>';
                        str += '<div class="col-sm-3" style="display:inline-block;height: ' + winHeight + 'px;line-height: ' + lineHeight + 'px;padding-top: ' + paddingTop + 'px">';
                        str += '<lable style="font-weight: bold;font-size: 1.5em">处置中的资产包：' + $.common.returnNum(row[i].ongoingCount) + '</lable><br/>';
                        str += '<lable style="font-weight: bold;font-size: 1.5em">剩余债权户数：' + $.common.returnNum(row[i].syhs) + '</lable><br/>';
                        str += '<lable style="font-weight: bold;font-size: 1.5em">剩余债权本金余额：' + $.operate.numberFormatter(row[i].bjye, 0, '.', ',') + '</lable><br/>';
                        str += '</div>'
                        str += '</div>'
                    }
                }
                $("#showList").html(str);
            }
        })
    }

    /*资产库列表-详细*/
    function detail(dictLabel, projectZckType) {
        var url = ctx + 'system/project/toProjectZckByType?projectZckType=' + projectZckType + "&fwProjectType=" + $("#fwProjectType").val() + "&otherFlag=" + $("#otherFlag").val();
        $.modal.parentTab(dictLabel + "列表", url);
    }

    //查询
    function jump() {
        var data = $("#formId").serialize();
        $.operate.gets(ctx + "system/project/queryAll", data, "查询界面");
    }

    function back() {
        var url = ctx + 'system/project/toFwProject';
        $.modal.parentTab('法务部项目', url);
    }

</script>
</body>
</html>