<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('导入表结构')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input th:value="*{selectedProjectIds}" id="selectedProjectIds" type="hidden">
            <input th:value="*{selectedProjectNames}" id="selectedProjectNames" type="hidden">
            <form id="gen-form">
                <div class="select-list">
                    <input type="hidden" name="projectId" id="projectId" th:value="*{projectId}"/>
                    <ul>
                        <li>
                            借款人名称：<input type="text" name="projectName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "system/project";
    var flag = true;
    $(function () {
        var projectId = $("#projectId").val();
        var options = {
            id: "bootstrap-table",
            toolbar: "toolbar",
            url: prefix + "/treeList",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            rememberSelected: true,
            singleSelect: true,
            uniqueId: 'projectId',
            columns: [{
                checkbox: true,
                formatter: function (value, row, index) {
                    var ids = $("#selectedProjectIds").val().split(",");
                    for (var i = 0; i < ids.length; i++) {
                        if ($.common.equals(ids[i], row.projectId)) {
                            return checked = true;
                        }
                    }
                }
            },
                {
                    field: 'projectId',
                    title: '项目ID',
                    visible: false
                },
                {
                    field: 'no',
                    title: '序号'
                },
                {
                    field: 'projectZckName',
                    title: '资产包名称'
                },
                {
                    field: 'projectName',
                    title: '借款人名称',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(' + row.projectId + ')">' + strLength(value) + '</a>';
                    }
                },
                {
                    field: 'totalPrice',
                    title: '合同本金',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                }]
        };
        $.table.init(options);
    });


    //控制显示的字数
    function strLength(value) {
        var str = $.common.nullToStr(value);
        if (str.length > 10) {
            str = str.substring(0, 10) + '...';
        }
        return str;
    }

    function progress(id) {
        var url = ctx + 'system/progress/progressLists/' + id + "/Y";
        $.modal.openTab("进度情况列表", url);
    }

    function detail(id) {
        $('#bootstrap-table').bootstrapTable('destroy');
        $("#projectId").val(id);
        var options = {
            url: prefix + "/treeList",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            rememberSelected: true,
            singleSelect: false,
            uniqueId: 'projectId',
            columns: [{
                checkbox: true,
                formatter: function (value, row, index) {
                    var ids = $("#selectedProjectIds").val().split(",");
                    for (var i = 0; i < ids.length; i++) {
                        if ($.common.equals(ids[i], row.projectId)) {
                            return checked = true;
                        }
                    }
                }
            },
                {
                    field: 'projectId',
                    title: '项目ID',
                    visible: false
                },
                {
                    field: 'no',
                    title: '序号'
                },
                {
                    field: 'projectZckName',
                    title: '资产包名称'
                },
                {
                    field: 'projectName',
                    title: '借款人名称',
                    formatter: function (value, row, index) {
                        return strLength(value);
                    }
                },
                {
                    field: 'totalPrice',
                    title: '合同本金',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                }]
        };
        $.table.init(options);
    }

    /* 导入表结构-选择表结构-提交 */
    function submitHandler() {
        var row = $.table.selectRows();
        window.parent.getProjectRows(row);
    }


    function uniqueFnByRows(array) {
        var result = [];
        var hashObj = {};
        for (var i = 0; i < array.length; i++) {
            if (!hashObj[array[i].projectName]) {
                hashObj[array[i].projectName] = true;
                result.push(array[i]);
            }
        }
        return result;
    }
</script>
</body>
</html>