<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增客户库')"/>
    <th:block th:include="include :: jasny-bootstrap-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <input th:value="*{isAdmin}" type="hidden" id="isAdmin">
    <form class="form-horizontal m" id="form-customer-add">
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">所属机构：</label>
            <div class="col-sm-8">
                <input name="affiliation" class="form-control" type="text">
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">联系人：</label>
            <div class="col-sm-8">
                <input name="contacts" class="form-control" type="text" required>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>仅限填写个人全名，如无则写职务/先生。如：钟总/先生</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-8" id="num1">
                <input name="contactNumber" id="contactNumber" class="form-control" type="text">
                <button class="btn btn-info" type="button" title="新增" id="addSaltIpGrpBtn" onclick="addSaltIpGrp(this)">
                    <span class="glyphicon glyphicon-plus"></span></button>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>仅限手机号，多个手机号之间用“/”分隔</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">微信号：</label>
            <div class="col-sm-8" id="num2">
                <input name="weChatNumber" id="weChatNumber" class="form-control" type="text">
                <button class="btn btn-info" type="button" title="新增" id="addWeChatGrpBtn" onclick="addWeChatGrp(this)">
                    <span class="glyphicon glyphicon-plus"></span></button>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>请填写正确的微信号</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所属机构：</label>
            <div class="col-sm-8">
                <input name="customerName" class="form-control" type="text">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>仅限填写机构全称</span>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>例如：江苏乐道胡巴投资管理有限公司或江苏苏湖律师事务所</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">职务：</label>
            <div class="col-sm-8">
                <input name="duties" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">客户标签：</label>
            <div class="col-sm-8">
                <label th:each="type:${types}" class="checkbox">
                    <input name="customerLable" type="checkbox" th:value="${type.dictValue}" th:text="${type.dictValue}"
                           th:disabled="${type.status == '1'}">
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">所在地区：</label>
            <div class="col-sm-8" data-toggle="distpicker" id="distpicker">
                <div class="col-sm-4">
                    <select class="form-control" name="province" id="province" data-province="---请选择省---"
                            required></select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" name="city" id="city" data-city="---请选择市---" required></select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" name="county" id="county" data-district="---请选择区----"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">详细地址：</label>
            <div class="col-sm-8">
                <input name="contactAddress" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资源优势：</label>
            <div class="col-sm-8">
                <input name="resources" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remarks" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">共享人：</label>
            <div class="col-sm-8">
                <input class="form-control" type="hidden" name="shareUserId" id="shareUserId">
                <input class="form-control" type="text" name="shareUserName" onclick="selectShareUser()"
                       id="shareUserName">
            </div>
        </div>
        <!--<div class="form-group" id="selectDept">
            <label class="col-sm-3 control-label">所属部门：</label>
            <div class="col-sm-8">
                <input name="deptId" id="deptId" class="form-control" type="hidden">
                <input name="deptName" id="deptName" class="form-control" type="text" onclick="selectDeptTree()">
            </div>
        </div>-->
        <div class="form-group" id="selectWeChat">
            <label class="col-sm-3 control-label">是否添加到公司号：</label>
            <div class="col-sm-8">
                <select name="wechatFlag" class="form-control m-b"
                        th:with="type=${@dict.getType('sys_project_moneyStatus')}" id="wechatFlag"
                        onchange="weChatChange()">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" style="display: none" id="resons">
            <label class="col-sm-3 control-label">原因：</label>
            <div class="col-sm-8">
                <input name="reason" class="form-control" id="reason" type="text">
            </div>
        </div>
        <div class="form-group" id="agentUser">
            <label class="col-sm-3 control-label">实际提交者：</label>
            <div class="col-sm-8">
                <input name="createBy" id="createBy" class="form-control" type="hidden" th:value="${createBy}">
                <input name="creator" id="creator" class="form-control" type="text" th:value="${creator}"
                       onclick="selectUser()">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: jasny-bootstrap-js"/>
<script src="/js/plugins/distpicker/distpicker.data.js"></script>
<script src="/js/plugins/distpicker/distpicker.js"></script>
<script type="text/javascript">
    var prefix = ctx + "system/customer"
    var isAdmin = $("#isAdmin").val();
    if ($.common.isNotEmpty(isAdmin)) {
        if ("true" == isAdmin) {
            $("#selectDept").show();
            $("#selectWeChat").show();
            $("#agentUser").show();
        } else {
            $("#selectDept").hide();
            $("#selectWeChat").hide();
            $("#agentUser").hide();
        }
    }

    function addSaltIpGrp(obj) {
        html = '<p><input name="contactNumber" id="contactNumber" class="form-control" type="text">' +
            '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delControlNumber" onclick="delete(this)"><span class="glyphicon glyphicon-minus"></span></button></p>';
        obj.insertAdjacentHTML('beforebegin', html)
    };


    $(document).on('click', '#delControlNumber', function () {
        $(this).parent().remove();
    });

    function addWeChatGrp(obj) {
        html = '<p><input name="weChatNumber" id="weChatNumber" class="form-control" type="text">' +
            '<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delWeChatNum" onclick="delete(this)"><span class="glyphicon glyphicon-minus"></span></button></p>';
        obj.insertAdjacentHTML('beforebegin', html)
    };


    $(document).on('click', '#delWeChatNum', function () {
        $(this).parent().remove();
    })


    function weChatChange() {
        var wechatFlag = $("#wechatFlag").val();
        if (wechatFlag == "否") {
            $("#resons").show();
        } else {
            $("#reason").val("");
            $("#resons").hide();
        }
    }

    $('#distpicker').distpicker({
        autoSelect: false
    });

    /* //联系电话验证
     jQuery.validator.addMethod("contactNumber", function (value, element) {
         if ($.common.isNotEmpty(value)) {
             var strs = value.split("/");
             for (i = 0; i < strs.length; i++) {
                 var str = "";
                 $.ajax({
                     url: prefix + "/checkPhoneUnique",
                     type: "post",
                     dataType: "json",
                     async: false,
                     data: {
                         "contactNumber": strs[i]
                     },
                     success: function (data) {
                         str = data;
                     }
                 });
                 return $.validate.unique(str);
             }
         } else if ($.common.isNotEmpty($("#weChatNumber").val())) {
             var str = "";
             var strs = $("#weChatNumber").val().split("/");
             for (i = 0; i < strs.length; i++) {
                 $.ajax({
                     url: prefix + "/checkWeChatNumberUnique",
                     type: "post",
                     dataType: "json",
                     async: false,
                     data: {
                         "weChatNumber": strs[i]
                     },
                     success: function (data) {
                         return $.validate.unique(data);
                     }
                 });
             }
         }
     }, "ignore");

     //微信号验证
     jQuery.validator.addMethod("weChatNumber", function (value, element) {
         if ($.common.isNotEmpty(value)) {
             var strs = value.split("/");
             for (i = 0; i < strs.length; i++) {
                 var str = "";
                 $.ajax({
                     url: prefix + "/checkWeChatNumberUnique",
                     type: "post",
                     dataType: "json",
                     async: false,
                     data: {
                         "weChatNumber": strs[i]
                     },
                     success: function (data) {
                         return $.validate.unique(str);
                     }
                 });
             }
         } else if ($.common.isNotEmpty($("#contactNumber").val())) {
             var str = "";
             $.ajax({
                 url: prefix + "/checkPhoneUnique",
                 type: "post",
                 dataType: "json",
                 async: false,
                 data: {
                     "contactNumber": function () {
                         return $.common.trim($("#contactNumber").val());
                     }
                 },
                 success: function (data) {
                     str = data;
                 }
             });
             return $.validate.unique(str);
         }
     }, "ignore");*/
    jQuery.validator.addMethod("phone", function (value, element) {
        var customerId = $("#customerId").val();
        var contactNumberStr = "";
        $("input[name='contactNumber']").each(function () {
            contactNumberStr += $(this).val() + ",";
        });
        var contactNumber = contactNumberStr.slice(0, -1);
        var weChatNumberStr = "";
        $("input[name='weChatNumber']").each(function () {
            weChatNumberStr += $(this).val() + ",";
        });
        var weChatNumber = weChatNumberStr.slice(0, -1);
        var mobileRule = /^1[3|4|5|8|9][0-9]\d{4,8}$/;
        //都没填
        if ($.common.isEmpty(contactNumber) && $.common.isEmpty(weChatNumber)) {
            $(element).data('error-msg', '请填写固定电话或手机号码');
            return false;
        }

        var phonePass = false;
        var weChatPass = false;

        //手机号填写，微信填写
        if ($.common.isNotEmpty(contactNumber) && $.common.isNotEmpty(weChatNumber)) {
            var str1 = contactNumber.split(",");
            for (var i = 0; i < str1.length; i++) {
                $.ajax({
                    url: prefix + "/checkPhoneUnique",
                    type: "post",
                    dataType: "json",
                    async: false,
                    data: {
                        "customerId": customerId,
                        "contactNumber": str1[i]
                    },
                    success: function (data) {
                        return phonePass = $.validate.unique(data);
                    }
                });
            }
            var strs = weChatNumber.split(",");
            for (var i = 0; i < strs.length; i++) {
                $.ajax({
                    url: prefix + "/checkWeChatNumberUnique",
                    type: "post",
                    dataType: "json",
                    async: false,
                    data: {
                        "customerId": customerId,
                        "weChatNumber": strs[i]
                    },
                    success: function (data) {
                        return weChatPass = $.validate.unique(data);
                    }
                });
            }
        }

        //手机号填写，微信没填写
        if ($.common.isNotEmpty(contactNumber) && $.common.isEmpty(weChatNumber)) {
            var strs = contactNumber.split(",");
            for (var i = 0; i < strs.length; i++) {
                var str = "";
                $.ajax({
                    url: prefix + "/checkPhoneUnique",
                    type: "post",
                    dataType: "json",
                    async: false,
                    data: {
                        "customerId": customerId,
                        "contactNumber": strs[i]
                    },
                    success: function (data) {
                        return phonePass = $.validate.unique(data);
                    }
                });
            }
            weChatPass = true;
        }

        //手机号没填写，微信填写
        if ($.common.isEmpty(contactNumber) && $.common.isNotEmpty(weChatNumber)) {
            var strs = weChatNumber.split(",");
            for (var i = 0; i < strs.length; i++) {
                $.ajax({
                    url: prefix + "/checkWeChatNumberUnique",
                    type: "post",
                    dataType: "json",
                    async: false,
                    data: {
                        "customerId": customerId,
                        "weChatNumber": strs[i]
                    },
                    success: function (data) {
                        return weChatPass = $.validate.unique(data);
                    }
                });
            }
            phonePass = true;
        }
        if (!phonePass) {
            $("#num2 input").attr("readOnly", "true");
            document.getElementById("addSaltIpGrpBtn").style.display = "none";
            document.getElementById("addWeChatGrpBtn").style.display = "none";
        } else {
            $("#num2 input").attr("readOnly", false);
            document.getElementById("addSaltIpGrpBtn").style.display = "block";
            document.getElementById("addWeChatGrpBtn").style.display = "block";
        }
        if (weChatPass && phonePass) {
            //自定义成功提示
            return true;
        } else {
            return false;
        }

    }, 'ignore');

    $("#form-customer-add").validate({
        onkeyup: false,
        rules: {
            contactNumber: {
                //required: true,
                phone: []
            },
            weChatNumber: {
                // required: true,
                phone: []
            },
            customerLable: {
                required: true
            },
        },
        focusCleanup: true,
        messages: {
            customerLable: {
                required: "请至少勾选一项！"
            },
        },
        errorPlacement: function (error, element) {  //指定错误信息位置
            if (element.is(':radio') || element.is(':checkbox')) {  //如果是radio或checkbox
                var eid = element.attr('name');  //获取元素的name属性
                error.appendTo(element.parent());  //将错误信息添加当前元素的父结点后面
            } else if (error.text() == 'ignore') {
                return;
            } else {
                error.insertAfter(element);
            }
        }
    });

    /*    $("#form-customer-add").validate({
            onkeyup: false,
            rules: {
                contactNumber: {
                    //required: true,
                    contactNumber: true
                },
                weChatNumber: {
                    // required: true,
                    weChatNumber: true
                },
                customerLable: {
                    required: true
                }
            },
            focusCleanup: true,
            messages: {
                customerLable: {
                    required: "请至少勾选一项！"
                },
            },
            errorPlacement: function (error, element) {  //指定错误信息位置
                if (element.is(':radio') || element.is(':checkbox')) {  //如果是radio或checkbox
                    var eid = element.attr('name');  //获取元素的name属性
                    error.appendTo(element.parent());  //将错误信息添加当前元素的父结点后面
                } else if (error.text() == 'ignore') {
                    return;
                } else {
                    error.insertAfter(element);
                }
            }
        });*/

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-customer-add').serialize());
        }
    }

    //人员树形选择器
    function selectUser() {
        var url = ctx + "system/customer/selectUser?loginName=" + $("#createBy").val() + "&userName=" + $("#creator").val()+"&singleSelect=true";
        $.modal.open("人员选择", url, '850', '600');
    }

    function getDeviceBasics(row) {
        var userNames = "";
        var loginNames = "";
        for (var i = 0; i < row.length; i++) {
            userNames = row[i].userName + "," + userNames;
            loginNames = row[i].loginName + "," + loginNames;
        }
        $("#createBy").val(loginNames.substr(0, loginNames.length - 1));
        $("#creator").val(userNames.substr(0, userNames.length - 1));
        layer.close(layer.index);
    }

    //人员树形选择器
    function selectShareUser() {
        var width = window.innerWidth;
        var height = window.innerHeight;
        var url = ctx + "system/customer/selectShareUser?userId=" + $("#shareUserId").val() + "&userName=" + $("#shareUserName").val();
        $.modal.open("人员选择", url, width, height * 0.8);
    }

    function getParentUser(row) {
        var userNames = "";
        var userIds = "";
        for (var i = 0; i < row.length; i++) {
            $.ajax({
                url: prefix + "/selectUserById",
                data: {'userId': row[i]},
                type: 'post',
                dataType: 'json',
                async: false,
                success: function (result) {
                    if ($.common.isNotEmpty(result.data.userName) && undefined !== result.data.userName) {
                        userNames = result.data.userName + "," + userNames;
                        userIds = result.data.userId + "," + userIds;
                    }
                }
            })
        }
        $("#shareUserId").val(distinct(userIds.substr(0, userIds.length - 1)));
        $("#shareUserName").val(distinct(userNames.substr(0, userNames.length - 1)));
        layer.close(layer.index);
    }

    function distinct(s) {
        var arr = s.split(",");
        var x = new Set(arr);
        var distinctResult = "";
        x.forEach(function (element, sameElement, x) {
            distinctResult += element + ",";
        });
        if (distinctResult != "") {
            distinctResult = distinctResult.substring(0, distinctResult.length - 1);
        }
        return distinctResult;
    }

</script>
</body>
</html>