<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户库列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
    <th:block th:include="include :: bootstrap-editable-css"/>
    <!--<style>
        .editable-empty, .editable-empty:hover, .editable-empty:focus {
            color: #2f2f2f;
        }
    </style>-->
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input name="pageNumber" id="pageNumber" type="hidden" th:value="*{pageNumber}">
            <input name="pageSize" id="pageSize" type="hidden" th:value="*{pageSize}">
            <form id="user-form">
                <div class="select-list">
                    <ul>
                        <li>所属机构：<input type="text" name="customerName" id="customerName" placeholder="请输入所属机构"/></li>
                        <li>
                            联系人：<input type="text" name="contacts" id="contacts" placeholder="请输入联系人"/>
                        </li>
                        <li>
                            联系电话：
                            <input type="text" name="contactNumber" id="contactNumber" placeholder="请输入联系电话"/>
                        </li>
                        <li>
                            微信号：
                            <input type="text" name="weChatNumber" id="weChatNumber" placeholder="请输入微信号"/>
                        </li>
                        <div data-toggle="distpicker" id="distpicker">
                            <li>
                                省：<select name="province" id="province" data-province="---请选择省---"></select>
                            </li>
                            <li>
                                市：
                                <select name="city" id="city" data-city="---请选择市---"></select>
                            </li>
                            <!--<li>
                                <label>区/县：</label>
                                <select name="county" id="county" data-district="-&#45;&#45;请选择区&#45;&#45;&#45;&#45;"></select>
                            </li>-->
                        </div>
                        <li>
                            客户标签：
                            <select id="customerLable" name="customerLable"
                                    th:with="type=${@dict.getType('sys_customer_label')}" data-none-selected-text="请选择">
                                <option value="">--请选择数据--</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li id="sj" style="display: none">
                            实际提交者：
                            <input name="creator" type="text" id="creator" placeholder="请输入创建人"/>
                        </li>
                        <div id="sd" style="display: none">
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                所属部门：
                                <input name="deptName" type="text" id="deptName" placeholder="请输入所属部门"/>
                            </li>
                            <li>
                                资源优势：
                                <input name="resources" type="text" id="resources" placeholder="请输入资源优势"/>
                            </li>
                            <li>
                                是否添加到公司号：
                                <select id="wechatFlag" name="wechatFlag"
                                        th:with="type=${@dict.getType('sys_project_moneyStatus')}"
                                        data-none-selected-text="请选择">
                                    <option value="">--请选择数据--</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                        </div>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="system:customer:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:customer:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:customer:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="exportExcel()" shiro:hasPermission="system:customer:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: distpicker-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:customer:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:customer:remove')}]];
    var detailFlag = [[${@permission.hasPermi('system:customer:list')}]];
    var prefix = ctx + "system/customer";

    var roles = [[${@permission.getPrincipalProperty('roles')}]];
    var loginName = [[${@permission.getPrincipalProperty('loginName')}]];
    if ("admin" == loginName) {
        $("#sd").show();
        $("#sj").show();
    } else {
        for (var i = 0; i < roles.length; i++) {
            if ("SJXXB" == roles[i].roleKey || "admin" == roles[i].roleKey || "seniorRoles" == roles[i].roleKey) {
                $("#sd").show();
                $("#sj").show();
            } else {
                if ("thbManager" == roles[i].roleKey || "thbManager2" == roles[i].roleKey || "tzbzz" == roles[i].roleKey
                    || "investmentManager" == roles[i].roleKey || "bgczManager" == roles[i].roleKey || "thbzz" == roles[i].roleKey) {
                    $("#sj").show();
                }
            }
        }
    }

    $('#distpicker').distpicker({
        autoSelect: false
    });

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail/{id}",
            sortName: 'createTime',
            sortOrder: 'desc',
            clickToSelect: true,
            modalName: "客户库",
            //pageNumber: $.common.isNotEmpty($("#pageNumber").val() ? $("#pageNumber").val() : 1),
            //  pageSize: $.common.isNotEmpty($("#pageSize").val()) ? $("#pageSize").val() : 10,
            // queryParams: queryParams,
            onLoadSuccess: onLoadSuccess,
            onEditableSave: onEditableSave,
            columns: [{
                checkbox: true
            },
                {
                    field: 'customerId',
                    title: '客户id',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'city',
                    title: '所属城市'
                },
                {
                    field: 'customerName',
                    title: '所属机构',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 15);
                    }
                },
                {
                    field: 'contacts',
                    title: '联系人'
                },
                {
                    field: 'contactNumber',
                    title: '联系电话'
                },
                {
                    field: 'weChatNumber',
                    title: '微信号',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 11);
                    }
                },
                {
                    field: 'customerLable',
                    title: '客户标签',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 15);
                    }
                },
                {
                    field: 'projectName',
                    title: '合作项目',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.customerId + '\')">' + strLength(value, 10) + '</a>';
                    }
                },
                {
                    field: 'creator',
                    title: '实际提交者'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    formatter: function (value, row, index) {
                        return $.table.dateTimeFormatter(value);
                    }
                },
                {
                    field: 'deptName',
                    title: '所属部门'
                },
                /*{
                    field: 'wechatFlag',
                    title: '是否添加到公司号',
                    editable: {
                        type: 'select',
                        title: "是否添加到公司号", // 编辑框的标题
                        disabled: false, // 是否禁用编辑
                        emptytext: "空文本", // 空值的默认文本
                        source: [{value: "否", text: "否"}, {value: "是", text: "是"}], //动态形成下拉框
                        value: "",//1代表你需要选中的value值
                        mode: "inline" // 编辑框的模式：支持popup和inline两种模式，默认是popup
                    }
                },*/
                {
                    visible: editFlag == 'hidden' ? false : true,
                    field: 'wechatFlag',
                    title: '已加公司号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'reason',
                    title: '原因',
                    editable: {
                        type: 'text',
                        title: '原因'
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push("<a class='btn btn-default btn-xs " + detailFlag + "' href='javascript:void(0)' onclick='$.operate.detail(" + row.customerId + ")'><i class='fa fa-search'></i>详细</a> ");
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function statusTools(row) {
        if (row.wechatFlag == "是") {
            return '<i class=\"fa fa-toggle-on text-info\" style="font-size: 200%" onclick="enable(\'' + row.customerId + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-off\" style="font-size: 200%" onclick="disable(\'' + row.customerId + '\')"></i> ';
        }
    }

    /* 是否添加到公司微信-是 */
    function disable(id) {
        $.modal.confirm("确认添加到公司微信吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"customerId": id, "wechatFlag": "是"});
        })
    }

    /* 是否添加到公司微信-否 */
    function enable(id) {
        $.modal.confirm("确认未添加到公司微信吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"customerId": id, "wechatFlag": "否"});
        })
    }


    function onEditableSave(field, row, oldValue, $el) {
        $.ajax({
            type: "post",
            url: prefix + "/edit",
            data: row,
            dataType: 'JSON',
            success: function (result) {
                $.operate.ajaxSuccess(result);
                $.table.refresh();
            }
        });
    }

    function onLoadSuccess(data) {
        if ($.common.isEmpty(data.rows)) {
            $.table.hideColumn("creator");
            $.table.hideColumn("wechatFlag");
            $.table.hideColumn("reason");
        }
        for (var i in data.rows) {
            if ($.common.isEmpty(data.rows[i].isAdmin)) {
                $.table.hideColumn("creator");
                $.table.hideColumn("wechatFlag");
                $.table.hideColumn("reason");
            } else if ("N" == data.rows[i].isAdmin) {
                $.table.hideColumn("wechatFlag");
                $.table.hideColumn("reason");
            }
        }
        onPostBody();
    }

    function onPostBody() {
        var pageNumber = $("#bootstrap-table").bootstrapTable("getOptions").pageNumber;
        //跳转到
        var goPage = parseInt($("#pageNumber").val());
        $("#pageNumber").val('');
        if (goPage != pageNumber) {
            $("#bootstrap-table").bootstrapTable('selectPage', parseInt(goPage));
        }
    }

    //控制显示的字数
    function strLength(value, length, target, str) {
        var _length = $.common.isEmpty(length) ? 20 : length;
        var _text = "";
        var _value = $.common.nullToStr(value, str);
        var _target = $.common.isEmpty(target) ? 'copy' : target;
        if ($.common.isNotEmpty(value)) {
            if (_value.length > _length) {
                _text = _value.substr(0, _length) + "...";
                _value = _value.replace(/\'/g, "&apos;");
                _value = _value.replace(/\"/g, "&quot;");
                var actions = [];
                actions.push($.common.sprintf('<input style="opacity: 0;position: absolute;z-index:-1" type="text" value="%s"/>', _value));
                actions.push($.common.sprintf('<span class="tooltip-show" data_target="%s" data-toggle="tooltip" title="%s">%s</span>', _target, _value, _text));
                return actions.join('');
            } else {
                _text = _value;
                return _text;
            }
        } else {
            _text = "暂无合作项目";
            return _text;
        }
    }

    function queryParams(params) {
        var search = $.table.queryParams(params);
        if ($.common.isNotEmpty($("#pageNumber").val())) {
            search.pageNum = $("#pageNumber").val();
        }
        if ($.common.isNotEmpty($("#pageSize").val())) {
            search.pageSize = $("#pageSize").val();
        }
        return search;
    }


    function detail(customerId) {
        var url = ctx + 'system/item/itemList?customerId=' + customerId + "&pageNumber=" + $("#bootstrap-table").bootstrapTable('getOptions').pageNumber
            + "&pageSize=" + $("#bootstrap-table").bootstrapTable('getOptions').pageSize;
        $.modal.parentTab("合作项目列表", url);
    }

    function jump() {
        var data = $("#formId").serialize();
        $.operate.gets(prefix + "/queryAll", data, "查询界面");
    }

    function exportExcel() {
        var row = $.map($("#bootstrap-table").bootstrapTable('getSelections'), function (row) {
            return row;
        });
        var str = "";
        //根据name获取所有元素
        for (var i = 0; i < row.length; i++) {
            str += row[i].customerId + ",";
        }
        //去掉最后一个逗号(如果不需要去掉，就不用写)
        if (str.length > 0) {
            str = str.substr(0, str.length - 1);
        }
        var data = {
            'customerIds': str,
            'customerName': $("#customerName").val(),
            'contacts': $("#contacts").val(),
            'contactNumber': $("#contactNumber").val(),
            'weChatNumber': $("#weChatNumber").val(),
            'province': $("#province").val(),
            'city': $("#city").val(),
            'customerLable': $("#customerLable").val(),
            'creator': $("#creator").val(),
            'params[beginTime]': $("#startTime").val(),
            'params[endTime]': $("#endTime").val(),
            'resources': $("#resources").val(),
            'deptName': $("#deptName").val(),
            'wechatFlag': $("#wechatFlag").val(),
        };
        //window.location.href = prefix + "/selectSysApplyInByApplyUserNameAndTime?" + $("#formId").serialize();
        $.ajax({
            url: prefix + "/export",
            data: data,
            type: "post",
            success: function (result) {
                console.log("返回数据：=======" + result.msg);
                window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
            }
        })
    }

    function exportExcel1() {
        $.ajax({
            url: prefix + '/getData',
            type: 'get',
            data: '',
            dataType: 'json',
            success: function (result) {
                window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
            }
        })
    }

</script>
</body>
</html>