<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('客户详细')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <input th:value="${isAdmin}" type="hidden" id="isAdmin">
    <table class="table table-striped">
        <tr>
            <td style="width: 10%!important;"><h5>联系人：</h5></td>
            <td style="width: 90%!important;"><span th:text="${sysCustomer.contacts}"/></td>
        </tr>
        <tr>
            <td><h5>联系电话：</h5></td>
            <td><span th:text="${sysCustomer.contactNumber}"/></td>
        </tr>
        <tr>
            <td><h5>微信号：</h5></td>
            <td><span th:text="${sysCustomer.weChatNumber}"/></td>
        </tr>
        <tr>
            <td><h5>所属机构：</h5></td>
            <td><span th:text="${sysCustomer.customerName}"/></td>
        </tr>
        <tr>
            <td><h5>职务：</h5></td>
            <td><span th:text="${sysCustomer.duties}"/></td>
        </tr>
        <tr>
            <td><h5>客户标签：</h5></td>
            <td>
                <label th:each="role:${roles}" class="check-box">
                    <input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}"
                           th:checked="${role.flag}" th:disabled="${role.status == '1'}" onclick="return false;">
                </label>
                <label th:each="type:${types}" class="check-box">
                    <input name="customerLable" type="checkbox" th:value="${type.dictValue}" th:text="${type.dictValue}"
                           th:checked="${type.flag}" th:disabled="${type.status == '1'}" onclick="return false;">
                </label>
            </td>
        </tr>
        <tr>
            <td><h5>所在地区：</h5></td>
            <td>
                <span th:text="${sysCustomer.province}"></span>
                <span th:text="${sysCustomer.city}"></span>
                <span th:text="${sysCustomer.county}"></span>
            </td>
        </tr>
        <tr>
            <td><h5>详细地址：</h5></td>
            <td><span th:text="${sysCustomer.contactAddress}"/></td>
        </tr>
        <tr>
            <td><h5>资源优势：</h5></td>
            <td><span th:text="${sysCustomer.resources}"/></td>
        </tr>
        <tr>
            <td><h5>备注：</h5></td>
            <td><span th:text="${sysCustomer.remarks}"/></td>
        </tr>
        <tr>
            <td><h5>共享人：</h5></td>
            <td><span th:text="${sysCustomer.shareUserName}"/></td>
        </tr>
        <tr id="selectWeChat">
            <td><h5>是否添加到公司号：</h5></td>
            <td><span th:text="${sysCustomer.wechatFlag}"/></td>
        </tr>
        <tr id="reason">
            <td class="col-sm-3"><h5>原因：</h5></td>
            <td class="col-sm-3" colspan="5"><span th:text="${sysCustomer.reason}"/></td>
        </tr>
        <tr id="creator">
            <td class="col-sm-3"><h5>实际提交者：</h5></td>
            <td class="col-sm-3"><span th:text="${sysCustomer.creator}"/></td>
        </tr>
    </table>
</div>
<th:block th:include="include :: footer"/>
<script>
    var isAdmin = $("#isAdmin").val();
    if ($.common.isNotEmpty(isAdmin)) {
        if ('true' == isAdmin) {
            $("#selectWeChat").show();
            $("#reason").show();
            $("#creator").show();
        } else {
            $("#selectWeChat").hide();
            $("#reason").hide();
            $("#creator").hide();
        }
    }
</script>
</body>
</html>