<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改客户库')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-customer-edit" th:object="${sysCustomer}">
            <input name="customerId" th:field="*{customerId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input name="customerName" th:field="*{customerName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属机构：</label>
                <div class="col-sm-8">
                    <input name="affiliation" th:field="*{affiliation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系人：</label>
                <div class="col-sm-8">
                    <input name="contacts" th:field="*{contacts}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-8">
                    <input name="contactNumber" th:field="*{contactNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职务：</label>
                <div class="col-sm-8">
                    <input name="duties" th:field="*{duties}" class="form-control" type="text">
                </div>
            </div>
            <input type="hidden" th:value="${sysCustomer.province}" id="province1"/>
            <input type="hidden" th:value="${sysCustomer.city}" id="city1"/>
            <input type="hidden" th:value="${sysCustomer.county}" id="county1"/>
            <div class="form-group" data-toggle="distpicker">
                <label class="control-label col-sm-3">所在地址</label>
                <div class="col-sm-8" id="address">
                    <div class="col-sm-4">
                        <select class="form-control" name="province" id="province"></select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="city" id="city"></select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="county" id="county"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系地址：</label>
                <div class="col-sm-8">
                    <input name="contactAddress" th:field="*{contactAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资源优势：</label>
                <div class="col-sm-8">
                    <input name="resources" th:field="*{resources}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script src="/js/plugins/distpicker/distpicker.data.js"></script>
    <script src="/js/plugins/distpicker/distpicker.js"></script>
    <script type="text/javascript">
        $(function(){
            var option = {
                autoSelect: true,
                placeholder: true,
                province: $("#province1").val(),
                city: $("#city1").val(),
                district: $("#county1").val()
            }
            $("#address").distpicker(option);
        })

        var prefix = ctx + "system/customer";
        $("#form-customer-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-customer-edit').serialize());
            }
        }

        //人员树形选择器
        function selectUserTree() {
            var options = {
                title: '人员选择',
                width: "750",
                url: ctx + "system/customer/selectCustomerTree?selectedCustomerIds=" + $("#buyerId").val() + "&selectedCustomerNames=" + $("#buyer").val() + "&multiSelectFlag=" + true,
                callBack: doSelect
            };
            $.modal.openOptions(options);
        }

        function doSelect(index, layero){
            var body = layer.getChildFrame('body', index);
            var userIds = "";
            var userNames = "";
            body.find("#multiselect_to option").each(function(){  //遍历所有option
                var val = $(this).val();   //获取option值
                var txt = $(this).text();  //获取option的文本内容
                if(val!= '' && txt!=''){
                    userIds = userIds + val + ",";
                    userNames = userNames + txt + ",";
                }
            });

            userIds = userIds.substring(0,userIds.length-1);
            userNames = userNames.substring(0,userNames.length-1);

            $("#buyerId").val(userIds);
            $("#buyer").val(userNames);
            layer.close(index);
        }
    </script>
</body>
</html>