<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户库列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
    <th:block th:include="include :: bootstrap-editable-css"/>
    <style>
        .editable-empty, .editable-empty:hover, .editable-empty:focus{
            color: #2f2f2f;
        }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="customerName" th:value="${sysCustomer.customerName}"/>
                <input type="hidden" name="contacts" th:value="${sysCustomer.contacts}"/>
                <input type="hidden" name="contactAddress" th:value="${sysCustomer.contactAddress}"/>
                <input type="hidden" name="contactNumber" th:value="${sysCustomer.contactNumber}"/>
                <input type="hidden" name="weChatNumber" th:value="${sysCustomer.weChatNumber}"/>
                <input type="hidden" name="province" th:value="${sysCustomer.province}"/>
                <input type="hidden" name="city" th:value="${sysCustomer.city}"/>
                <input type="hidden" name="county" th:value="${sysCustomer.county}"/>
                <input type="hidden" name="customerLable" th:value="${sysCustomer.customerLable}"/>
                <input type="hidden" name="creator" th:value="${sysCustomer.creator}"/>
                <input type="hidden" name="params[beginTime]" id="beginDate" th:value="${sysCustomer.beginTime}"/>
                <input type="hidden" name="params[endTime]" id="endDate" th:value="${sysCustomer.endTime}"/>

                <input type="hidden" name="deptName" th:value="${sysCustomer.deptName}"/>
                <input type="hidden" name="resources" th:value="${sysCustomer.resources}"/>
                <input type="hidden" name="wechatFlag" th:value="${sysCustomer.wechatFlag}"/>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:customer:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:customer:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: distpicker-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:customer:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:customer:remove')}]];
    var detailFlag = [[${@permission.hasPermi('system:customer:list')}]];
    var prefix = ctx + "system/customer";

    $('#distpicker').distpicker({
        autoSelect: false
    });

    $(function () {
        var options = {
            url: prefix + "/queryAllList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail/{id}",
            clickToSelect: true,
            modalName: "客户库",
            onLoadSuccess: onLoadSuccess,
            onEditableSave: onEditableSave,
            columns: [{
                checkbox: true
            },
                {
                    field: 'customerId',
                    title: '客户id',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'city',
                    title: '市'
                },
                {
                    field: 'customerName',
                    title: '所属机构',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, '10');
                    }
                },
                {
                    field: 'contacts',
                    title: '联系人'
                },
                {
                    field: 'contactNumber',
                    title: '联系电话'
                },
                {
                    field: 'weChatNumber',
                    title: '微信号'
                },
                {
                    field: 'customerLable',
                    title: '客户标签',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 15);
                    }
                },
                {
                    field: 'projectName',
                    title: '合作项目',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.customerId + '\')">' + strLength(value) + '</a>';
                    }
                },
                {
                    field: 'creator',
                    title: '创建人'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    formatter: function (value, row, index) {
                        return $.table.dateTimeFormatter(value);
                    }
                },
                {
                    field: 'deptName',
                    title: '所属部门'
                },
                {
                    visible: editFlag == 'hidden' ? false : true,
                    field: 'wechatFlag',
                    title: '已加公司号',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'reason',
                    title: '原因',
                    editable: {
                        type: 'text',
                        title: '原因'
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push("<a class='btn btn-default btn-xs " + detailFlag + "' href='javascript:void(0)' onclick='$.operate.detail(" + row.customerId + ")'><i class='fa fa-search'></i>详细</a> ");
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function statusTools(row) {
        if (row.wechatFlag == "是") {
            return '<i class=\"fa fa-toggle-on text-info\" style="font-size: 200%" onclick="enable(\'' + row.customerId + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-off\" style="font-size: 200%" onclick="disable(\'' + row.customerId + '\')"></i> ';
        }
    }

    /* 是否添加到公司微信-是 */
    function disable(id) {
        $.modal.confirm("确认添加到公司微信吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"customerId": id, "wechatFlag": "是"});
        })
    }

    /* 是否添加到公司微信-否 */
    function enable(id) {
        $.modal.confirm("确认未添加到公司微信吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"customerId": id, "wechatFlag": "否"});
        })
    }


    function onEditableSave(field, row, oldValue, $el) {
        $.ajax({
            type: "post",
            url: prefix + "/edit",
            data: row,
            dataType: 'JSON',
            success: function (result) {
                $.operate.ajaxSuccess(result);
                $.table.refresh();
            }
        });
    }

    function onLoadSuccess(data) {
        for (var i in data.rows) {
            if ("N" == data.rows[i].isAdmin) {
                $.table.hideColumn("creator");
                $.table.hideColumn("deptName");
                $.table.hideColumn("wechatFlag");
                $.table.hideColumn("reason");
            }
        }
    }

    //控制显示的字数
    function strLength(value) {
        var str = "";
        if ($.common.isNotEmpty(value)) {
            if (value.length > 10) {
                str = value.substring(0, 10) + '...';
            } else {
                str = value;
            }
        } else {
            str = "暂无合作项目";
        }
        return str;
    }

    function detail(customerId) {
        var url = ctx + 'system/item/itemList/' + customerId;
        $.modal.openTab("合作项目列表", url);
    }

    function jump() {
        var data = $("#formId").serialize();
        $.operate.gets(prefix + "/queryAll", data, "查询界面");
    }
</script>
</body>
</html>