<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('分配角色选择用户')"/>
</head>

<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input id="checkedId" th:value="*{list}" type="hidden">
            <form id="role-form">
                <div class="select-list">
                    <input th:value="*{userId}" id="userId" type="hidden">
                    <input th:value="*{userName}" id="userName" type="hidden">
                    <input name="deptId" th:value="*{deptId}" id="deptId" type="hidden">
                    <input name="status" value="0" id="status" type="hidden">
                    <ul>
                        <!--    <li>
                                登录名称：<input type="text" name="loginName"/>
                            </li>-->
                        <li>
                            用户名称：<input type="text" name="userName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/user";
    var checkedIds = new Array();
    $(function () {
        checkedIds = $("#userId").val().split(",");
        var options = {
            url: prefix + "/list",
            modalName: "用户",
            clickToSelect: true,
            singleSelect: false,
            rememberSelected: true,
            checkedIds: checkedIds,
            columns: [{
                field: 'state',
                checkbox: true,
                formatter: function (value, row, index) {
                    var userIds = $("#userId").val().split(",");
                    for (var i = 0; i < userIds.length; i++) {
                        if (userIds[i] == row.userId) {
                            return checked = true;
                        }
                    }
                }
            },
                {
                    field: 'userId',
                    title: '用户ID',
                    visible: false
                },
                {
                    field: 'loginName',
                    title: '登录名称',
                    sortable: true
                },
                {
                    field: 'userName',
                    title: '用户名称'
                },
                {
                    field: 'email',
                    title: '邮箱'
                },
                {
                    field: 'phonenumber',
                    title: '手机'
                },
                {
                    field: 'status',
                    title: '用户状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                }]
        };
        $.table.init(options);
        $('#bootstrap-table').on('uncheck.bs.table check.bs.table check-all.bs.table uncheck-all.bs.table', function (e, rows) {
            var datas = $.isArray(rows) ? rows : [rows];        // 点击时获取选中的行或取消选中的行
            examine(e.type, datas);                              // 保存到全局 Array() 里
        });
        $("#bootstrap-table").on("check-all.bs.table", (event, rows) => {
            rows.forEach(function (item) {
                checkedIds.push(item.userId);
            })
        }).on("uncheck-all.bs.table", (event, rows) => {
            rows.forEach(function (item) {
                checkedIds.splice(checkedIds.indexOf(item.userId), 1);
            })
        }).on("check.bs.table", (event, row) => {
            checkedIds.push(row.userId)
        }).on("uncheck.bs.table", (event, row) => {
            checkedIds.splice(checkedIds.indexOf(row.userId), 1);
        })
    });

    var overAllIds = new Array();  //全局数组

    function examine(type, datas) {
        if (type.indexOf('uncheck') == -1) {
            $.each(datas, function (i, v) {
                // 添加时，判断一行或多行的 id 是否已经在数组里 不存则添加　
                overAllIds.indexOf(v.userId) == -1 ? overAllIds.push(v.userId) : -1;
            });
        } else {
            $.each(datas, function (i, v) {
                overAllIds.splice(overAllIds.indexOf(v.userId), 1);    //删除取消选中行
            });
        }

        //console.log(overAllIds);
    }

    function submitHandler() {
        //console.log(overAllIds);
        console.log(checkedIds);
        var row = selectRows();
        var rows = $.table.selectColumns('userId');
        window.parent.getParentUser(checkedIds);
        //window.parent.getParentUsers(row);
    }

    function selectRows() {
        //获取当前选中的值
        let rows = $.map($("#bootstrap-table").bootstrapTable('getSelections'), function (row) {
            return row;
        });
        //去重
        return uniqueFnByRows(rows);
    }

    function uniqueFnByRows(array) {
        var result = [];
        var hashObj = {};
        for (var i = 0; i < array.length; i++) {
            if (!hashObj[array[i].userId]) {//参数id为主键，请根据自己的情况进行修改
                hashObj[array[i].userId] = true;
                result.push(array[i]);
            }
        }
        return result;
    }

</script>
</body>
</html>