<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('导入表结构')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input th:value="*{customerIds}" id="customerIds" type="hidden">
            <input th:value="*{customerNames}" id="customerNames" type="hidden">
            <form id="gen-form">
                <div class="select-list">
                    <ul>
                        <li>
                            表名称：<input type="text" name="tableName"/>
                        </li>
                        <li>
                            表描述：<input type="text" name="tableComment"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "system/customer";

    $(function () {
        var options = {
            url: prefix + "/list",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            rememberSelected: true,
            //singleSelect: true,
            modalName: "客户库",
            columns: [{
                checkbox: true,
                formatter: function (value, row, index) {
                    var ids = $("#customerIds").val().split(",");
                    for (var i = 0; i < ids.length; i++) {
                        if (ids[i] == row.customerId) {
                            return checked = true;
                        }
                    }

                }
            },
                {
                    field: 'customerId',
                    title: '客户id',
                    visible: false
                },
                {
                    field: 'customerName',
                    title: '客户名称'
                },
                {
                    field: 'affiliation',
                    title: '所属机构',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value,'10');
                    }
                },
                {
                    field: 'contacts',
                    title: '联系人'
                },
                {
                    field: 'contactNumber',
                    title: '联系电话'
                },
                {
                    field: 'duties',
                    title: '职务'
                },
                {
                    field: 'contactAddress',
                    title: '联系地址',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value,'10');
                    }
                },
                {
                    field: 'resources',
                    title: '资源优势',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value,'10');
                    }
                },
                {
                    field: 'province',
                    title: '省份'
                },
                {
                    field: 'city',
                    title: '市'
                },
                {
                    field: 'county',
                    title: '县/区'
                },
                {
                    field: 'projectName',
                    title: '合作项目',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 20)
                    }
                }]
        };
        $.table.init(options);
    });


    //控制显示的字数
    function strLength(value) {
        var str = $.common.nullToStr(value);
        if (str.length > 10) {
            str = str.substring(0, 10) + '...';
        }
        return str;
    }

    /* 导入表结构-选择表结构-提交 */
    function submitHandler() {
        var row = selectRows();
        window.parent.getDeviceBasics(row);
    }

    function selectRows() {
        //获取当前选中的值
        let row = $.map($("#bootstrap-table").bootstrapTable('getSelections'), function (row) {
            return row;
        });
        //如果设置了记住选中数据
        if ($.common.isNotEmpty(table.options.rememberSelected) && table.options.rememberSelected) {
            let selectedRows = table.rememberSelecteds[table.options.id];
            if ($.common.isNotEmpty(selectedRows)) {
                rows = $.map(table.rememberSelecteds[table.options.id], function (row) {
                    return row;
                });
            }
        }
        //去重
        return uniqueFnByRows(row);
    }

    function uniqueFnByRows(array) {
        var result = [];
        var hashObj = {};
        for (var i = 0; i < array.length; i++) {
            if (!hashObj[array[i].customerId]) {//参数id为主键，请根据自己的情况进行修改
                hashObj[array[i].customerId] = true;
                result.push(array[i]);
            }
        }
        return result;
    }
</script>
</body>
</html>