<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('项目管理资产库列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
<!--                    <input name="projectZckType" id="projectZckType" th:value="automaticSwitch" type="hidden">-->
                    <ul>
                        <li>
                            <label>资产包名称：</label>
                            <input type="text" name="zckName"/>
                        </li>
                        <li>
                            <label>资产包状态：</label>
                            <input type="text" name="zckStatus"/>
                        </li>
                        <!--<li>
                            <label>资产库状态：</label>
                            <select name="assetStatus" id="assetStatus" th:with="type=${@dict.getType('sys_zcb_assetStatus')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:projectZck:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:projectZck:remove')}]];
    var prefix = ctx + "system/projectZck";

    $(function () {
        var options = {
            url: prefix + "/listByType",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "项目管理资产库",
            singleSelect: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'projectZckId',
                    title: '项目管理资产库ID',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'zckName',
                    title: '资产包名称',
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.projectZckId + "',\'" + row.zckName + '\')">' + value + '</a>';
                    }
                },
                /*
                {
                    field: 'startTime',
                    title: '处置开始时间'
                },
                {
                    field: 'endTime',
                    title: '处置结束时间'
                },
                {
                    field: 'bjye',
                    title: '本金余额总额',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value, 3, '.', ',');
                    }
                },
                {
                    field: 'czhx',
                    title: '处置回现总额',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value, 3, '.', ',');
                    }
                },
                {
                    field: 'syhs',
                    title: '剩余债权户数'/!*,
                    formatter:function (value,row,index) {
                        return $.operate.numberFormatter(value);
                    }*!/
                },*/
                {
                    field: 'zckStatus',
                    title: '资产包状态'
                }]
        };
        $.table.init(options);
    });


    /*资产库列表-详细*/
    function detail(id, zckName) {
        var url = prefix + '/projectList?projectZckId=' + id + "&projectZckType=" + $("#projectZckType").val();
        $.modal.parentTab(zckName + "列表", url);
    }

    //查询
    function jump() {
        var data = $("#formId").serialize();
        $.operate.gets(ctx + "system/project/queryAll", data, "查询界面");
    }

    function back() {
        var url = ctx + "system/projectZck";
        $.modal.parentTab("投后部项目管理", url);
    }

    function submitHandler() {
        var row = selectRows();
        window.parent.getZcdSelected(row);
    }

    function selectRows() {
        //获取当前选中的值
        let rows = $.map($("#bootstrap-table").bootstrapTable('getSelections'), function (row) {
            return row;
        });
        //如果设置了记住选中数据
        if ($.common.isNotEmpty(table.options.rememberSelected) && table.options.rememberSelected) {
            let selectedRows = table.rememberSelecteds[table.options.id];
            if ($.common.isNotEmpty(selectedRows)) {
                rows = $.map(table.rememberSelecteds[table.options.id], function (row) {
                    return row;
                });
            }
        }
        //去重
        return uniqueFnByRows(rows);
    }

    function uniqueFnByRows(array) {
        var result = [];
        var hashObj = {};
        for (var i = 0; i < array.length; i++) {
            if (!hashObj[array[i]]) {//参数id为主键，请根据自己的情况进行修改
                hashObj[array[i]] = true;
                result.push(array[i]);
            }
        }
        return result;
    }

</script>
</body>
</html>