<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资产信息库列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input type="hidden" id="assetStatus" th:value="已收购">
            <form id="formId">
                <input type="hidden" id="zcbId" name="zcbId" th:value="*{proId}">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>债务人名称：</label>
                            <input type="text" name="projectName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:zck:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:zck:remove')}]];
    var detailFlag = [[${@permission.hasPermi('system:zck:detail')}]];
    var prefix = ctx + "system/zcb/zck";

    var checkedIds = new Array();
    var str;

    $(function () {
        var options = {
            url: prefix + "/listDoc",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            detailUrl: prefix + "/detail/{id}",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            modalName: "资产信息库",
            singleSelect: false,
            rememberSelected: true,
            checkedIds: checkedIds,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'projectName',
                    title: '借款人名称',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(row.projectName, 10);
                    },
                    sortable: true
                },
                {
                    field: 'city',
                    title: '城市/地区'
                }]
        };
        $.table.init(options);
        $('#bootstrap-table').on('uncheck.bs.table check.bs.table check-all.bs.table uncheck-all.bs.table', function (e, rows) {
            var datas = $.isArray(rows) ? rows : [rows];        // 点击时获取选中的行或取消选中的行
            examine(e.type, datas);                              // 保存到全局 Array() 里
        });
        $("#bootstrap-table").on("check-all.bs.table", (event, rows) => {
            rows.forEach(function (item) {
                checkedIds.push(item.id);
            })
        }).on("uncheck-all.bs.table", (event, rows) => {
            rows.forEach(function (item) {
                checkedIds.splice(checkedIds.indexOf(item.id), 1);
            })
        }).on("check.bs.table", (event, row) => {
            checkedIds.push(row.id)
        }).on("uncheck.bs.table", (event, row) => {
            checkedIds.splice(checkedIds.indexOf(row.id), 1);
        })
    });

    function examine(type, datas) {
        if (type.indexOf('uncheck') == -1) {
            $.each(datas, function (i, v) {
                // 添加时，判断一行或多行的 id 是否已经在数组里 不存则添加　
                if (checkedIds.indexOf(v.id) == -1) {
                    checkedIds.push(v.id);
                }
            });
        } else {
            $.each(datas, function (i, v) {
                checkedIds.splice(getArrIndex(v.id), 0);    //删除取消选中行
            });
        }
    }

    function getArrIndex(val) {
        for (var i = 0; i < checkedIds.length; i++) {
            if (checkedIds[i] === val) {
                return i;
            }
            return -1;
        }
    }

    /*资产库数据-新增资产库数据*/
    function add() {
        var zcbId = $("#zcbId").val();
        $.operate.add(zcbId);
    }

    function submitHandler() {
        var str = uniqueFnByRows(checkedIds);
        var dataes;
        $.ajax({
            url: prefix + '/getZckListByIds',
            data: {"ids": checkedIds},
            dataType: 'JSON',
            type: "post",
            async: false,
            success: function (res) {
                dataes = res.data;
            }
        })
        window.parent.getDobtSelected(dataes);
        // var row = selectRows();
        // window.parent.getDobtSelected(row);
    }

    function selectRows() {
        //获取当前选中的值
        let rows = $.map($("#bootstrap-table").bootstrapTable('getSelections'), function (row) {
            return row;
        });
        //如果设置了记住选中数据
        if ($.common.isNotEmpty(table.options.rememberSelected) && table.options.rememberSelected) {
            let selectedRows = table.rememberSelecteds[table.options.id];
            if ($.common.isNotEmpty(selectedRows)) {
                rows = $.map(table.rememberSelecteds[table.options.id], function (row) {
                    return row;
                });
            }
        }
        //去重
        return uniqueFnByRows(rows);
    }

    function uniqueFnByRows(array) {
        var result = [];
        var hashObj = {};
        for (var i = 0; i < array.length; i++) {
            if (!hashObj[array[i].id]) {//参数id为主键，请根据自己的情况进行修改
                hashObj[array[i].id] = true;
                result.push(array[i]);
            }
        }
        return result;
    }
</script>
</body>
</html>