<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改预约时间设置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-reservationDate-edit" th:object="${sysReservationDate}">
            <input name="reservationDateId" th:field="*{reservationDateId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">预约时间：</label>
                <div class="col-sm-8">
                    <input name="reservationDate" th:field="*{reservationDate}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/reservationDate";
        $("#form-reservationDate-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-reservationDate-edit').serialize());
            }
        }
    </script>
</body>
</html>