<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('审批历史')" />
</head>

<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="role-form">
					<input type="hidden" id="applyId" name="applyId" th:value="${applyId}">
					<!-- <div class="select-list">
						<ul>
							<li>
								任务名称：<input type="text" name="activityName"/>
							</li>
							<li>
								办理人ID：<input type="text" name="assignee"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div> -->
				</form>
			</div>

	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:src="@{/js/activiti.js}"></script>
	<script th:inline="javascript">
		var prefix = ctx + "activity/workflow";
		var applyStatuDictDatas = [[${@dict.getType('apply_statu')}]];

		$(function() {
			var options = {
		        url: prefix + "/list",
		        queryParams: queryParams,
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "审批历史",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        clickToSelect: false,
		        rememberSelected: false,
						pagination: false,
		        columns: [{
		            field: 'workFlowId',
		            title: 'ID',
		            visible: false
		        },
		        {
		            field: 'approveUser',
		            title: '处理人账号'
		        },
				{
					field: 'approveUserName',
					title: '处理人'
				},
				{
					field: 'createTime',
					title: '处理时间'
				},
		        {
		            field: 'approveStatu',
		            title: '处理结果',
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(applyStatuDictDatas, item.approveStatu);
					}
		        },
				{
					field: 'remarks',
					title: '处理意见'
				}]
		    };
		    $.table.init(options);
		});

		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.applyId = $("#applyId").val();
			return search;
		}

		/* 添加用户-选择用户-提交 */
		function submitHandler() {
			$.modal.close();
		}
	</script>
</body>
</html>
