<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增处置回现任务')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-managetask-add">
            <input name="proId" id="proId" th:value="*{proId}" type="hidden">
            <input name="taskType" id="taskType" th:value="*{taskType}" type="hidden">
            <div class="form-group" id="nodeStatuShow">
                <label class="col-sm-3 control-label is-required">节点状态：</label>
                <div class="col-sm-8">
                    <select id="nodeStatu" name="nodeStatu" th:with="type=${@dict.getType('subtask_project_ststus')}" onchange="nodeChange()"
                            data-none-selected-text="请选择" class="form-control m-b required">
                        <option value="">--请选择数据--</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="otherNode" hidden>
                <label class="col-sm-3 control-label is-required">其他：</label>
                <div class="col-sm-8">
                    <input name="remarks1" class="form-control required" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">预计开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="planBeginTime" class="form-control required" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">预计结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="planEndTime" class="form-control required" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">实际开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="realBeginTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">实际结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="realEndTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">预计回收金额：</label>
                <div class="col-sm-8">
                    <input name="planBackMoney" onkeyup="this.value=this.value.replace(/[^\d^\.]+/g,'')" class="form-control required" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">实际回收金额：</label>
                <div class="col-sm-8">
                    <input name="realBackMoney" onkeyup="this.value=this.value.replace(/[^\d^\.]+/g,'')" class="form-control" type="text">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">预期天数：</label>
                <div class="col-sm-8">
                    <input name="overDay" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">任务状态：</label>
                <div class="col-sm-8">
                    <input name="taskStatu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remarks" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用字段1：</label>
                <div class="col-sm-8">
                    <input name="remarks1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用字段2：</label>
                <div class="col-sm-8">
                    <input name="remarks2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用字段3：</label>
                <div class="col-sm-8">
                    <input name="remarks3" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建人名称：</label>
                <div class="col-sm-8">
                    <input name="creator" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修改人名称：</label>
                <div class="col-sm-8">
                    <input name="reviser" class="form-control" type="text">
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/managetask"
        var taskType = document.getElementById("taskType").value;
        $("#form-managetask-add").validate({
            focusCleanup: true
        });

        $(function () {
            if (taskType == '1'){
                $("#nodeStatuShow").show();
            }else{
                $("#nodeStatuShow").hide();
            }
        })

        function nodeChange(){
            var nodeStatu = document.getElementById("nodeStatu").value;
            if (nodeStatu == "other"){
                $("#otherNode").show();
            }else {
                $("#otherNode").hide();
            }
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-managetask-add').serialize());
            }
        }

        /*$("input[name='planBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate: new Date()
        });*/

        /*$("input[name='realBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate: new Date()
        });*/

        /*$("input[name='planEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:$("input[name='planEndTime']").value
        });*/

        /*$("input[name='realEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });*/

        var sdate = '2018-07-04';
        var edate;
        var obj = ['2018-07-12','2018-07-13','2018-07-20'];//禁用日期可以从数据库查
        $.fn.datetimepicker.dates['zdy'] = {
            days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            daysMin:  ["日", "一", "二", "三", "四", "五", "六"],
            months: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
            monthsShort: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
            today: "今天",
            format:"yyyy-mm-dd",
            titleFormat:"yyyy-mm-",
            weekStart:1,
            suffix: [],
            meridiem: ["上午", "下午"]
        };

        $("input[name='planBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:new Date(),
            minView:2,
            maxView:3,
            onRenderDay: function(date) {
                //       alert(date);
                var date1 = date.getFullYear()+'-'
                    +(date.getMonth()<9?'0'+(date.getMonth()+1):date.getMonth()+1)
                    +'-'
                    +(date.getDate()<10?'0'+(date.getDate()-1):date.getDate()-1);
            }
        }).on('changeDate', function(ev){
            //   alert($("#startDate").val());
            $("input[name='planEndTime']").datetimepicker('remove');
            $("input[name='planEndTime']").val('');
            var sdate=$("input[name='planBeginTime']").val();
            var edate;
            for(var o in obj){
                if(new Date(sdate)<=new Date(obj[o])){
                    var date = new Date(obj[o])
                    var ndate = +date+24*60*60*1000;
                    var leaveTime = new Date(ndate);
                    edate = leaveTime.getFullYear()+'-'+(leaveTime.getMonth()+1)+'-'+leaveTime.getDate();

                    break;
                }
            }
            $("input[name='planEndTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true,
                startDate:sdate,
                endDate:edate,
                minView:2,
                maxView:3
            }).on('changeDate', function(ev){
                //               alert(o+++"~~")
            });
        })

        $("input[name='realBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:new Date(),
            minView:2,
            maxView:3,
            onRenderDay: function(date) {
                var date1 = date.getFullYear()+'-'
                    +(date.getMonth()<9?'0'+(date.getMonth()+1):date.getMonth()+1)
                    +'-'
                    +(date.getDate()<10?'0'+(date.getDate()-1):date.getDate()-1);
            }
        }).on('changeDate', function(ev){
            $("input[name='realEndTime']").datetimepicker('remove');
            $("input[name='realEndTime']").val('');
            var sdate=$("input[name='realBeginTime']").val();
            var edate;
            for(var o in obj){
                if(new Date(sdate)<=new Date(obj[o])){
                    var date = new Date(obj[o])
                    var ndate = +date+24*60*60*1000;
                    var leaveTime = new Date(ndate);
                    edate = leaveTime.getFullYear()+'-'+(leaveTime.getMonth()+1)+'-'+leaveTime.getDate();
                    break;
                }
            }
            $("input[name='realEndTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true,
                startDate:sdate,
                endDate:edate,
                minView:2,
                maxView:3
            }).on('changeDate', function(ev){
                //               alert(o+++"~~")
            });
        })

        var realBeginTime=$("input[name='realBeginTime']").val();
        if (realBeginTime == undefined || realBeginTime == ""){
            realBeginTime = new Date();
        }
        $("input[name='realEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:realBeginTime,
            endDate:edate,
            minView:2,
            maxView:3
        }).on('changeDate', function(ev){
            //               alert(o+++"~~")
        });

        var planBeginTime=$("input[name='planBeginTime']").val();
        if (planBeginTime == undefined || planBeginTime == ""){
            planBeginTime = new Date();
        }
        $("input[name='planEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:planBeginTime,
            endDate:edate,
            minView:2,
            maxView:3
        }).on('changeDate', function(ev){
            //               alert(o+++"~~")
        });


    </script>
</body>
</html>