<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改处置回现任务')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-managetask-edit" th:object="${sysManageTask}">
            <input name="id" th:field="*{id}" type="hidden">
            <input name="taskType" id="taskType" th:value="*{taskType}" type="hidden">
            <div class="form-group" id="nodeStatuShow">
                <label class="col-sm-3 control-label">节点状态：</label>
                <div class="col-sm-8">
                    <select id="nodeStatu" name="nodeStatu" th:with="type=${@dict.getType('subtask_project_ststus')}" onchange="nodeChange()"
                            data-none-selected-text="请选择" class="form-control m-b">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{nodeStatu}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="otherNode" hidden>
                <label class="col-sm-3 control-label is-required">其他：</label>
                <div class="col-sm-8">
                    <input name="remarks1" th:field="*{remarks1}" class="form-control required" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">预计开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="planBeginTime" th:value="${#dates.format(sysManageTask.planBeginTime, 'yyyy-MM-dd')}" class="form-control required" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">预计结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="planEndTime" th:value="${#dates.format(sysManageTask.planEndTime, 'yyyy-MM-dd')}" class="form-control required" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">实际开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="realBeginTime" th:value="${#dates.format(sysManageTask.realBeginTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">实际结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input autocomplete="off" name="realEndTime" th:value="${#dates.format(sysManageTask.realEndTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">预计回收金额：</label>
                <div class="col-sm-8">
                    <input name="planBackMoney" onkeyup="planMoney(this)" th:field="*{planBackMoney}" class="form-control required" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">实际回收金额：</label>
                <div class="col-sm-8">
                    <input name="realBackMoney" onkeyup="planMoney(this)" th:field="*{realBackMoney}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/managetask";
        var taskType = document.getElementById("taskType").value;
        $("#form-managetask-edit").validate({
            focusCleanup: true
        });

        $(function () {
            if (taskType == '1'){
                $("#nodeStatuShow").show();
            }else{
                $("#nodeStatuShow").hide();
            }
            nodeChange();
        })

        function nodeChange(){
            var nodeStatu = document.getElementById("nodeStatu").value;
            if (nodeStatu == "other"){
                $("#otherNode").show();
            }else {
                $("#otherNode").hide();
            }
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-managetask-edit').serialize());
            }
        }

       /* $("input[name='planBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='realBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='planEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='realEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });*/

        var sdate = '2018-07-04';
        var edate;
        var obj = ['2018-07-12','2018-07-13','2018-07-20'];//禁用日期可以从数据库查
        $.fn.datetimepicker.dates['zdy'] = {
            days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            daysMin:  ["日", "一", "二", "三", "四", "五", "六"],
            months: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
            monthsShort: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
            today: "今天",
            format:"yyyy-mm-dd",
            titleFormat:"yyyy-mm-",
            weekStart:1,
            suffix: [],
            meridiem: ["上午", "下午"]
        };

        $("input[name='planBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:new Date(),
            minView:2,
            maxView:3,
            onRenderDay: function(date) {
                //       alert(date);
                var date1 = date.getFullYear()+'-'
                    +(date.getMonth()<9?'0'+(date.getMonth()+1):date.getMonth()+1)
                    +'-'
                    +(date.getDate()<10?'0'+(date.getDate()-1):date.getDate()-1);
            }
        }).on('changeDate', function(ev){
            //   alert($("#startDate").val());
            $("input[name='planEndTime']").datetimepicker('remove');
            $("input[name='planEndTime']").val('');
            var sdate=$("input[name='planBeginTime']").val();
            var edate;
            for(var o in obj){
                if(new Date(sdate)<=new Date(obj[o])){
                    var date = new Date(obj[o])
                    var ndate = +date+24*60*60*1000;
                    var leaveTime = new Date(ndate);
                    edate = leaveTime.getFullYear()+'-'+(leaveTime.getMonth()+1)+'-'+leaveTime.getDate();

                    break;
                }
            }
            $("input[name='planEndTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true,
                startDate:sdate,
                endDate:edate,
                minView:2,
                maxView:3
            }).on('changeDate', function(ev){
                //               alert(o+++"~~")
            });
        })

        $("input[name='realBeginTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:new Date(),
            minView:2,
            maxView:3,
            onRenderDay: function(date) {
                var date1 = date.getFullYear()+'-'
                    +(date.getMonth()<9?'0'+(date.getMonth()+1):date.getMonth()+1)
                    +'-'
                    +(date.getDate()<10?'0'+(date.getDate()-1):date.getDate()-1);
            }
        }).on('changeDate', function(ev){
            $("input[name='realEndTime']").datetimepicker('remove');
            $("input[name='realEndTime']").val('');
            var sdate=$("input[name='realBeginTime']").val();
            var edate;
            for(var o in obj){
                if(new Date(sdate)<=new Date(obj[o])){
                    var date = new Date(obj[o])
                    var ndate = +date+24*60*60*1000;
                    var leaveTime = new Date(ndate);
                    edate = leaveTime.getFullYear()+'-'+(leaveTime.getMonth()+1)+'-'+leaveTime.getDate();
                    break;
                }
            }
            $("input[name='realEndTime']").datetimepicker({
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true,
                startDate:sdate,
                endDate:edate,
                minView:2,
                maxView:3
            }).on('changeDate', function(ev){
                //               alert(o+++"~~")
            });
        })

        function planMoney(obj) {
            //先把非数字的都替换掉，除了数字和.
            obj.value = obj.value.replace(/[^\d.]/g,"");
            //保证只有出现一个.而没有多个.
            obj.value = obj.value.replace(/\.{2,}/g,".");
            //必须保证第一个为数字而不是.
            obj.value = obj.value.replace(/^\./g,"");
            //保证.只出现一次，而不能出现两次以上
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            //只能输入两个小数
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d\d).*$/,'$1$2.$3');
        }

        var realBeginTime=$("input[name='realBeginTime']").val();
        if (realBeginTime == undefined || realBeginTime == ""){
            realBeginTime = new Date();
        }
        $("input[name='realEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:realBeginTime,
            endDate:edate,
            minView:2,
            maxView:3
        }).on('changeDate', function(ev){
            //               alert(o+++"~~")
        });

        var planBeginTime=$("input[name='planBeginTime']").val();
        $("input[name='planEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true,
            startDate:planBeginTime,
            endDate:edate,
            minView:2,
            maxView:3
        }).on('changeDate', function(ev){
            //               alert(o+++"~~")
        });
    </script>
</body>
</html>