<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>乐道介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../static/ajax/libs/fullCalendar/main.css"
          th:href="@{/ajax/libs/fullCalendar/main.css}" rel="stylesheet"/>
    <style>
        .fc-daygrid-day-number {
            font-size: 0.1em;
        }

        .white-bg {
            color: white;
            background-color: rgba(220, 38, 38, 0);
        }

        .ibox {
            height: 50% !important;
        }

        .ld {
            letter-spacing: 0.5em;
            font-weight: 400;
            font-size: 4em;
            position: relative;
            display: -moz-box; /*兼容Firefox*/
                display: -webkit-box; /*兼容FSafari、Chrome*/
                -moz-box-align: center; /*兼容Firefox*/
                -webkit-box-align: center; /*兼容FSafari、Chrome */
                -moz-box-pack: center; /*兼容Firefox*/
                -webkit-box-pack: center; /*兼容FSafari、Chrome */
            text-align: center;
        }

        .wv-lt-refresh {
            display: none;
        }

        .div1 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150em;
            height: 10em;
        }

        .div2 {
            width: 20em;
            font-size: 4em;
            letter-spacing: 0.9em;
            font-weight: 400;
            text-align: center;
            line-height: 5em;
        }
    </style>
</head>

<body class="gray-bg" style="height:100%;background: url('../img/background.png') no-repeat;">
<div class="row border-bottom white-bg dashboard-header">
    <div class="div1" style="display: flex;">
        <div class="div2">乐道后台管理系统</div>
        <div>
            <iframe scrolling="no" height="30" frameborder="0" allowtransparency="true"
                    src="https://i.tianqi.com?c=code&id=34&color=%230070C0&icon=1&site=17"></iframe>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><a onclick="noticeToList()">公告消息</a></h5>
            </div>
            <div class="ibox-content">
                <ul class="nav nav-tabs" id="noticeTab"></ul>
                <p></p>
                <div class="tab-content" id="noticeTabContent"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><a onclick="documentToList()">文档管理</a></h5>
            </div>
            <div class="ibox-content">
                <ul class="nav nav-tabs" id="myTab"></ul>
                <p></p>
                <div class="tab-content" id="myTabContent"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ibox float-e-ma rgins">
            <div class="ibox-title">
                <h5>日历备忘录</h5>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-9">
            <div class="ibox float-e-margins">
                <div id="container"></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox-title">
                <h5><a onclick="workLogToList()">日志</a></h5>
            </div>
            <div class="ibox-content">
                <div id="mainWorkLog"></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/ledao/js/ry-ui.js}"></script>
<script th:src="@{/ledao/js/common.js}"></script>
<script th:src="@{/ajax/libs/fullCalendar/main.js}"></script>
<script th:src="@{/ajax/libs/fullCalendar/zh-cn.js}"></script>
<script th:src="@{/ajax/libs/fullCalendar/cnCalendar.js}"></script>
<script src="https://gw.alipayobjects.com/os/lib/antv/g2/4.1.12/dist/g2.min.js"></script>
<script type="text/javascript">

    $(function () {
        noticeList();
        selectType();
        selectNoticeType();
        tb();
        mainWorkLogList();
    });

    function noticeToList() {
        var url = '/system/notice/toList';
        $.modal.openTab("公告消息", url);
    }

    function documentToList() {
        var url = '/system/document/toList';
        $.modal.openTab("文档管理", url);
    }

    function workLogToList() {
        var url = '/system/workLog/toList';
        $.modal.openTab("工作日志", url);
    }

    function tb() {
        $.ajax({
            url: '/system/project/mainList',
            type: 'post',
            data: '',
            dataType: "JSON",
            success: function (result) {
                var list = result.data;
                for (var i in list) {
                    const data = [];
                    const syhs = Number(list[i].syhs);
                    const totalCount = Number(list[i].totalCount);
                    var div = document.getElementById("container")
                    var div1 = document.createElement("div");
                    div1.id = list[i].zckName + i;
                    div1.style = 'width:25%!important;float:left;heigth:100%;background-color:#fff;height:50%!important'
                    div.appendChild(div1);
                    data.push({
                        name: $.common.nullToStr(list[i].zckName),
                        type: $.common.nullToStr(list[i].zckName) + '剩余' + syhs + '户数',
                        value: $.common.nullToStr(syhs),
                        values: $.common.nullToStr(list[i].surplus),
                        startTime: $.common.nullToStr(list[i].startTime),
                        endTime: $.common.nullToStr(list[i].endTime),
                        bjye: $.common.nullToStr(list[i].bjye),
                        czhx: $.common.nullToStr(list[i].czhx),
                        totalBjye: $.common.nullToStr(list[i].totalBjye),
                        totalCzhx: $.common.nullToStr(list[i].totalCzhx)
                    });
                    const chart = new G2.Chart({
                        container: document.getElementById(list[i].zckName + i),
                        autoFit: true,
                        height: 300
                    });
                    chart.data(data);
                    chart.legend(false);
                    chart.tooltip({
                        showTitle: true,
                        containerTpl: '<div class="g2-tooltip">' + '<h5><p class="g2-tooltip-title"></p></h5>' + '<ul class="g2-tooltip-list"></ul>' + '</div>',
                        itemTpl: '<li><h5>开始时间: {startTime}</h5><h5>结束时间: {endTime}</h5><h5>本金余额: {bjye}</h5><h5>处置回现总额: {czhx}</h5></li>',//定义标头
                        follow: true,
                        offset: 0,
                        position: 'right',
                        inPlot: false, //不用tooltip一直在图表视图内,以便最末尾tooltip位置乱跑
                    });
                    chart.facet('rect', {
                        fields: ['name'],
                        padding: 20,
                        showTitle: false,
                        eachView: (view, facet) => {
                            const data = facet.data;
                            data.push({
                                name: $.common.nullToStr(list[i].zckName),
                                type: $.common.nullToStr(list[i].zckName) + '已完成' + $.common.nullToStr(totalCount - syhs) + '户',
                                value: $.common.nullToStr(totalCount - syhs),
                                startTime: $.common.nullToStr(list[i].startTime),
                                endTime: $.common.nullToStr(list[i].endTime),
                                bjye: $.common.nullToStr(list[i].totalBjye - list[i].bjye),
                                czhx: $.common.nullToStr(list[i].totalCzhx - list[i].czhx)
                            });
                            view.data(data);
                            view.coordinate('theta', {
                                radius: 0.9,
                                innerRadius: 0.8//加上则为环形图
                            });
                            view.interval()
                                .adjust('stack')
                                .position('value')
                                .color('type')
                                .style({opacity: 1})
                                .tooltip('type*startTime*endTime*bjye*czhx', function (type, startTime, endTime, bjye, czhx) { // 单个点tooltip
                                    return {
                                        name: type,
                                        startTime: startTime,
                                        endTime: endTime,
                                        bjye: $.operate.numberFormatter(bjye),
                                        czhx: $.operate.numberFormatter(czhx)
                                    }
                                })
                            view.annotation().text({
                                position: ['50%', '50%'],
                                content: data[0].name,
                                style: {
                                    fontSize: 12,
                                    fill: '#8c8c8c',
                                    fontWeight: 300,
                                    textBaseline: 'bottom',
                                    textAlign: 'center'
                                },
                                offsetY: -12,
                            });

                            //加上显示中间的数值
                            view.annotation().text({
                                position: ['50%', '50%'],
                                content: 100 - data[0].values + '%',
                                style: {
                                    fontSize: 12,
                                    fill: '#000',
                                    fontWeight: 500,
                                    textAlign: 'center'
                                },
                                offsetY: 10,
                            });

                            view.interaction('element-active');
                        }
                    });
                    chart.render();
                }
            }
        });
    }

    function showLocale(objD) {
        var str, colorhead, colorfoot;
        var yy = objD.getYear();
        if (yy < 1900) yy = yy + 1900;
        var MM = objD.getMonth() + 1;
        if (MM < 10) MM = '0' + MM;
        var dd = objD.getDate();
        if (dd < 10) dd = '0' + dd;
        var hh = objD.getHours();
        if (hh < 10) hh = '0' + hh;
        var mm = objD.getMinutes();
        if (mm < 10) mm = '0' + mm;
        var ss = objD.getSeconds();
        if (ss < 10) ss = '0' + ss;
        var ww = objD.getDay();
        if (ww == 0) colorhead = "<font color=\"#FF0000\">";
        if (ww > 0 && ww < 6) colorhead = "<font color=\"#373737\">";
        if (ww == 6) colorhead = "<font color=\"#008000\">";
        if (ww == 0) ww = "星期日";
        if (ww == 1) ww = "星期一";
        if (ww == 2) ww = "星期二";
        if (ww == 3) ww = "星期三";
        if (ww == 4) ww = "星期四";
        if (ww == 5) ww = "星期五";
        if (ww == 6) ww = "星期六";
        colorfoot = "</font>"
        str = colorhead + yy + "年" + MM + "月" + dd + "日 " + hh + ":" + mm + ":" + ss + "  " + ww + colorfoot;
        return (str);
    }

    function tick() {
        var today;
        today = new Date();
        document.getElementById("dateTime").innerHTML = showLocale(today);
        window.setTimeout("tick()", 1000);
    }

    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });

    function noticeList() {
        $.ajax({
            type: 'post',
            url: '/system/notice/noticeList',
            data: '',
            dataType: "JSON",
            success: function (result) {
                if (result.msg > 0) {
                    $.modal.alertWarning('您共有' + result.msg + '条信息未读！！！');
                }
            }
        });
    }

    //获取通知公告类型
    function selectNoticeType() {
        $.ajax({
            url: '/system/dict/data/selectDictByType',
            data: {'type': 'sys_notice_type', 'status': '0'},
            dataType: 'json',
            type: "post",
            success: function (result) {
                var str = "";
                var ul = document.getElementById("noticeTab");
                for (var i = 0; i < result.length; i++) {
                    var newLi = document.createElement("li");
                    if (i == 0) {
                        newLi.className = "active";
                    }
                    newLi.innerHTML = '<a data-toggle="tab" href="#' + result[i].dictValue + '">' + result[i].dictLabel + '</a>';
                    ul.append(newLi);
                    str += result[i].dictValue + ",";
                    selectNoticeByType(result[i].dictValue, i, result[i].dictLabel);
                }
            }
        });
    }

    //根据通知公告类型查询数据
    function selectNoticeByType(noticeType, j, label) {
        $.ajax({
            type: 'post',
            url: '/system/notice/mainNoticeList',
            data: {"type": noticeType},
            dataType: "JSON",
            success: function (result) {
                var array = result.data;
                var str = "";
                var div = document.getElementById("noticeTabContent");
                var div1 = document.createElement("div");
                if (j == 0) {
                    div1.className = "tab-pane active";
                } else {
                    div1.className = "tab-pane";
                }
                str += "<ul>";
                if ($.common.isNotEmpty(array)) {
                    for (var i = 0; i < array.length; i++) {
                        str += '<li style="margin-bottom: 1.1em"><span><a onclick="datailForNotice(' + array[i].noticeId + ')">' + strLength(array[i].noticeTitle) + '</a></span>' +
                            '<span style="float: right">' + array[i].createTime + '</span></li>';
                    }
                }
                str += '<p style="float: right"><a onclick="toListByType(\'' + noticeType + "',\'" + label + '\')">更多>></a></p>';
                str += '</ul>';
                div1.innerHTML = str;
                div1.id = noticeType;
                div.appendChild(div1);
            }
        });
    }

    function dateFormat(fmt, date) {
        let ret;
        const opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            }
            ;
        }
        ;
        return fmt;
    }


    //控制显示的字数
    function strLength(value) {
        var str = $.common.nullToStr(value);
        if (str.length > 10) {
            str = str.substring(0, 20) + '...';
        }
        return str;
    }

    function datailForNotice(id) {
        var url = "/system/notice/detail/" + id;
        $.modal.opens("公告消息详情", url);
    }

    function toListByType(type, label) {
        var url = "/system/notice/toListByType/" + type;
        $.modal.openTab(label + "列表", url);
    }

    //获取下载区标签
    function selectType() {
        $.ajax({
            url: '/system/dict/data/selectDictByType',
            data: {'type': 'sys_document_type', 'status': '0'},
            dataType: 'json',
            type: "post",
            success: function (result) {
                var str = "";
                var ul = document.getElementById("myTab");
                for (var i = 0; i < result.length; i++) {
                    var newLi = document.createElement("li");
                    if (i == 0) {
                        newLi.className = "active";
                    }
                    newLi.innerHTML = '<a data-toggle="tab" href="#' + result[i].dictValue + '">' + result[i].dictLabel + '</a>';
                    ul.append(newLi);
                    str += result[i].dictValue + ",";
                    documentByType(result[i].dictValue, i, result[i].dictLabel);
                }
            }
        });
    };

    //根据类型查询出文件
    function documentByType(type, j, label) {
        $.ajax({
            url: '/system/document/selectDocumentByType',
            type: 'post',
            data: {'type': type},
            dataType: 'json',
            success: function (result) {
                var str = "";
                var div = document.getElementById("myTabContent");
                var div1 = document.createElement("div");
                if (j == 0) {
                    div1.className = "tab-pane active";
                } else {
                    div1.className = "tab-pane";
                }
                for (var i = 0; i < result.length; i++) {
                    str += '<p style="text-align: left;margin-bottom: 1.1em"><span>' + result[i].fileName + '.' + result[i].fileType + '</span><span style="float: right"><a href="#" onclick="downLoad(\'' + result[i].fileUrl + '\')">下载</a></span></p>';
                }
                str += '<p style=\'float: right\'><a onclick="toDocumentByType(\'' + type + "',\'" + label + '\')">更多>></a></p>';
                div1.innerHTML = str;
                div1.id = type;
                div.appendChild(div1);
            }
        });
    };

    function toDocumentByType(type, label) {
        var url = "/system/document/toDocumentByType?type=" + type;
        $.modal.openTab(label + "列表", url);
    }

    //下载文件
    function downLoad(fileName) {
        window.location.href = "/common/download/resource?resource=" + fileName + "&delete=" + true;
    }

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'local',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listMonth'
            },
            allDaySlot: true,
            initialDate: new Date(),
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // 工作时间
            locale: 'zh-cn',
            editable: true,//是否可以修改
            selectable: true,//是否可以选择
            dayMaxEvents: true, //超出部分折叠
            nowIndicator: true,
            //height:500,
            aspectRatio: 1.1,//设置日历单元格宽度与高度的比例。
            eventDurationEditable: true,

            //点击事件的回调
            eventClick: function (info) {
                edit(info.event.id, info.event.startEditable);
            },
            //点击没有事件单元格的回调，当前是点击后添加一个计划
            dateClick: function (info) {
                add(info.dateStr);
            },

            //拖动时间的回调，当前是拖动调整计划使用，需要明确function里面info相关属性
            eventDrop: function (info) {
                //询问框
                layer.alert('确认要调整计划?', {
                    btn: ['确定', '取消'] //按钮
                    , icon: 6    // icon
                    , yes: function (index) {
                        updatePlan(info); //事件拖动并且事件改变时触发
                        layer.close(index);
                    }
                    , btn2: function (index) {
                        info.revert();          //点击取消按钮后还原
                        layer.close(index);
                    }
                });
            },
            events: function (arg, callback) {  //此处的arg里面的参数也可以参照上面的那个info输出后进行研究，要把参数都明确什么意思
                $.ajax({
                    url: "/system/memorandum/selectForByMain",
                    type: "POST",
                    //下面的startDate必须用单引号，不能用双引号
                    data: {'startDate': formatDate(arg.startStr), 'endDate': formatDate(arg.endStr)},
                    //contentType:"application/json;charset:utf-8",
                    cache: false,
                    dataType: "json",
                    success: function (result) {
                        var events = [];
                        var data = result.data;
                        var editable = false;
                        for (var i in data) {
                            events.push({
                                id: data[i].memorandumId,
                                title: data[i].matter,
                                start: data[i].startTime,
                                end: data[i].endTime,
                                background: 'none',//背景颜色。
                                color: '#337ab7',// 背景和边框颜色。
                                textColor: '#01A8F7',// 文本颜色。
                                //status: result.code,
                                editable: editable //事件可编辑
                            });
                        }
                        callback(events);
                    },

                });
            },
            //html内容前置条件，如果没有这一句，自定义的html不生效，必须
            eventContent: function (arg, createElement) {
                var italicEl = document.createElement('span');
                italicEl.innerHTML = arg.event._def.title
                var arrayOfDomNodes = [italicEl]
                return {
                    domNodes: arrayOfDomNodes
                }
            }
        });
        calendar.render();
    });

    function getTitle(matter) {
        var title = '<span class= "lable">' + matter + '</span>'
        return title;
    }

    //时间比较
    //date1结束时间
    //date2今日时间
    function Datetab(date1, date2) {
        var flag = false;
        var oDate1 = new Date(date1);
        var oDate2 = new Date(date2);
        if (oDate1.getTime() > oDate2.getTime()) {
            flag = false;
        } else {
            flag = true;
        }
        return flag;
    }

    //格式化日期函数
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;
        return [year, month, day].join('-');
    }

    //编辑计划
    function updatePlan(info) {   //更新计划函数，info.event表示拖动后的事件
        $.ajax({
            url: "/system/memorandum/updatePlan/" + info.event.id + "/" + formatDate(info.event.start) + "/" + formatDate(info.event.end),
            type: "POST",
            //下面的startDate必须用单引号，不能用双引号
            data: {},
            //contentType:"application/json;charset:utf-8",
            cache: false,
            dataType: "json",
            success: function (data) {
                if (data.code > 0) {
                    layer.msg(data.msg);
                    info.revert();  //拖动调整计划失败返回
                }
            },

        });
    }

    //新增事件
    function add(today) {
        var url = '/system/memorandum/add';
        $.modal.open('增加', url);
    }

    //编辑事件
    function edit(memorandumId, editable) {
        var url = '/system/memorandum/edit/' + memorandumId;
        $.modal.open('修改', url);
    }


    //农历转换
    function solar2lunar(y, m, d) { //参数区间1900.1.31~2100.12.31
        //年份限定、上限recordHidden
        if (y < 1900 || y > 2100) {
            return -1;// undefined转换为数字变为NaN
        }
        //公历传参最下限
        if (y == 1900 && m == 1 && d < 31) {
            return -1;
        }
        //未传参  获得当天
        if (!y) {
            var objDate = new Date();
        } else {
            var objDate = new Date(y, parseInt(m) - 1, d)
        }
        var i, leap = 0, temp = 0;
        //修正ymd参数
        var y = objDate.getFullYear(),
            m = objDate.getMonth() + 1,
            d = objDate.getDate();
        var offset = (Date.UTC(objDate.getFullYear(), objDate.getMonth(), objDate.getDate()) - Date.UTC(1900, 0, 31)) / 86400000;
        for (i = 1900; i < 2101 && offset > 0; i++) {
            temp = calendar.lYearDays(i);
            offset -= temp;
        }
        if (offset < 0) {
            offset += temp;
            i--;
        }

        //是否今天
        var isTodayObj = new Date(),
            isToday = false;
        if (isTodayObj.getFullYear() == y && isTodayObj.getMonth() + 1 == m && isTodayObj.getDate() == d) {
            isToday = true;
        }
        //星期几
        var nWeek = objDate.getDay(),
            cWeek = calendar.nStr1[nWeek];
        //数字表示周几顺应天朝周一开始的惯例
        if (nWeek == 0) {
            nWeek = 7;
        }
        //农历年
        var year = i;
        var leap = calendar.leapMonth(i); //闰哪个月
        var isLeap = false;

        //效验闰月
        for (i = 1; i < 13 && offset > 0; i++) {
            //闰月
            if (leap > 0 && i == (leap + 1) && isLeap == false) {
                --i;
                isLeap = true;
                temp = calendar.leapDays(year); //计算农历闰月天数
            } else {
                temp = calendar.monthDays(year, i);//计算农历普通月天数
            }
            //解除闰月
            if (isLeap == true && i == (leap + 1)) {
                isLeap = false;
            }
            offset -= temp;
        }
        // 闰月导致数组下标重叠取反
        if (offset == 0 && leap > 0 && i == leap + 1) {
            if (isLeap) {
                isLeap = false;
            } else {
                isLeap = true;
                --i;
            }
        }
        if (offset < 0) {
            offset += temp;
            --i;
        }
        //农历月
        var month = i;
        //农历日
        var day = offset + 1;
        //天干地支处理
        var sm = m - 1;
        var gzY = calendar.toGanZhiYear(year);

        // 当月的两个节气
        // bugfix-2017-7-24 11:03:38 use lunar Year Param `y` Not `year`
        var firstNode = calendar.getTerm(y, (m * 2 - 1));//返回当月「节」为几日开始
        var secondNode = calendar.getTerm(y, (m * 2));//返回当月「节」为几日开始

        // 依据12节气修正干支月
        var gzM = calendar.toGanZhi((y - 1900) * 12 + m + 11);
        if (d >= firstNode) {
            gzM = calendar.toGanZhi((y - 1900) * 12 + m + 12);
        }

        //传入的日期的节气与否
        var isTerm = false;
        var Term = null;
        if (firstNode == d) {
            isTerm = true;
            Term = calendar.solarTerm[m * 2 - 2];
        }
        if (secondNode == d) {
            isTerm = true;
            Term = calendar.solarTerm[m * 2 - 1];
        }
        //日柱 当月一日与 1900/1/1 相差天数
        var dayCyclical = Date.UTC(y, sm, 1, 0, 0, 0, 0) / 86400000 + 25567 + 10;
        var gzD = calendar.toGanZhi(dayCyclical + d - 1);
        //该日期所属的星座
        var astro = calendar.toAstro(m, d);

        return {
            'lYear': year,
            'lMonth': month,
            'lDay': day,
            'Animal': calendar.getAnimal(year),
            'IMonthCn': (isLeap ? "\u95f0" : '') + calendar.toChinaMonth(month),
            'IDayCn': calendar.toChinaDay(day),
            'cYear': y,
            'cMonth': m,
            'cDay': d,
            'gzYear': gzY,
            'gzMonth': gzM,
            'gzDay': gzD,
            'isToday': isToday,
            'isLeap': isLeap,
            'nWeek': nWeek,
            'ncWeek': "\u661f\u671f" + cWeek,
            'isTerm': isTerm,
            'Term': Term,
            'astro': astro
        };
    };

    function mainWorkLogList() {
        $.ajax({
            url: "/system/workLog/mainWorkLogList",
            type: 'post',
            dataType: "JSON",
            success: function (result) {
                var str = "";
                var data = result.data;
                if (data.length > 0) {
                    str += "<ul>"
                    for (var i in data) {
                        str += "<li>";
                        str += "<p><span style='float: left'><a onclick='toWorkLogList(" + data[i].workLogId + ")'>" + data[i].workLogTitle + "</a></span><span style='float: right'>" + data[i].createTime + "</span></p>";
                        str += "</li>";
                    }
                    str += "</ul>";
                }
                $("#mainWorkLog").append(str);
            }
        })
    }

    function toWorkLogList(id) {
        var url = "/system/workLog/detail/" + id;
        $.modal.openTab("工作日志", url);
    }
</script>
</body>
</html>
