<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>乐道介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <div th:align="center">
            <h2>乐道后台管理框架</h2>
        </div>
        <br>
        <div th:align="center">
            <span id="dateTime" style="font-size: 30px"><font color="#373737"></font></span>&nbsp;&nbsp;
        </div>
        <br>
    </div>
</div>
<div class="row border-bottom white-bg dashboard-header" style="height:100%;background: url('../img/test.png') no-repeat;">
   <!-- <div class="col-sm-4">
        <h2>乐道后台管理框架</h2>
        <br>
        <span id="dateTimes" style="font-size: 30px"><font color="#373737"></font></span>&nbsp;&nbsp;
        <br>
    </div>-->
    <div class="col-sm-5" th:align="center">
        <h4>工作日志</h4>
        <ol>
            <li></li>
        </ol>
    </div>
    <div class="col-sm-2" th:align="center">
        <h4>待办事宜</h4>
        <ol>
            <!--<li>核心框架：Spring Boot。</li>
            <li>安全框架：Apache Shiro。</li>
            <li>模板引擎：Thymeleaf。</li>
            <li>持久层框架：MyBatis。</li>
            <li>定时任务:Quartz。</li>
            <li>数据库连接池：Druid。</li>
            <li>工具类：Fastjson。</li>
            <li>更多……</li>-->
        </ol>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/ledao/js/ry-ui.js}"></script>
<script type="text/javascript">

    function showLocale(objD) {
        var str, colorhead, colorfoot;
        var yy = objD.getYear();
        if (yy < 1900) yy = yy + 1900;
        var MM = objD.getMonth() + 1;
        if (MM < 10) MM = '0' + MM;
        var dd = objD.getDate();
        if (dd < 10) dd = '0' + dd;
        var hh = objD.getHours();
        if (hh < 10) hh = '0' + hh;
        var mm = objD.getMinutes();
        if (mm < 10) mm = '0' + mm;
        var ss = objD.getSeconds();
        if (ss < 10) ss = '0' + ss;
        var ww = objD.getDay();
        if (ww == 0) colorhead = "<font color=\"#FF0000\">";
        if (ww > 0 && ww < 6) colorhead = "<font color=\"#373737\">";
        if (ww == 6) colorhead = "<font color=\"#008000\">";
        if (ww == 0) ww = "星期日";
        if (ww == 1) ww = "星期一";
        if (ww == 2) ww = "星期二";
        if (ww == 3) ww = "星期三";
        if (ww == 4) ww = "星期四";
        if (ww == 5) ww = "星期五";
        if (ww == 6) ww = "星期六";
        colorfoot = "</font>"
        str = colorhead + yy + "年" + MM + "月" + dd + "日 " + hh + ":" + mm + ":" + ss + "  " + ww + colorfoot;
        return (str);
    }

    function tick() {
        var today;
        today = new Date();
        document.getElementById("dateTime").innerHTML = showLocale(today);
        window.setTimeout("tick()", 1000);
    }

    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });
    $(function () {
        notice();
        tick();
    });

    function notice() {
        $.ajax({
            type: 'post',
            url: '/system/notice/noticeList',
            data: '',
            dataType: "JSON",
            success: function (result) {
                if (result.msg > 0) {
                    $.modal.alertWarning('您共有' + result.msg + '条信息未读！！！');
                }
            }
        });
    }
</script>
</body>
</html>
