<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledao.activity.mapper.SysApplyOutDetailMapper">

    <resultMap type="SysApplyOutDetail" id="SysApplyOutDetailResult">
        <result property="outDetailId" column="out_detail_id"/>
        <result property="applyId" column="apply_id"/>
        <result property="documentId" column="document_id"/>
        <result property="isPage" column="is_page"/>
        <result property="isElec" column="is_elec"/>
        <result property="isReturn" column="is_return"/>
        <result property="planReturnTime" column="plan_return_time"/>
        <result property="realReturnTime" column="real_return_time"/>
        <result property="outReason" column="out_reason"/>
        <result property="isOut" column="is_out"/>
        <result property="isReceive" column="is_receive"/>
        <result property="isReturned" column="is_returned"/>
        <result property="isReceived" column="is_received"/>
        <result property="remarks" column="remarks"/>
        <result property="createBy" column="create_by"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="reviser" column="reviser"/>
        <result property="updateTime" column="update_time"/>
        <result property="eleDocumentStatu" column="ele_document_statu"/>
        <result property="pages" column="pages"/>
        <result property="counts" column="counts"/>
    </resultMap>
    <resultMap type="SysApplyOutDetail" id="SysApplyOutDocDetailResult">
        <result property="outDetailId" column="out_detail_id"/>
        <result property="applyId" column="apply_id"/>
        <result property="documentId" column="document_id"/>
        <result property="isPage" column="is_page"/>
        <result property="isElec" column="is_elec"/>
        <result property="isReturn" column="is_return"/>
        <result property="planReturnTime" column="plan_return_time"/>
        <result property="realReturnTime" column="real_return_time"/>
        <result property="outReason" column="out_reason"/>
        <result property="isOut" column="is_out"/>
        <result property="isReceive" column="is_receive"/>
        <result property="isReturned" column="is_returned"/>
        <result property="isReceived" column="is_received"/>
        <result property="remarks" column="remarks"/>
        <result property="createBy" column="create_by"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="reviser" column="reviser"/>
        <result property="updateTime" column="update_time"/>
        <result property="assetNumber" column="asset_number"/>
        <result property="assetPag" column="asset_pag"/>
        <result property="contractNo" column="contract_no"/>
        <result property="dailyDocumentType" column="daily_document_type"/>
        <result property="fileName" column="file_name"/>
        <result property="fileType" column="file_type"/>
        <result property="fileScanType" column="file_scan_type"/>
        <result property="counts" column="counts"/>
        <result property="pages" column="pages"/>
        <result property="projectName" column="project_name"/>
        <result property="documentStatu" column="document_statu"/>
        <result property="cabinetNo" column="cabinet_no"/>
        <result property="bagNo" column="bag_no"/>
        <result property="documentGetType" column="document_get_type"/>
        <result property="fileGetType" column="file_get_type"/>
        <result property="documentLevel" column="document_level"/>
        <result property="companyName" column="company_name"/>
        <result property="dailyDocumentTypeContract" column="daily_document_type_contract"/>
        <result property="eleDocumentStatu" column="ele_document_statu"/>
    </resultMap>

    <sql id="selectSysApplyOutDetailVo">
        select ele_document_statu,
               out_detail_id,
               apply_id,
               document_id,
               is_page,
               is_elec,
               is_return,
               plan_return_time,
               real_return_time,
               out_reason,
               is_out,
               is_receive,
               is_returned,
               is_received,
               remarks,
               create_by,
               creator,
               create_time,
               update_by,
               reviser,
               update_time,
               counts,
               pages
        from sys_apply_out_detail
    </sql>

    <select id="selectSysApplyOutDetailList" parameterType="SysApplyOutDetail" resultMap="SysApplyOutDetailResult">
        <include refid="selectSysApplyOutDetailVo"/>
        <where>
            <if test="applyId != null ">and apply_id = #{applyId}</if>
            <if test="documentId != null ">and document_id = #{documentId}</if>
            <if test="isPage != null  and isPage != ''">and is_page = #{isPage}</if>
            <if test="isElec != null  and isElec != ''">and is_elec = #{isElec}</if>
            <if test="isReturn != null  and isReturn != ''">and is_return = #{isReturn}</if>
            <if test="planReturnTime != null ">and plan_return_time = #{planReturnTime}</if>
            <if test="realReturnTime != null ">and real_return_time = #{realReturnTime}</if>
            <if test="outReason != null  and outReason != ''">and out_reason = #{outReason}</if>
            <if test="isOut != null  and isOut != ''">and is_out = #{isOut}</if>
            <if test="isReceive != null  and isReceive != ''">and is_receive = #{isReceive}</if>
            <if test="isReturned != null  and isReturned != ''">and is_returned = #{isReturned}</if>
            <if test="isReceived != null  and isReceived != ''">and is_received = #{isReceived}</if>
            <if test="remarks != null  and remarks != ''">and remarks = #{remarks}</if>
            <if test="creator != null  and creator != ''">and creator = #{creator}</if>
            <if test="reviser != null  and reviser != ''">and reviser = #{reviser}</if>
            <if test="eleDocumentStatu != null  and eleDocumentStatu != ''">and ele_document_statu =
                #{eleDocumentStatu}
            </if>
            <if test="counts !=null">and counts = #{counts}</if>
        </where>
        order by create_time desc
    </select>

    <select id="listDocumentAndDetail" parameterType="SysApplyOutDetail" resultMap="SysApplyOutDocDetailResult">
        SELECT
        od.out_detail_id,
        od.apply_id,
        od.document_id,
        od.is_page,
        od.is_elec,
        od.is_return,
        od.plan_return_time,
        od.real_return_time,
        od.out_reason,
        od.is_out,
        od.is_receive,
        od.is_returned,
        od.is_received,
        od.remarks,
        od.create_by,
        od.creator,
        od.create_time,
        od.update_by,
        od.reviser,
        od.update_time,
        od.counts,
        od.ele_document_statu,
        od.pages,
        file.asset_number,
        file.contract_no,
        file.asset_pag,
        file.daily_document_type,
        file.file_name,
        file.file_type,
        file.file_scan_type,
        file.counts,
        file.pages,
        file.document_statu,
        file.cabinet_no,
        file.bag_no,
        file.document_get_type,
        file.file_get_type,
        file.document_level,
        file.daily_document_type_contract,
        ap.project_name,
        ap.company_name
        FROM
        sys_apply_out_detail od
        LEFT JOIN sys_document_file file ON od.document_id = file.document_id
        LEFT JOIN sys_apply_in ap ON od.apply_id = ap.apply_id
        <where>
            <if test="applyId != null ">and od.apply_id = #{applyId}</if>
            <!--<if test="documentId != null "> and od.document_id = #{documentId}</if>
            <if test="isPage != null  and isPage != ''"> and od.is_page = #{isPage}</if>
            <if test="isElec != null  and isElec != ''"> and od.is_elec = #{isElec}</if>-->
            <!--            <if test="isReturn != null  and isReturn != ''"> and od.is_return = #{isReturn}</if>
                        <if test="planReturnTime != null "> and od.plan_return_time = #{planReturnTime}</if>
                        <if test="realReturnTime != null "> and od.real_return_time = #{realReturnTime}</if>
                        <if test="outReason != null  and outReason != ''"> and od.out_reason = #{outReason}</if>
                        <if test="isOut != null  and isOut != ''"> and od.is_out = #{isOut}</if>
                        <if test="isReceive != null  and isReceive != ''"> and od.is_receive = #{isReceive}</if>
                        <if test="isReturned != null  and isReturned != ''"> and od.is_returned = #{isReturned}</if>
                        <if test="isReceived != null  and isReceived != ''"> and od.is_received = #{isReceived}</if>-->
            <!--<if test="remarks != null  and remarks != ''"> and od.remarks = #{remarks}</if>
            <if test="creator != null  and creator != ''"> and od.creator = #{creator}</if>
            <if test="reviser != null  and reviser != ''"> and od.reviser = #{reviser}</if>-->
        </where>
        order by od.create_time desc
    </select>

    <select id="selectSysApplyOutDetailById" parameterType="Long" resultMap="SysApplyOutDetailResult">
        <include refid="selectSysApplyOutDetailVo"/>
        where out_detail_id = #{outDetailId}
    </select>

    <select id="selectSysApplyOutDetailByDocumentIds" resultMap="SysApplyOutDetailResult">
        <include refid="selectSysApplyOutDetailVo"/>
        where document_id in
        <foreach item="item" collection="documentIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        and create_by = #{loginName}
        and apply_id = #{applyId}
    </select>

    <insert id="insertSysApplyOutDetail" parameterType="SysApplyOutDetail" useGeneratedKeys="true"
            keyProperty="outDetailId">
        insert into sys_apply_out_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null">apply_id,</if>
            <if test="documentId != null">document_id,</if>
            <if test="isPage != null">is_page,</if>
            <if test="isElec != null">is_elec,</if>
            <if test="isReturn != null">is_return,</if>
            <if test="planReturnTime != null">plan_return_time,</if>
            <if test="realReturnTime != null">real_return_time,</if>
            <if test="outReason != null">out_reason,</if>
            <if test="isOut != null">is_out,</if>
            <if test="isReceive != null">is_receive,</if>
            <if test="isReturned != null">is_returned,</if>
            <if test="isReceived != null">is_received,</if>
            <if test="remarks != null">remarks,</if>
            <if test="createBy != null">create_by,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="reviser != null">reviser,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="eleDocumentStatu != null">ele_document_statu,</if>
            <if test="counts !=null">counts,</if>
            <if test="pages !=null">pages,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null">#{applyId},</if>
            <if test="documentId != null">#{documentId},</if>
            <if test="isPage != null">#{isPage},</if>
            <if test="isElec != null">#{isElec},</if>
            <if test="isReturn != null">#{isReturn},</if>
            <if test="planReturnTime != null">#{planReturnTime},</if>
            <if test="realReturnTime != null">#{realReturnTime},</if>
            <if test="outReason != null">#{outReason},</if>
            <if test="isOut != null">#{isOut},</if>
            <if test="isReceive != null">#{isReceive},</if>
            <if test="isReturned != null">#{isReturned},</if>
            <if test="isReceived != null">#{isReceived},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="reviser != null">#{reviser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="eleDocumentStatu != null">#{eleDocumentStatu},</if>
            <if test="counts !=null">#{counts},</if>
            <if test="pages !=null">#{pages},</if>
        </trim>
    </insert>

    <update id="updateSysApplyOutDetail" parameterType="SysApplyOutDetail">
        update sys_apply_out_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyId != null">apply_id = #{applyId},</if>
            <if test="documentId != null">document_id = #{documentId},</if>
            <if test="isPage != null">is_page = #{isPage},</if>
            <if test="isElec != null">is_elec = #{isElec},</if>
            <if test="isReturn != null">is_return = #{isReturn},</if>
            <if test="planReturnTime != null">plan_return_time = #{planReturnTime},</if>
            <if test="realReturnTime != null">real_return_time = #{realReturnTime},</if>
            <if test="outReason != null">out_reason = #{outReason},</if>
            <if test="isOut != null">is_out = #{isOut},</if>
            <if test="isReceive != null">is_receive = #{isReceive},</if>
            <if test="isReturned != null">is_returned = #{isReturned},</if>
            <if test="isReceived != null">is_received = #{isReceived},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="reviser != null">reviser = #{reviser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="eleDocumentStatu != null">ele_document_statu = #{eleDocumentStatu},</if>
            <if test="counts !=null">counts = #{counts},</if>
            <if test="pages !=null">pages = #{pages},</if>
        </trim>
        where out_detail_id = #{outDetailId}
    </update>

    <delete id="deleteSysApplyOutDetailById" parameterType="Long">
        delete
        from sys_apply_out_detail
        where out_detail_id = #{outDetailId}
    </delete>

    <delete id="deleteSysApplyOutDetailByApplyId" parameterType="Long">
        delete
        from sys_apply_out_detail
        where apply_id = #{applyId}
    </delete>

    <delete id="deleteSysApplyOutDetailByIds" parameterType="String">
        delete from sys_apply_out_detail where out_detail_id in
        <foreach item="outDetailId" collection="array" open="(" separator="," close=")">
            #{outDetailId}
        </foreach>
    </delete>

    <update id="editOutFileDetailByIds" parameterType="SysApplyOutDetail">
        update sys_apply_out_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyId != null">apply_id = #{applyId},</if>
            <if test="documentId != null">document_id = #{documentId},</if>
            <if test="isPage != null">is_page = #{isPage},</if>
            <if test="isElec != null">is_elec = #{isElec},</if>
            <if test="isReturn != null">is_return = #{isReturn},</if>
            <if test="planReturnTime != null">plan_return_time = #{planReturnTime},</if>
            <if test="realReturnTime != null">real_return_time = #{realReturnTime},</if>
            <if test="outReason != null">out_reason = #{outReason},</if>
            <if test="isOut != null">is_out = #{isOut},</if>
            <if test="isReceive != null">is_receive = #{isReceive},</if>
            <if test="isReturned != null">is_returned = #{isReturned},</if>
            <if test="isReceived != null">is_received = #{isReceived},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="reviser != null">reviser = #{reviser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="eleDocumentStatu != null">ele_document_statu = #{eleDocumentStatu},</if>
            <if test="counts !=null">counts = #{counts},</if>
            <if test="pages !=null">pages = #{pages},</if>
        </trim>
        where out_detail_id IN (${outFileDetailIds})
    </update>

</mapper>