<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('用户详细')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <table class="table table-border" style="table-layout: auto;word-break: break-all">
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>资产包情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>资产状态:</h5></td>
            <td class="col-sm-1"><span th:text="${@dict.getLabel('sys_zcb_status', sysZck.assetStatus)}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>借款基本情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>序号:</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.no}"/></td>
            <td class="col-sm-1 text-right"><h5>借款人名称：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.projectName}"/></td>
            <td class="col-sm-1 text-right"><h5>城市/名称:</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.city}"/></td>
            <td class="col-sm-1 text-right"><h5>合同本金：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.contractPrincipals}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>本金余额：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.principalBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>利息余额：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.interestBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>本息余额：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.principalInterestBalances}"/></td>
            <td class="col-sm-1 text-right"><h5>本息计算基准日：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysZck.bxjsDate, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>贷款行：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.loanBank}"/></td>
            <td class="col-sm-1 text-right"><h5>贷款合同编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.loanContractNo}"/></td>
            <td class="col-sm-1 text-right"><h5>借款期限：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${#dates.format(sysZck.loanTime, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>保证情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>保证人：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.guarantor}"/></td>
            <td class="col-sm-1 text-right"><h5>保证人自然人数量：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.bzrZrrNumber}"/></td>
            <td class="col-sm-1 text-right"><h5>保证人法人数量：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.bzrFrNumber}"/></td>
            <td class="col-sm-1 text-right"><h5>保证金额：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.guaranteeAmounts}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>保证合同编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.guaranteeContractNo}"/></td>
            <td class="col-sm-1 text-right"><h5>保证合同签订时间：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysZck.guaranteeContractSignTime, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>最高额保证金额：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.maximumGuaranteeAmounts}"/></td>
            <td class="col-sm-1 text-right"><h5>最高额保证合同·保函编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.maximumGuaranteeContract}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>最高额保证合同签订时间：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysZck.maximumGuaratnteeSignTime, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>担保的主债权发生期间：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.zzqDateTime}"/></td>
            <td class="col-sm-1 text-right"><h5>保证方式：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.guaranteeMode}"/></td>
            <td class="col-sm-1 text-right"><h5>保证期间：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.guaranteePeriod}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>备注(包括与债务人关系，名下财产，还款意愿等)：</h5></td>
            <td colspan="8" class="col-sm-1"><span th:text="${sysZck.guaranteeRemarks}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>其它资产情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>其他资产资产性质：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.assetNature}"/></td>
            <td class="col-sm-1 text-right"><h5>其他资产住址：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.address}"/></td>
            <td class="col-sm-1 text-right"><h5>其他资产权属证号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.qsNo}"/></td>
            <td class="col-sm-1 text-right"><h5>其他资产面积·㎡：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.area}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>其他资产查封情况：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.sealUp}"/></td>
            <td class="col-sm-1 text-right"><h5>其他资产抵押情况：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.mortgage}"/></td>
            <td class="col-sm-1 text-right"><h5>备注（包括权属人与债务人关系，处置及回款情况）：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysZck.otherRemark}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>借款人情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>借款人行业：</h5></td>
            <td class="col-sm-1"><span th:text="${@dict.getLabel('sys_zcb_trade', sysZck.jkrIndustry)}"/></td>
            <td class="col-sm-1 text-right"><h5>国企/非国企：</h5></td>
            <td class="col-sm-1"><span th:text="${@dict.getLabel('sys_zcb_gq', sysZck.soe)}"/></td>
            <td class="col-sm-1 text-right"><h5>经营情况：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.operation}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>司法状态</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>法院：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.court}"/></td>
            <td class="col-sm-1 text-right"><h5>诉讼情况：</h5></td>
            <td class="col-sm-1right"><span th:text="${@dict.getLabel('sys_zcb_litigation', sysZck.litigation)}"/></td>
            <td class="col-sm-1 text-right"><h5>备注：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysZck.judicialRemark}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>抵押物情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>抵押物情况：</h5></td>
            <td class="col-sm-1" colspan="8"><span th:text="${sysZck.dywAddress}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>一般抵押</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>抵（质）押金额(本金)：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.mortgageAmounts}"/></td>
            <td class="col-sm-1 text-right"><h5>一般抵（质）押合同编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.mortgageContractNo}"/></td>
            <td class="col-sm-1 text-right"><h5>一般抵（质）押合同签订时间：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${#dates.format(sysZck.dzywqdTime, 'yyyy-MM-dd')}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>最高额抵押</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>最高额抵押金额：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.maximumMortgageAmounts}"/></td>
            <td class="col-sm-1 text-right"><h5>最高额抵押合同编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.maximumMortgageContractNo}"/></td>
            <td class="col-sm-1 text-right"><h5>最高额抵押合同签订时间：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysZck.zgeContractTime, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>担保的主债权发生期间：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.dbzzqTime}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>抵押基本信息</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>抵押人：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.mortgagor}"/></td>
            <td class="col-sm-1 text-right"><h5>权属证号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.zgeQsNo}"/></td>
            <td class="col-sm-1 text-right"><h5>他项权证编号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.txQzNo}"/></td>
            <td class="col-sm-1 text-right"><h5>查封情况/查封法院/案号：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.caseNo}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>抵押顺位：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysZck.mortgageRank}"/></td>
            <td class="col-sm-1 text-right"><h5>前序顺位抵押金额：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysZck.qxswMortgeageAmounts}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>抵押物出租及使用情况</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>出租情况：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.rentalSituation}"/></td>
            <td class="col-sm-1 text-right"><h5>抵前or抵后：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.beforeOrAterAarrival}"/></td>
            <td class="col-sm-1 text-right"><h5>出租相关细节：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.rentalDetails}"/></td>
            <td class="col-sm-1 text-right"><h5>是否有未成年人：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.juveniles}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>是否唯一住房：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysZck.onlyHouse}"/></td>
            <td class="col-sm-1 text-right"><h5>是否需要腾房：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysZck.tengfang}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>抵押土地基本信息</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>土地性质：</h5></td>
            <td class="col-sm-1"><span th:text="${@dict.getLabel('sys_zcb_tdxz', sysZck.natureLand)}"/></td>
            <td class="col-sm-1 text-right"><h5>剩余使用年限：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.sysynx}"/></td>
            <td class="col-sm-1 text-right"><h5>容积率：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.plotRatio}"/></td>
            <td class="col-sm-1 text-right"><h5>获得方式：</h5></td>
            <td class="col-sm-1"><span th:text="${@dict.getLabel('sys_zcb_hdfs', sysZck.access)}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>土地用途：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${@dict.getLabel('sys_zcb_tdyt', sysZck.zoning)}"/></td>
            <td class="col-sm-1 text-right"><h5>土地面积：</h5></td>
            <td class="col-sm-1" colspan="3"><span th:text="${sysZck.landArea}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>其它抵/质押物基本信息</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>建筑结构：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.buildStructure}"/></td>
            <td class="col-sm-1 text-right"><h5>建成日期：</h5></td>
            <td class="col-sm-1"><span th:text="${#dates.format(sysZck.completionDate, 'yyyy-MM-dd')}"/></td>
            <td class="col-sm-1 text-right"><h5>所在层数/总层数：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.floors}"/></td>
            <td class="col-sm-1 text-right"><h5>抵/质押物类型：</h5></td>
            <td class="col-sm-1"><span th:text="${@dict.getLabel('sys_zcb_collateraType', sysZck.collateType)}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>建筑面积/㎡：</h5></td>
            <td class="col-sm-1" colspan="8"><span th:text="${sysZck.floorage}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>抵押物估值</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>土地单价：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.landUnitPrices}"/></td>
            <td class="col-sm-1 text-right"><h5>土地总价：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.landTotalPrices}"/></td>
            <td class="col-sm-1 text-right"><h5>其它抵质押物单价：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.otherCollateralUnitPrices}"/></td>
            <td class="col-sm-1 text-right"><h5>其它抵质押物总价：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.otherCollateralTotalPrices}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>总价：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.totalPrices}"/></td>
            <td class="col-sm-1 text-right"><h5>估值依据：</h5></td>
            <td class="col-sm-1" style="width: 10px!important;"><span th:text="${sysZck.valuationBasis}"/></td>
            <td class="col-sm-1 text-right"><h5>盖帽值：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.capValues}"/></td>
            <td class="col-sm-1 text-right"><h5>抵质押物备注：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.dzywRemark}"/></td>
        </tr>
        <tr>
            <td colspan="8" style="text-align: center" class="success"><h3>借款人保证人网搜估值</h3></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>借款人、保证人网搜情况：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.borrowerWsqk}"/></td>
            <td class="col-sm-1 text-right"><h5>财产线索：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.propertyClues}"/></td>
            <td class="col-sm-1 text-right"><h5>综合还款能力分析（较好、一般、无）：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.zhhknl}"/></td>
            <td class="col-sm-1 text-right"><h5>估值建议：</h5></td>
            <td class="col-sm-1"><span th:text="${sysZck.gzjy}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>备注：</h5></td>
            <td class="col-sm-1" colspan="8"><span th:text="${sysZck.jkrgzRemark}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>定价：</h5></td>
            <td class="col-sm-1" colspan="8"><span th:text="${sysZck.prices}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>处置方式：</h5></td>
            <td class="col-sm-1" colspan="8"><span th:text="${sysZck.desposalMode}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>处置价格：</h5></td>
            <td class="col-sm-1" colspan="8"><span th:text="${sysZck.desposalPrices}"/></td>
        </tr>
        <tr>
            <td class="col-sm-1 text-right"><h5>客户：</h5></td>
            <td class="col-sm-1sys" colspan="8"><span th:text="${sysZck.customer}"/></td>
        </tr>
    </table>
</div>
<th:block th:include="include :: footer"/>
</body>
</html>
