<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input id="projectZckId" th:value="*{projectZckId}" type="hidden">
            <input id="zckName" th:value="*{projectZckName}" type="hidden">
            <input id="type" th:value="*{type}" type="hidden">
            <input id="projectZckType" th:value="*{projectZckType}" type="hidden">
            <input id="otherFlag" th:value="*{otherFlag}" type="hidden">
            <input id="fwProjectType" th:value="*{fwProjectType}" type="hidden">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <input type="hidden" name="projectManagementId" id="projectManagementId"
                               th:value="*{projectManagementId}"/>
                        <input type="hidden" name="project" id="project" th:value="*{project}"/>
                        <!--<li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>-->
                    </ul>
                </div>
            </form>
            <form id="toProject">
                <input type="hidden" name="projectName" id="projectName" th:value="${projectName}"/>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="system:progress:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:progress:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:progress:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:progress:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
            <a id="projectFlag" style="display: none;" class="btn btn-info" onclick="back()"
               shiro:hasPermission="system:project:list">
                <i class="fa fa-backward"></i> 返回
            </a>
            <a id="projectFalse" style="display: none;" class="btn btn-info" onclick="back()"
               shiro:hasPermission="system:progress:list">
                <i class="fa fa-backward"></i> 返回
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:progress:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:progress:remove')}]];
    var prefix = ctx + "system/progress";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/adds/{id}/{ids}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "【请填写功能名称】",
            columns: [{
                checkbox: true
            },
                {
                    field: 'progressId',
                    title: '主键ID',
                    visible: false
                },
                {
                    title: '序号',
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'projectManagementId',
                    title: '项目进度表ID',
                    visible: false
                },
                {
                    field: 'projectManagementName',
                    title: '项目名称'
                },
                {
                    field: 'progress',
                    title: '进度情况'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                }/*,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.progressId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.progressId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }*/]
        };
        $.table.init(options);
        var projectFlag = $("#project").val();
        if ("Y" == projectFlag) {
            $("#projectFlag").show();
        } else {
            $("#projectFalse").show();
        }
    });

    function add() {
        var projectManagementId = $("#projectManagementId").val();
        var project = $("#project").val();
        //$.operate.adds(projectManagementId, project);
        var url = prefix + "/add?projectManagementId=" + projectManagementId + "&project=" + project;
        $.modal.open("添加" + table.options.modalName, url);
    }

    function back() {
        var projectFlag = $("#project").val();
        var projectZckId = $("#projectZckId").val();
        var fwProjectType = $("#fwProjectType").val();
        var otherFlag = $("#otherFlag").val();
        var zckName = $("#zckName").val();
        var type = $("#type").val();
        var projectName = $("#projectName").val();
        var url = "";
        var title = '';
        if ($.common.isNotEmpty(fwProjectType)) {
            url = ctx + 'system/projectZck/projectList?projectZckId=' + projectZckId + "&projectZckType=" + $("#projectZckType").val() + "&otherFlag=" + otherFlag + "&fwProjectType=" + fwProjectType;
            if ("otherProject" == fwProjectType) {
                title = '其他项目列表';
            } else {
                title = $("#zckName").val() + "列表";
            }
        } else {
            if ("Y" == projectFlag) {
                url = ctx + 'system/projectZck/projectList?projectZckId=' + projectZckId + "&projectZckType=" + $("#projectZckType").val();
                title = zckName + "列表";
            } else {
                if ("服务类项目" == type) {
                    url = ctx + 'system/projectmanagent/selectSysProjectmanagentListByProjectType?projectType=' + type;
                } else if ("自投类项目" == type) {
                    url = ctx + 'system/projectmanagent/selectSysProjectmanagentListByProjectTypes?projectType=' + type;
                }
                title = type + "列表";
            }
        }
        if ($.common.isNotEmpty(projectName)) {
            var data = $("#toProject").serialize();
            $.operate.gets(ctx + "system/project/queryAll", data, "查询界面");
        } else {
            $.modal.parentTab(title, url);
        }
    }
</script>
</body>
</html>