<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增我的小组')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-subgroup-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">小组名称：</label>
            <div class="col-sm-8">
                <input name="subgroupName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">小组成员：</label>
            <div class="col-sm-8">
                <input name="subgroupUserId" id="subgroupUserId" class="form-control" type="hidden">
                <input name="subgroupUserName" id="subgroupUserName" class="form-control" type="hidden">
                <input name="subgroupDeptId" class="form-control" type="hidden" id="subgroupDeptId">
                <input name="subgroupDeptName" class="form-control" type="hidden" id="subgroupDeptName">
                <input class="form-control" type="text" id="shareDeptAndUser" onclick="selectUserTree()">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "system/subgroup"
    $("#form-subgroup-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-subgroup-add').serialize());
        }
    }


    //人员树形选择器
    function selectUserTree() {
        var url = ctx + "system/user/selectUserTree?selectedUserIds=" + $("#subgroupUserId").val() + "&selectedUserNames=" + $("#subgroupUserName ").val() + "&multiSelectFlag=true&selectedDeptIds="
            + $("#subgroupDeptId").val() + "&selectedDeptNames=" + $("#subgroupUserName").val() + "&checkFlag=true";
        $.modal.open("人员选择器", url, "750", "300", doSelect);
    }

    function doSelect(index, layero) {
        var body = layer.getChildFrame('body', index);
        var userIds = "";
        var userNames = "";
        var deptIds = "";
        var deptNames = "";
        window.iframeWin = window[layero.find('iframe')[0]['name']];
        var nodes = iframeWin.zonCheck();
        body.find("#multiselect_to option").each(function () {  //遍历所有option
            var val = $(this).val();   //获取option值
            var txt = $(this).text();  //获取option的文本内容
            if (val != '' && txt != '') {
                userIds = userIds + val + ",";
                userNames = userNames + txt + ",";
            }
        });

        userIds = userIds.substring(0, userIds.length - 1);
        userNames = userNames.substring(0, userNames.length - 1);
        for (var i = 0; i < nodes.length; i++) {
            deptIds = nodes[i].id + "," + deptIds;
            deptNames = nodes[i].name + "," + deptNames;
        }

        if ($.common.isNotEmpty(deptIds)) {
            deptIds = deptIds.substring(0, deptIds.length - 1);
        }
        if ($.common.isNotEmpty(deptNames)) {
            deptNames = deptNames.substring(0, deptNames.length - 1);
        }

        $("#subgroupUserId").val(userIds);
        $("#subgroupUserName").val(userNames);
        $("#subgroupDeptId").val(deptIds);
        $("#subgroupDeptName").val(deptNames);
        if ($.common.isNotEmpty(deptNames) && $.common.isNotEmpty(userNames)) {
            $("#shareDeptAndUser").val(deptNames + "," + userNames);
        } else if ($.common.isNotEmpty(deptNames) && $.common.isEmpty(userNames)) {
            $("#shareDeptAndUser").val(deptNames);
        } else if ($.common.isNotEmpty(userNames) && $.common.isEmpty(deptNames)) {
            $("#shareDeptAndUser").val(userNames);
        }

        layer.close(index);
    }

    //投后项目
    function getProjectRows(row) {
        var projectIds = "";
        var projectNames = "";
        for (var i = 0; i < row.length; i++) {
            projectIds = row[i].projectId + "," + projectIds;
            projectNames = row[i].projectName + "," + projectNames;
        }
        console.log(projectIds + "=======" + projectNames)
        // $("#projectId").val(projectIds.substr(0, projectIds.length - 1));
        //$("#projectName").val(projectNames.substr(0, projectNames.length - 1));
        //layer.close(layer.index);
    }

</script>
</body>
</html>