<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('投后项目质押物列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input id="projectZckId" th:value="*{projectZckId}" type="hidden">
            <input id="zckName" th:value="*{projectZckName}" type="hidden">
            <input name="projectZckType" id="projectZckType" th:value="*{projectZckType}" type="hidden">
            <input name="otherFlag" id="otherFlag" th:value="*{otherFlag}" type="hidden">
            <input name="fwProjectType" id="fwProjectType" th:value="*{fwProjectType}" type="hidden">
            <form id="formId">
                <div class="select-list">
                    <input type="hidden" name="projectIds" id="projectId" th:value="*{projectIds}"/>
                    <!--<ul>
                        <li>
                            <label>质押物类型：</label>
                            <select name="pledgeType">
                                <option value="">所有</option>
                                <option value="-1">代码生成请选择字典属性</option>
                            </select>
                        </li>
                        <li>
                            <label>质押金额：</label>
                            <input type="text" name="pledgeAmount"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>-->
                </div>
            </form>
            <form id="toProject">
                <input type="hidden" name="projectName" id="projectName" th:value="${projectName}"/>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:pledge:add">
                <i class="fa fa-plus"></i> 添加
            </a>-->
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:pledge:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:pledge:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:pledge:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
            <a class="btn btn-info" onclick="back()" shiro:hasPermission="system:project:list">
                <i class="fa fa-backward"></i> 返回
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:pledge:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:pledge:remove')}]];
    var prefix = ctx + "system/pledge";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "投后项目质押物",
            columns: [{
                checkbox: true
            },
                {
                    field: 'pledgeId',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'pledgeType',
                    title: '质押物类型'
                },
                {
                    field: 'pledgeContractNo',
                    title: '质押合同编号'
                },
                {
                    field: 'pledgor',
                    title: '质押人'
                },
                {
                    field: 'pledgeAmount',
                    title: '质押金额',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value, 3, '.', ',');
                    }
                },
                {
                    field: 'pledgeCategory',
                    title: '质押类型'
                },
                {
                    field: 'maximumAmountTime',
                    title: '最高额确定期间'
                },
                {
                    field: 'certificateNumber',
                    title: '证书编号'
                }/*,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.pledgeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.pledgeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }*/]
        };
        $.table.init(options);
    });

    function back() {
        var projectZckId = $("#projectZckId").val();
        var fwProjectType = $("#fwProjectType").val();
        var otherFlag = $("#otherFlag").val();
        var projectName = $("#projectName").val();
        var url = '';
        var title = '';
        if ($.common.isNotEmpty(fwProjectType)) {
            url = ctx + 'system/projectZck/projectList?projectZckId=' + projectZckId + "&projectZckType=" + $("#projectZckType").val() + "&otherFlag=" + otherFlag + "&fwProjectType=" + fwProjectType;
            if ("otherProject" == fwProjectType) {
                title = '其他项目列表';
            } else {
                title = $("#zckName").val() + "列表";
            }
        } else {
            url = ctx + 'system/projectZck/projectList?projectZckId=' + projectZckId + "&projectZckType=" + $("#projectZckType").val();
            title = $("#zckName").val() + "列表";
        }
        if ($.common.isNotEmpty(projectName)) {
            var data = $("#toProject").serialize();
            $.operate.gets(ctx + "system/project/queryAll", data, "查询界面");
        } else {
            $.modal.parentTab(title, url);
        }
    }
</script>
</body>
</html>