<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<th:block th:include="include :: header('人员选择')"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<style>
    body {
        height: auto;
        font-family: "Microsoft YaHei";
    }

    button {
        font-family: "SimSun", "Helvetica Neue", Helvetica, Arial;
    }
</style>
<body class="hold-transition box box-main">
<input id="shareDeptIds" name="treeId" type="hidden" th:value="${shareDeptIds}"/>
<input id="selectedUserIds" name="selectedUserIds" type="hidden" th:value="${selectedUserIds}"/>
<input id="selectedUserNames" name="selectedUserNames" type="hidden" th:value="${selectedUserNames}"/>
<input id="multiSelectFlag" name="multiSelectFlag" type="hidden" th:value="${multiSelectFlag}"/>
<input id="deptId" name="deptId" type="text" th:value="${deptId}"/>
<!--
<div class="row">
    <div class="col-xs-10">
        <div class="wrapper">
            <div class="treeShowHideButton" οnclick="$.tree.toggleSearch();">
                <label id="btnShow" title="显示搜索" style="display:none;">︾</label>
                <label id="btnHide" title="隐藏搜索">︽</label>
            </div>
        </div>
        <div class="treeSearchInput" id="search">
            <label>姓名：</label><input type="text" class="empty" id="userName" name="userName" maxlength="50"/>
            <button class="btn" id="btn" onclick="loadUserList()"> 搜索</button>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="ibox float-e-margins">
        <!--<div class="ibox-title ibox-title-gray dashboard-header">
            <h5>人员选择器</h5>
        </div>-->
        <!--<div class="col-xs-10">
            &lt;!&ndash;<div class="wrapper">
                <div class="treeShowHideButton" οnclick="$.tree.toggleSearch();">
                    <label id="btnShow" title="显示搜索" style="display:none;">︾</label>
                    <label id="btnHide" title="隐藏搜索">︽</label>
                </div>
            </div>&ndash;&gt;
            &lt;!&ndash;<div class="treeSearchInput" id="search">
                <label>姓名：</label><input type="text" class="empty" id="userName" name="userName" maxlength="50"/>
                <button class="btn" id="btn" onclick="loadUserList()"> 搜索</button>
            </div>&ndash;&gt;
        </div>-->
        <div class="ibox-content col-xs-5">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <!--  <li class="active"><a href="#company" data-toggle="tab" aria-expanded="true">公司架构</a></li>-->
                    <li class="active"><a href="#myGroup" data-toggle="tab" aria-expanded="true">我的小组</a></li>
                </ul>
                <div class="tab-content">
                    <!--<div class="tab-pane active" id="company">
                        <div class="treeExpandCollapse">
                            <a href="#" onclick="$.tree.expand()">展开</a> /
                            <a href="#" onclick="$.tree.collapse()">折叠</a>
                        </div>
                        <div id="tree" class="ztree treeselect"></div>
                    </div>-->
                    <div class="tab-pane active" id="myGroup">
                        <p style="width: 100%"><a class="btn" onclick="addGroup()"><i class="fa fa-plus"></i>新增小组</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <!-- <div class="col-xs-5" style="padding-top: 10px;">
                 <h4>待选人员</h4>
                 <select name="from" id="multiselect" class="js-multiselect form-control" size="15" multiple="multiple">
                 </select>
             </div>

             <div class="col-xs-2" style="padding-top: 40px;">
                 <button type="button" id="multiselect_rightAll" class="btn btn-block"><i
                         class="glyphicon glyphicon-forward"></i></button>
                 <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i
                         class="glyphicon glyphicon-chevron-right"></i></button>
                 <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i
                         class="glyphicon glyphicon-chevron-left"></i></button>
                 <button type="button" id="multiselect_leftAll" class="btn btn-block"><i
                         class="glyphicon glyphicon-backward"></i></button>
             </div>
 -->
            <div class="col-xs-10" style="padding-top: 10px;">
                <div class="col-xs-12" id="personId">
                    <h4>已选人员</h4>
                    <input id="groupId" type="hidden"/>
                    <input id="deptIds" type="hidden"/>
                    <select name="to" id="multiselect_to" class="form-control" size="15" multiple="multiple"></select>
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="groupDivId" style="display: none;height: 300px;">
            <iframe class="LeDao_iframe" id="groupAdd" name="iframe0" width="100%" height="100%"
                    data-id="/system/subgroup/add" frameborder="0" seamless></iframe>
            <iframe class="LeDao_iframe" id="groupEdit" name="iframe0" width="100%" height="100%"
                    data-id="/system/subgroup/edit" frameborder="0" seamless></iframe>
        </div>
    </div>
    <!--    <div class="col-xs-4">

            <div class="treeExpandCollapse">
                <a href="#" onclick="$.tree.expand()">展开</a> /
                <a href="#" onclick="$.tree.collapse()">折叠</a>
            </div>
            <div id="tree" class="ztree treeselect"></div>
        </div>-->

</div>

<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
    $(function () {
        var url = ctx + "system/dept/treeData";
        var deptId = $("#deptId").val();
        if ($.common.isEmpty(deptId)) {
            var options = {
                url: url,
                expandLevel: 2,
                onClick: zOnClick
            };
            $.tree.init(options);
        } else {
            $(".treeExpandCollapse").hide();
            $("#tree").hide();
        }

        $('input[name="userName"]').on('input propertychange', function () {
            loadUserList();
        });

        //获取多选标记
        var multiSelectFlag = $("#multiSelectFlag").val();

        //如果是非多选，进行如下处理，变成单选
        if (!multiSelectFlag || multiSelectFlag != 'true') {
            $("#multiselect_rightSelected").click(function () {
                var checkValue = $("#multiselect").val();
                if (checkValue != '' || checkValue != null) {
                    $("#multiselect_to option").each(function () {  //遍历所有option
                        var val = $(this).val();   //获取option值
                        var text = $(this).text(); //获取option文本内容
                        if (val != '' && val != null && val != undefined && text != '' && text != null && text != undefined) {
                            $("#multiselect").append("<option value='" + val + "'>" + text + "</option>");
                        }
                    });
                    $("#multiselect_to").find("option").remove();
                }
            });

            $("#multiselect_rightAll").hide();
            $("#multiselect_leftAll").hide();

        }


        //1、初始化左右员工选择器
        $('#multiselect').multiselect({
            includeSelectAllOptions: true
        });

        //2、加载已被选择的人员
        var selectedUserIds = $("#selectedUserIds").val();
        var selectedUserNames = $("#selectedUserNames").val();

        if (selectedUserIds != '' && selectedUserIds != null && selectedUserIds != undefined) {
            var idsArray = selectedUserIds.split(",");
            var namesArray = selectedUserNames.split(",");
            for (var i = 0; i < idsArray.length; i++) {
                $("#multiselect_to").append("<option value='" + idsArray[i] + "'>" + namesArray[i] + "</option>");
            }
        }

        //3、加载所有人员列表
        //loadUserList();

        //4、获取我的小组
        loadGroupList();

    });

    function loadGroupList() {
        $.ajax({
            type: "get",
            url: ctx + "system/subgroup/groupList",
            traditional: true,
            dataType: "json",
            data: {},
            success: function (result) {
                var data = result.subgroupList;
                var str = "<ol>";
                for (var i in data) {
                    str += '<li><span><a onclick="datailForGroup(\'' + data[i].subgroupUserId + "',\'" + data[i].subgroupId + '\')">' + data[i].subgroupName + '</a>';
                    str += '<span style="float:right;"><a class="btn-success" onclick="update(' + data[i].subgroupId + ')"><i class="fa fa-edit"></i>修改</a></span>';
                    str += '<span style="float:right;margin-right: 0.5em"><a class="btn-danger" onclick="removeAll(' + data[i].subgroupId + ')"><i class="fa fa-remove"></i>删除</a></span>';
                    str += '</li>';
                }
                str += '</ol>';
                $("#myGroup").append(str);
            }
        })
    }

    function datailForGroup(ids, id) {
        $("#groupId").val(id);
        $("#multiselect").find("option").remove();
        var selectedUserIds = "";

        //获取当前已选人员ids,用于过滤
        $("#multiselect_to option").each(function () {  //遍历所有option
            var val = $(this).val();   //获取option值
            if (val != '') {
                selectedUserIds = selectedUserIds + val + ",";
            }
        });

        var array = ids.split(",");
        for (var i = 0; i < array.length; i++) {
            //与当前所选人员进行对比，待选人员中过滤掉已选的人员
            if (selectedUserIds != '') {
                var idsArray = selectedUserIds.split(",");
                var flag = true;
                for (var k = 0; k < idsArray.length; k++) {
                    if (idsArray[k] == array[i]) {
                        flag = false;
                    }
                }
                if (flag) {
                    $("#multiselect_to").append("<option value='" + array[i] + "'>" + selectUserByIds(array[i]) + "</option>");
                }
            } else {
                $("#multiselect_to").append("<option value='" + array[i] + "'>" + selectUserByIds(array[i]) + "</option>");
            }
        }


    }

    function selectUserByIds(id) {
        var str;
        $.ajax({
            url: ctx + 'system/user/selectUserByIds',
            data: {"ids": id},
            dataType: 'json',
            type: 'post',
            async: false,
            success: function (result) {
                str = result.data.user;
            }
        })
        return str;
    }

    //点击部门树事件
    function zOnClick(event, treeId, treeNode) {
        var treeId = treeNode.id;
        var treeName = treeNode.name;
        loadUserList(treeId);
    }

    //加载人员方法
    function loadUserList(deptId) {
        var deptId;
        if ($.common.isNotEmpty($("#deptId").val())) {
            deptId = $("#deptId").val();
        }
        $("#deptIds").val(deptId);
        //清空当前待选择人员框列表
        $("#multiselect").find("option").remove();

        var userName = $("#userName").val();

        var selectedUserIds = "";

        //获取当前已选人员ids,用于过滤
        $("#multiselect_to option").each(function () {  //遍历所有option
            var val = $(this).val();   //获取option值
            if (val != '') {
                selectedUserIds = selectedUserIds + val + ",";
            }
        });

        //加载待选人员数据
        $.ajax({
            type: "get",
            url: ctx + "system/user/listForTree",
            traditional: true,
            dataType: "json",
            data: {
                deptId: deptId,
                userName: userName
            },
            success: function (result) {

                for (var i = 0; i < result.userList.length; i++) {//加载未拥有的角色  这里根据后台传递的对象循环添加
                    //与当前所选人员进行对比，待选人员中过滤掉已选的人员
                    if (selectedUserIds != '') {
                        var idsArray = selectedUserIds.split(",");
                        var flag = true;
                        for (var k = 0; k < idsArray.length; k++) {
                            if (idsArray[k] == result.userList[i].userId) {
                                flag = false;
                            }
                        }
                        if (flag) {
                            $("#multiselect").append("<option value='" + result.userList[i].userId + "'>" + result.userList[i].userName + "</option>");
                        }
                    } else {
                        $("#multiselect").append("<option value='" + result.userList[i].userId + "'>" + result.userList[i].userName + "</option>");
                    }
                }
            }
        });
    }

    function addGroup() {
        /* $("#personId").hide();
         $("#groupDivId").show();*/
        var url = ctx + 'system/subgroup/add';
        $.modal.open('新增小组', url);
        //$.modal.layer_close();
        /*document.getElementById("groupAdd").src = url;*/
    }

    function removeAll(id) {
        $.ajax({
            url: ctx + 'system/subgroup/remove',
            data: {'ids': id},
            dataType: "json",
            type: 'post',
            success: function (result) {
                window.location.reload();
            }
        })
    }

    function update(id) {
        var url = ctx + 'system/subgroup/edit/' + id;
        var url = $.operate.editUrl(id);
        /* $.modal.open('修改小组', url);*/
        document.getElementById("groupEdit").src = url;
    }

    function submitHandler() {
        //var nodes = zonCheck();
        window.parent.doSelect();
    }

    function onAsyncSuccess() {
        var shareDeptIds = $("#shareDeptIds").val();
        var treeObj = $.fn.zTree.getZTreeObj("tree");
        if ($.common.isNotEmpty(shareDeptIds)) {
            var shareDeptId = shareDeptIds.split(",");
            for (var i = 0; i < shareDeptId.length; i++) {
                if ($.common.isNotEmpty(shareDeptId[i])) {
                    if ($.common.isNotEmpty(treeObj)) {
                        var node = treeObj.getNodeByParam("id", shareDeptId[i], null);
                        treeObj.checkNode(node, true, false); //根据id在ztree的复选框中实现自动勾选
                    }
                }
            }
        }
    }
</script>
</body>
</html>