<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('文件管理列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <!--<ul>
                        <li>
                            <label>文件大小：</label>
                            <input type="text" name="fileSize"/>
                        </li>
                        <li>
                            <label>是否可下载：</label>
                            <input type="text" name="downloadableFlag"/>
                        </li>
                        <li>
                            <label>共享部门名称：</label>
                            <input type="text" name="shareDeptName"/>
                        </li>
                        <li>
                            <label>共享人名称：</label>
                            <input type="text" name="shareUserName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>-->
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:document:add">
                <i class="fa fa-plus"></i> 添加
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:document:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:document:remove')}]];
    var prefix = ctx + "system/document";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            modalName: "文件管理",
            columns: [
                {
                    field: 'dictLabel',
                    title: '文件类型',
                    formatter: function (value,row) {
                        return '<a onclick="toDocumentByType(\'' + row.dictValue+"',\'" + value + '\')">' + value + '</a>';
                    }
                }]
        };
        $.table.init(options);
    });

    function toDocumentByType(type,value) {
        var url = prefix + "/toDocumentByType/" + type;
        $.modal.openTab(value + "列表", url);
    }

</script>
</body>
</html>