<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('文件管理列表')"/>
    <!--<th:block th:include="include :: pdf-css"/>-->
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input name="documentType" id="documentType" type="hidden" th:value="*{documentType}">
                <input name="subsetType" id="subsetType" type="hidden" th:value="*{type}">
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="system:document:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-info" onclick="back()" shiro:hasPermission="system:document:list">
                <i class="fa fa-backward"></i> 返回
            </a>
            <!--<a class="btn btn-info" onclick="editUrl()">
                <i class="fa fa-backward"></i> 修复
            </a>-->
            <!--<a class="btn btn-primary" onclick="$.operate.edit()"
               shiro:hasPermission="system:document:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-info" id="expandAllBtn">
                <i class="fa fa-exchange"></i> 展开/折叠
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: pdf-js"/>
<th:block th:include="include :: base64-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:document:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:document:remove')}]];
    var downLoadFlag = [[${@permission.hasPermi('system:document:download')}]];
    var loginName = [[${@permission.getPrincipalProperty('loginName')}]];
    var prefix = ctx + "system/document";

    function editUrl() {
        $.ajax({
            url: prefix + '/editUrl',
            dataType: 'json',
            type: 'post',
            success: function (result) {
                console.log(result);
            }
        })
    }

    $(function () {
        var options = {
            url: prefix + "/listByType",
            createUrl: prefix + "/adds/{id}/{ids}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            exportUrl: prefix + "/export",
            backParentUrl: prefix + "/list",
            sortName: "createTime",
            sortOrder: "desc",
            onLoadSuccess: onLoadSuccess,
            modalName: "文件管理",
            columns: [
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'fileName',
                    title: '文件名称',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 30);
                    }
                },
                {
                    field: 'fileType',
                    title: '文件类型'
                },
                {
                    field: 'shareDeptAndUser',
                    title: '可见部门及人员',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 15);
                    }
                },
                {
                    field: 'createor',
                    title: '创建人名称'
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    formatter: function (value, row, index) {
                        return $.table.dateTimeFormatter(value);
                    }
                },
                {
                    field: 'previewCount',
                    title: '预览次数',
                    align: 'center',
                    formatter: function (value) {
                        return $.common.returnNum(value);
                    }
                },
                {
                    field: 'downloadsCount',
                    title: '下载次数',
                    align: 'center',
                    formatter: function (value) {
                        return $.common.returnNum(value);
                    }
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var fileType = row.fileType.toLowerCase();
                        if ("Y" == row.isAdmin) {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.fileId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        if ("Y" == row.downloadableFlag) {
                            actions.push('<a class="btn btn-success btn-xs ' + downLoadFlag + '" href="javascript:void(0)" onclick="downLoad(\'' + row.fileId + "',\'" + row.fileUrl + '\')"><i class="fa fa-download"></i>下载</a>');
                        }
                        if ('doc' == fileType || 'docx' == fileType || 'xls' == fileType
                            || 'xlsx' == fileType || 'ppt' == fileType || 'pptx' == fileType || 'txt' == fileType) {
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="toPdf(\'' + row.fileId + "',\'" + row.fileUrl + "',\'" + row.fileName + "',\'" + row.fileType + '\')"><i class="fa fa-search"></i>预览</a>');
                        } else if ('pdf' == fileType) {
                            actions.push('<a class="btn btn-success btn-xs" id="" target="_blank" href="/documentFile/showPdfY?path=' + encodeURIComponent(row.fileUrl) + '"onclick="toPdf1(\'' + row.fileId + "',\'" + row.fileUrl + "',\'" + row.fileName + '\')"><i class="fa fa-search"></i>预览</a>')

                            // actions.push('<a class="btn btn-success btn-xs" target="_blank" href="/js/plugins/pdfJS/web/viewer.html?file=' + row.fileUrl + '" onclick="toPdf1(\'' + row.fileId + "',\'" + row.fileUrl + '\')"><i class="fa fa-search"></i>预览</a>');
                        } else if ('jpg' == fileType || 'bmp' == fileType || 'gif' == fileType || 'jpeg' == fileType
                            || 'png' == fileType || 'webp' == fileType) {
                            actions.push('<a class="btn btn-success btn-xs" target="_top"  href="javascript:void(0)" onclick="jpgToPdf(\'' + row.fileId + "',\'" + row.fileUrl + "',\'" + row.fileType + '\')"><i class="fa fa-search"></i>预览</a>');
                        } else if ('mp4' == fileType && 'SAP' == row.documentType) {
                            actions.push('<a class="btn btn-success btn-xs" target="_top"  href="javascript:void(0)" onclick="playVideo(\'' + row.fileId + "',\'" + row.fileUrl + "',\'" + row.fileType + "',\'" + row.documentType + '\')"><i class="fa fa-search"></i>播放</a>')
                            actions.push('<a class="btn btn-success btn-xs " onclick="showTraining((\'' + row.fileId + '\'))" href="javascript:void(0)"><i class="fa fa-search"></i>学习进度查看</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    // function showVideo(content) {
    //     layer.open({
    //         type: 1,
    //         title: false, //不显示标题栏
    //         shadeClose: true, //点击遮罩时关闭
    //         area: ['780px', '460px'],
    //         shade: 0.8,
    //         id: 'LAY_showImage_001', //设定一个id，防止重复弹出
    //         moveType: 1, //拖拽模式，0或者1
    //         content: content
    //     });
    // }

    function playVideo(fileId, url, type, documentType) {
        $.ajax({
            url: prefix + '/previewCount',
            data: {'fileId': fileId},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                $("#bootstrap-table").bootstrapTable("refresh", {silent: true});
            }
        })
        showVideo('<video id="myVideo" controls="controls" autoplay="autoplay" height=\'100%\' width=\'100%\'>' +
            '  <source src="' + url + '" type="video/mp4" />\n' +
            '  <source src="' + url + '" type="video/ogg" />\n' +
            '  <source src="' + url + '" type="video/webm" />\n' +
            '  <object data="' + url + '">\n' +
            '    <embed src="' + url + '" />\n' +
            '  </object>\n' +
            '</video>', fileId, documentType
        );
    }

    var width = window.innerWidth;
    var height = window.innerHeight;
    var totalTime;
    var currentTimes;
    var playTime;
    var video;

    function showVideo(content, fileId, documentType) {
        layer.open({
            type: 1,
            title: false, //不显示标题栏
            shadeClose: false, //点击遮罩时关闭
            area: [width - 50 + "px", height - 50 + "px"],
            shade: 0.8,
            id: 'LAY_showImage_001', //设定一个id，防止重复弹出
            moveType: 1, //拖拽模式，0或者1
            content: content,
            btn: ['关闭'],
            // 弹层外区域关闭
            yes: function (index, layero) {
                if ('SAP' == documentType) {
                    submitTraining(fileId);
                    getVideo(fileId);
                }
                //事件
                layer.close(index);
            },
            success: function (layero, index) {
                if ('SAP' === documentType) {
                    getCurrentTimeByDocumentId(fileId);
                    getVideo(fileId);
                }
            }
        });
    }

    //获取该用户上次观看此视频的截止时间
    function getCurrentTimeByDocumentId(fileId) {
        var data = {"documentId": fileId, "createBy": loginName}
        $.ajax({
            url: '/system/training/getCurrentTimeByDocumentId',
            type: 'post',
            data: data,
            dataType: "JSON",
            success: function (res) {
                for (var i in res.data) {
                    playTime = res.data[i].playTime;
                }
                video = document.getElementById("myVideo");
                video.play();
                video.currentTime = playTime;
            }

        })
    }

    function getVideo(fileId) {
        video = document.getElementById("myVideo");
        video.oncanplay = function () {
            totalTime = video.duration.toFixed();
            video.addEventListener("timeupdate", function () {
                currentTimes = video.currentTime.toFixed();
                console.log(currentTimes + "=====时间点：------" + video.currentTime.toFixed());
            }, false);
            video.addEventListener('pause', function () {
                currentTimes = video.currentTime.toFixed();
                console.log(currentTimes + '------暂停点：=====' + video.currentTime.toFixed());
            })
        }
    }

    function submitTraining(fileId) {
        $.ajax({
            url: '/system/training/add',
            type: 'post',
            data: {
                "documentId": parseInt(fileId),
                "totalTime": parseInt(totalTime),
                "playTime": parseInt(currentTimes),
                "createBy": loginName
            },
            dataType: "JSON",
            success: function (res) {
                console.log(res);
            }

        })
    }

    function jpgToPdf(fileId, url, type) {
        $.ajax({
            url: prefix + '/previewCount',
            data: {'fileId': fileId},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                $("#bootstrap-table").bootstrapTable("refresh", {silent: true});
            }
        });
        var img = new Image();
        img.src = url;
        var height = img.height; // 原图片大小
        var width = img.width; //原图片大小

        var winHeight = $(window).height() - 80;  // 浏览器可视部分高度
        var winWidth = $(window).width() - 100;  // 浏览器可视部分宽度

        // 如果图片高度或者宽度大于限定的高度或者宽度则进行等比例尺寸压缩
        if (height > winHeight || width > winWidth) {
            // 1.原图片宽高比例 大于等于 图片框宽高比例
            if (winWidth / winHeight <= width / height) {
                width = winWidth;   //以框的宽度为标准
                height = winWidth * (height / width);
            }

            // 2.原图片宽高比例 小于 图片框宽高比例
            if (winWidth / winHeight > width / height) {
                width = winHeight * (width / height);
                height = winHeight;   //以框的高度为标准
            }
        }
        var imgHtml = "<img src='" + img.src + "' width='" + width + "px' height='" + height + "px' />";
        $.table.previewImg(url.split(','));
        //showImage(imgHtml, width, height);
        /*if (img.complete) {
            console.log("12312312")
            // 打印
            showImage(imgHtml, width, height);
            //showImage('<img src="' + url + '" alt="x" width="' + width + 'px" height="' + height + 'px">');
        } else {
            console.log("jyfdas")
            // 加载完成执行
            img.onload = function () {
                console.log("asdasd");
                console.log(img.src);
                // 打印
                // showImage('<img src="' + url + '" alt="x">');
                showImage('<img src="' + img.src + '" alt="x">', width, height);
            };
        }*/
    }

    function showImage(content, width, height) {
        layer.open({
            type: 1,
            title: false, //不显示标题栏
            shadeClose: true, //点击遮罩时关闭
            area: [width + 'px', (height + 50) + 'px'],
            shade: 0.8,
            id: 'LAY_showImage_001', //设定一个id，防止重复弹出
            moveType: 1, //拖拽模式，0或者1
            content: content
        });
    };

    function toPdf1(fileId, url) {
        $.ajax({
            url: prefix + '/previewCount',
            data: {'fileId': fileId},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                $("#bootstrap-table").bootstrapTable("refresh", {silent: true});
            }
        })
    }

    function toPdf(fileId, url, fileName, fileType) {
        // var originUrl = 'http://127.0.0.1/' + prefix + '/filePr?id=' + fileId; //要预览文件的访问地址
        // console.log(originUrl);
        // var previewUrl = originUrl + '&fullfilename=' + fileName + '.' + fileType;

        //window.open('http://127.0.0.1:8012/onlinePreview?url='+encodeURIComponent(Base64.encode(previewUrl)));
        $.ajax({
            url: prefix + '/previewCount',
            data: {'fileId': fileId},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                $("#bootstrap-table").bootstrapTable("refresh", {silent: true});
            }
        })
        window.open(ctx + "common/onlinePreview?url=" + encodeURIComponent(url));
    }

    function downLoad(fileId, fileName) {
        $.ajax({
            url: prefix + '/updateDownLoadCount',
            data: {'fileId': fileId},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                $("#bootstrap-table").bootstrapTable("refresh", {silent: true});
            }
        })
        window.location.href = prefix + "/download/resource?id=" + fileId;
    }

    function add() {
        var documentType = $("#documentType").val();
        var subsetType = $("#subsetType").val();
        var url = prefix + "/add?documentType=" + documentType + "&subsetType=" + subsetType;
        $.modal.open("添加" + table.options.modalName, url);
        //$.operate.adds(documentType, subsetType);

    }

    function onLoadSuccess(data) {
        for (var i in data.rows) {
            if ("N" == data.rows[i].isAdmin) {
                $.table.hideColumn("shareDeptAndUser");
            }
        }
    }

    function back() {
        /*var url = prefix + "/toList";
        $.modal.parentTab("文档管理", url);*/
        var documentType = $("#documentType").val();
        var url = prefix + "/toBackByType?type=" + documentType;
        $.modal.parentTab("文档管理", url);
    }

    function showTraining(documentId) {
        var url = '/system/training/trainingList?documentId=' + documentId;
        $.modal.opens("评论列表", url);
    }

</script>
</body>
</html>