<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('文件管理列表')"/>
    <!--<th:block th:include="include :: pdf-css"/>-->
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input name="params[beginTime]" id="beginDate" th:value="${sysDocument.beginTime}" type="hidden"/>
                <input name="params[endTime]" id="endDate" th:value="${sysDocument.endTime}" type="hidden"/>
                <input type="hidden" name="fileName" th:value="${sysDocument.fileName}"/>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="add()" shiro:hasPermission="system:document:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-info" onclick="back()" shiro:hasPermission="system:document:list">
                <i class="fa fa-backward"></i> 返回
            </a>-->
            <!--<a class="btn btn-primary" onclick="$.operate.edit()"
               shiro:hasPermission="system:document:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-info" id="expandAllBtn">
                <i class="fa fa-exchange"></i> 展开/折叠
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: pdf-js"/>
<th:block th:include="include :: base64-js"/>
<script th:inline="javascript">
    var datas = [[${@dict.getType('sys_document_type')}]];
    var editFlag = [[${@permission.hasPermi('system:document:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:document:remove')}]];
    var downLoadFlag = [[${@permission.hasPermi('system:document:download')}]]
    var loginName = [[${@permission.getPrincipalProperty('loginName')}]];
    var prefix = ctx + "system/document";

    $(function () {
        var options = {
            url: prefix + "/listes",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            exportUrl: prefix + "/export",
            backParentUrl: prefix + "/list",
            sortName: "createTime",
            sortOrder: "desc",
            onLoadSuccess: onLoadSuccess,
            modalName: "文件管理",
            columns: [
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'documentType',
                    title: '文件用途',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'documentType',
                    title: '分类',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'fileName',
                    title: '文件名称',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 30);
                    }
                },
                {
                    field: 'fileType',
                    title: '文件类型'
                },
                {
                    field: 'shareDeptAndUser',
                    title: '可见部门及人员',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 15);
                    }
                },
                {
                    field: 'createor',
                    title: '创建人名称'
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var fileType = row.fileType.toLowerCase();


                        if ("Y" == row.downloadableFlag) {
                            actions.push('<a class="btn btn-success btn-xs ' + downLoadFlag + '" href="javascript:void(0)" onclick="downLoad(\'' + row.fileId + "',\'" + row.fileUrl + '\')"><i class="fa fa-download"></i>下载</a>');
                        }
                        if ('doc' == fileType || 'docx' == fileType || 'xls' == fileType
                            || 'xlsx' == fileType || 'ppt' == fileType || 'pptx' == fileType || 'txt' == fileType) {
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="toPdf(\'' + row.fileId + "',\'" + row.fileUrl + '\')"><i class="fa fa-search"></i>预览</a>');
                        } else if ('pdf' == fileType) {
                            actions.push('<a class="btn btn-success btn-xs" id="" target="_blank" href="/documentFile/showPdfY?path=' + encodeURIComponent(row.fileUrl) + '" onclick="toPdf1(\'' + row.fileId + "',\'" + row.fileUrl + '\')"><i class="fa fa-search"></i>预览</a>')
                            //actions.push('<a class="btn btn-success btn-xs" target="_blank" href="/js/plugins/pdfJS/web/viewer.html?file=' + encodeURIComponent(row.fileUrl) + '" onclick="toPdf1(\'' + row.fileId + "',\'" + row.fileUrl + '\')"><i class="fa fa-search"></i>预览</a>');
                        } else if ('jpg' == fileType || 'bmp' == fileType || 'gif' == fileType || 'jpeg' == fileType
                            || 'png' == fileType || 'webp' == fileType) {
                            actions.push('<a class="btn btn-success btn-xs" target="_top"  href="javascript:void(0)" onclick="jpgToPdf(\'' + row.fileId + "',\'" + row.fileUrl + "',\'" + row.fileType + '\')"><i class="fa fa-search"></i>预览</a>');
                        }  else if ('mp4' == fileType && 'SAP' == row.documentType) {
                            actions.push('<a class="btn btn-success btn-xs" target="_top"  href="javascript:void(0)" onclick="playVideo(\'' + row.fileId + "',\'" + row.fileUrl + "',\'" + row.fileType + "',\'" + row.documentType + '\')"><i class="fa fa-search"></i>播放</a>')
                            actions.push('<a class="btn btn-success btn-xs " onclick="showTraining((\'' + row.fileId + '\'))" href="javascript:void(0)"><i class="fa fa-search"></i>学习进度查看</a> ');
                        }
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });

    function playVideo(fileId, url, type, documentType) {
        $.ajax({
            url: prefix + '/previewCount',
            data: {'fileId': fileId},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                $("#bootstrap-table").bootstrapTable("refresh", {silent: true});
            }
        })
        showVideo('<video id="myVideo" controls="controls" autoplay="autoplay" height=\'100%\' width=\'100%\'>' +
            '  <source src="' + url + '" type="video/mp4" />\n' +
            '  <source src="' + url + '" type="video/ogg" />\n' +
            '  <source src="' + url + '" type="video/webm" />\n' +
            '  <object data="' + url + '">\n' +
            '    <embed src="' + url + '" />\n' +
            '  </object>\n' +
            '</video>', fileId,documentType
        );
    }

    var width = window.innerWidth;
    var height = window.innerHeight;
    var totalTime;
    var currentTimes;
    var playTime;
    var video;

    function showVideo(content, fileId,documentType) {
        layer.open({
            type: 1,
            title: false, //不显示标题栏
            shadeClose: false, //点击遮罩时关闭
            area: [width - 50 + "px", height - 50 + "px"],
            shade: 0.8,
            id: 'LAY_showImage_001', //设定一个id，防止重复弹出
            moveType: 1, //拖拽模式，0或者1
            content: content,
            btn: ['关闭'],
            // 弹层外区域关闭
            yes: function (index, layero) {
                if('SAP' == documentType){
                    submitTraining(fileId);
                    getVideo(fileId);
                }
                //事件
                layer.close(index);
            },
            success: function (layero, index) {
                if('SAP' == documentType){
                    getCurrentTimeByDocumentId(fileId);
                    getVideo(fileId);
                }
            }
        });
    }

    //获取该用户上次观看此视频的截止时间
    function getCurrentTimeByDocumentId(fileId) {
        var data = {"documentId": fileId}
        $.ajax({
            url: '/system/training/getCurrentTimeByDocumentId',
            type: 'post',
            data: data,
            dataType: "JSON",
            success: function (res) {
                for (var i in res.data) {
                    playTime = res.data[i].playTime;
                }
                video = document.getElementById("myVideo");
                video.play();
                video.currentTime = playTime;
            }

        })
    }

    function getVideo(fileId) {
        video = document.getElementById("myVideo");
        video.oncanplay = function () {
            totalTime = video.duration.toFixed();
            video.addEventListener("timeupdate", function () {
                currentTimes = video.currentTime.toFixed();
                console.log(currentTimes + "=====时间点：------" + video.currentTime.toFixed());
            }, false);
            video.addEventListener('pause', function () {
                currentTimes = video.currentTime.toFixed();
                console.log(currentTimes + '------暂停点：=====' + video.currentTime.toFixed());
            })
        }
    }

    function submitTraining(fileId) {
        var data = {
            "documentId": parseInt(fileId),
            "totalTime": parseInt(totalTime),
            "playTime": parseInt(currentTimes)
        }
        $.ajax({
            url: '/system/training/add',
            type: 'post',
            data: data,
            dataType: "JSON",
            success: function (res) {
                console.log(res);
            }

        })
    }

    function jpgToPdf(url, type) {
        showImage('<img src="' + url + '" alt="x" width="400px" height="500px">');
    }

    function showImage(content) {
        layer.open({
            type: 1,
            title: false, //不显示标题栏
            shadeClose: true, //点击遮罩时关闭
            area: ['auto', 'auto'],
            shade: 0.8,
            id: 'LAY_showImage_001', //设定一个id，防止重复弹出
            moveType: 1, //拖拽模式，0或者1
            content: content
        });
    };

    function toPdf(url) {
        window.open(ctx + "common/onlinePreview?url=" + encodeURIComponent(url));
    }

    function downLoad(fileName) {
        window.location.href = ctx + "common/download/resource?resource=" + fileName + "&delete=" + true;
    }

    function add() {
        var type = $("#documentType").val();
        $.operate.add(type);
    }

    function onLoadSuccess(data) {
        for (var i in data.rows) {
            if ("N" == data.rows[i].isAdmin) {
                $.table.hideColumn("shareDeptAndUser");
            }
        }
    }

    function back() {
        var url = prefix + "/toList";
        $.modal.parentTab("文档管理", url);
    }

    function showTraining(documentId) {
        var url = '/system/training/trainingList?documentId=' + documentId;
        $.modal.opens("评论列表", url);
    }

</script>
</body>
</html>