<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新增档案入库申请')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-applyIn-add" th:object="${sysApplyIn}">
            <input name="applyType" value="0" type="hidden"/>
            <input name="realCreateBy" value="" type="hidden" id="realCreateBy">
            <div class="form-group">
                <label class="col-sm-3 control-label">档案类别：</label>
                <div class="col-sm-8">
                    <select id="documentType" onchange="changeDocumentType(this.value)" name="documentType" th:with="type=${@dict.getType('sys_document_busi_type')}"
                                        data-none-selected-text="请选择" class="form-control m-b">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                </select>
                </div>
            </div>
            <div class="form-group" id="roleTypeShow">
                <label class="col-sm-3 control-label is-required">项目所属部门名称：</label>
                <div class="col-sm-8">
                    <select name="roleType" id="roleType" onchange="changeRoleType()"
                            th:with="type=${@dict.getType('sys_doc_role')}"
                            data-none-selected-text="请选择" class="form-control m-b required">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="projectName">
                <label class="col-sm-3 control-label is-required" >项目名称：</label>
                <div class="col-sm-8">
                    <input name="projectId" id="projectIdVal" class="form-control required" type="hidden">
                    <input autocomplete="off" name="projectName" id="projectNameVal" class="form-control required" type="text" onclick="selectPro()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">公司名称：</label>
                <div class="col-sm-8">
                    <select id="companyName" name="companyName" class="form-control select2-multiple">
                        <option th:each="sysDictData:${sysDictData}" th:value="${sysDictData.dictValue}" th:text="${sysDictData.dictLabel}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="debtorName">
                <label class="col-sm-3 control-label is-required">债务人名称：</label>
                <div class="col-sm-8">
                    <input name="debtorId" id="debtorNameVal"  class="form-control" type="hidden">
                    <input autocomplete="off" name="debtorName" disabled id="debtorNameTip" class="form-control required" type="text" onclick="selectDebtor()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">实际提交人：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="hidden" name="applyUser" id="applyUser">
                    <input autocomplete="off" class="form-control" type="text" name="applyUserName" id="applyUserName" onclick="selectUser()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remarks" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group" id="saveButton">
                <div class="col-sm-11" style="text-align: right">
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="saveClick()"><i class="fa fa-save"></i> 保存</a>
                </div>
            </div>
            <div class="form-group"  id="showTable">
                <label class="col-sm-3 control-label">文件列表：</label>
                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="$.operate.addInfo()">
                        <i class="fa fa-plus"></i> 添加
                    </a>
                    <a class="btn btn-primary single" onclick="$.operate.edit()"
                       shiro:hasPermission="activity:documentFile:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-danger multiple" onclick="$.operate.removeAll()"
                       shiro:hasPermission="activity:documentFile:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>

                </div>
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js"/>
    <script type="text/javascript" th:inline="javascript">
        var documentFileTypeDictDatas = [[${@dict.getType('document_file_type')}]];
        var documentScanTypeDictDatas = [[${@dict.getType('document_scan_type')}]];
        var dailyDocumentTypeDictDatas = [[${@dict.getType('daily_document_type')}]];
        var dailyDocumentTypeDictDatasContract = [[${@dict.getType('contract_document_type')}]];
        var sysCompanyName = [[${@dict.getType('sys_company_name')}]];
        var roles = [[${@permission.getPrincipalProperty('roles')}]];
        var loginName = [[${@permission.getPrincipalProperty('loginName')}]];
        var userName = [[${@permission.getPrincipalProperty('userName')}]];
        var showNames = false;
        var documentTypeVal = document.getElementById("documentType").value;
        var prefix = ctx + "applyIn"
        var prefixDocumentFile = ctx + "documentFile";
        var ids = '';
        var roleType = document.getElementById("roleType").value;
        var optionUrl = prefix + "/editDocumentModal/";
        var showDocumentType = false;
        var showDatilDocumentType = false;
        $(function () {
            $("#showTable").hide()
            $("#applyUserName").val(userName)
            for(var i =0; i < roles.length;i++) {
                if(roles[i].roleKey == "documentAdmin" || "admin" == loginName) {
                    showNames = true
                }
            }
            if ("bg"==roleType){
                $("#debtorName").hide()
            }
            // 实际提交人 applyUser  待提交人 realCreateBy
            if($("#applyUser").val() == "") {
                $("#applyUser").val(loginName)
                $("#realCreateBy").val(loginName)
            }

            if(documentTypeVal == 0) {
                showDocumentType = true
            } else {
                showDocumentType = false
            }

            $("#companyName").select2({
                placeholder:'请选择公司',
                allowClear: true,
            })
        })

        $("#form-applyIn-add").validate({
            focusCleanup: true
        });

        function init(id) {
            console.log(id)
            var options = {
                url: prefixDocumentFile + "/listDocApp/" + id,
                updateUrl: prefixDocumentFile + "/edit/{id}",
                removeUrl: prefixDocumentFile + "/remove",
                exportUrl: prefix + "/export",
                modalName: "档案",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'documentId',
                        title: 'id',
                        visible: false
                    },
                    {
                        field: 'projectName',
                        title: '项目名称',
                        visible: showDocumentType
                    },
                    {
                        field: 'assetNumber',
                        title: '资产编号',
                        visible: showDocumentType
                    },
                    {
                        field: 'contractNo',
                        title: '合同编号',
                        visible: showDocumentType
                    },
                    {
                        field: 'companyName',
                        title: '公司名称',
                        formatter: function (value, item, index) {
                            return strLength($.table.selectDictLabel(sysCompanyName, item.companyName));
                        },
                        visible: !showDocumentType
                    },
                    {
                        field: 'dailyDocumentType',
                        title: '种类',
                        formatter: function(value, item, index) {
                            return $.table.selectDictLabel(dailyDocumentTypeDictDatas, item.dailyDocumentType);
                        },
                        visible: showDatilDocumentType
                    },
                    {
                        field: 'dailyDocumentTypeContract',
                        title: '种类',
                        formatter: function(value, item, index) {
                            return $.table.selectDictLabel(dailyDocumentTypeDictDatasContract, item.dailyDocumentTypeContract);
                        },
                        visible: !showDatilDocumentType
                    },
                    {
                        field: 'fileName',
                        title: '文件名称'
                    },
                    {
                        field: 'fileType',
                        title: '附件类型',
                        formatter: function(value, item, index) {
                            return $.table.selectDictLabel(documentFileTypeDictDatas, item.fileType);
                        }
                    },
                    {
                        field: 'fileScanType',
                        title: '扫描件类型',
                        formatter: function(value, item, index) {
                            return strLength($.table.selectDictLabel(documentScanTypeDictDatas, item.fileScanType));
                        }
                    },
                    {
                        field: 'counts',
                        title: '份数',
                        formatter: function(value, item, index) {
                            return strLength(item.counts);
                        }
                    },
                    {
                        field: 'pages',
                        title: '页数/时长',
                        formatter: function(value, item, index) {
                            return strLength(item.pages);
                        }
                    },
                    {
                        field: 'fileNames',
                        title: '附件',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            if(row.fileNames == "") {
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="addFile(\'' + row.documentId + '\')"><i class="fa fa-edit"></i>添加附件</a> ');
                            } else {
                                actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="addFile(\'' + row.documentId + '\')"><i class="fa fa-edit"></i>查看附件</a> ');
                            }
                            return actions.join('');
                        }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            /* actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.documentId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.documentId + '\')"><i class="fa fa-remove"></i>删除</a>'); */
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="$.operate.edit(\'' + row.documentId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.documentId + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
        }

        function changeRoleType(){
            roleType = document.getElementById("roleType").value;
            if ("bg"==roleType){
                $("#debtorName").hide()
            }else{
                $("#debtorName").show()
            }
            $("#projectIdVal").val("");
            $("#projectNameVal").val("");
            $("#debtorNameVal").val("");
            $("#debtorNameTip").val("");
            $("#debtorNameTip").attr("disabled", "disabled")
        }

        function saveClick(callback) {
            if ($.validate.form()) {
                    var data = $('#form-applyIn-add').serialize();
                    var url = prefix + "/add";
                    var config = {
                        url: url,
                        type: "post",
                        dataType: "json",
                        data: data,
                        beforeSend: function () {
                            $.modal.loading("正在处理中，请稍后...");
                            $.modal.disable();
                        },
                        success: function (result) {
                            if (typeof callback == "function") {
                                callback(result);
                            }
                            if (result.code == web_status.SUCCESS) {
                                $.modal.msgSuccess(result.msg);
                                $("#showTable").show();
                                $("#saveButton").hide();
                                ids = result.data.applyId;
                                optionUrl = prefix + "/editDocumentModal/" + ids;
                                init(ids)
                            } else if(result.code == web_status.WARNING) {
                                $.modal.alertWarning(result.msg)
                            } else {
                                $.modal.alertError(result.msg);
                            }
                            $.modal.closeLoading();
                            $.modal.enable();
                        }
                };
                    $.ajax(config)
            }
        }

        function submitHandler() {
            $.operate.successClose()
        }

        function changeDocumentType(val) {
            var projectName = document.getElementById("projectName")
            var debtorName = document.getElementById("debtorName")
            var roleTypeShow = document.getElementById("roleTypeShow")
            if(val === '0') {
                projectName.style.display = "block"
                debtorName.style.display = "block"
                roleTypeShow.style.display = "block"
                showDocumentType = true
            } else if(val === '1' || val === '2') {
                projectName.style.display = "none"
                debtorName.style.display = "none"
                roleTypeShow.style.display = "none"
                showDocumentType = false
                // start chenjie 21.09.09  #75
                if(val === '1') {
                    showDatilDocumentType = true
                } else {
                    showDatilDocumentType = false
                }
                // end
            } else {
                projectName.style.display = "block"
                debtorName.style.display = "block"
                roleTypeShow.style.display = "block"
                showDocumentType = false
            }
        }

        $("input[name='applyTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function strLength(value){
            var str = $.common.nullToStr(value);
            return str;
        }

        //人员树形选择器
        function selectUser() {
            var url = ctx + "system/dept/selectLeaderUser"
            $.modal.open("人员选择", url, '750', '600/2');
        }

        function selectDebtor(){
            var url = ctx + "applyIn/selectDebtor?zcbId=" + $("#projectIdVal").val()+"&roleType="+roleType;
            $.modal.open("债务人选择", url, '750', '600/2');
        }

        function selectPro(){
            var url = ctx + "applyIn/selectPro?roleType="+roleType;
            $.modal.open("项目选择", url, '750', '600/2');
        }
        function getDeviceBasics(row) {
            var userName = "";
            var loginName = "";
            for (var i = 0; i < row.length; i++) {
                userName = row[i].userName + "," + userName;
                loginName = row[i].loginName + "," + loginName;
            }
            $("#applyUser").val(loginName.substr(0, loginName.length - 1));
            $("#applyUserName").val(userName.substr(0, userName.length - 1));
            layer.close(layer.index);
        }
        function getZcdSelected(row) {
            if (roleType == "inve"){
                $("#projectIdVal").val(row[0].id);
                $("#projectNameVal").val(row[0].assetPackageName);
            }else if(roleType == "thb"){
                $("#projectIdVal").val(row[0].projectZckId);
                $("#projectNameVal").val(row[0].zckName);
            }else if(roleType == "bg"){
                $("#projectIdVal").val(row[0].id);
                $("#projectNameVal").val(row[0].projectName);
            }
            if (row.length>0){
                $("#debtorNameVal").val("");
                $("#debtorNameTip").val("");
                $("#debtorNameTip").removeAttr("disabled");
            }
            layer.close(layer.index);
        }
      /*  function getThbSelected(row) {
            $("#projectIdVal").val(row[0].projectZckId);
            $("#projectNameVal").val(row[0].zckName);
            layer.close(layer.index);
        }*/
        function getDobtSelected(row){
            if (roleType == "inve"){
                console.log("asfasfdasdasdas");
                $("#debtorNameVal").val(row[0].id);
                $("#debtorNameTip").val(row[0].projectName);
            }else if(roleType == "thb"){
                $("#debtorNameVal").val(row[0].projectId);
                $("#debtorNameTip").val(row[0].projectName);
            }

            layer.close(layer.index);
        }
        /*function getThbDebtSelected(row){
            $("#debtorNameVal").val(row[0].projectId);
            $("#debtorNameTip").val(row[0].projectName);
            layer.close(layer.index);
        }*/

        function addFile (id) {
            var detail = ctx + 'activity/fileDetail'
            var url = detail + '/detail/' + id + '/' + "no"
            $.modal.open("添加附件", url);
        }
    </script>
</body>
</html>