<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增档案出库申请')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-applyIn-add" th:object="${sysApplyIn}">
        <input name="applyType" value="1" type="hidden"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">档案类别：</label>
            <div class="col-sm-8">
                <!-- <select name="documentType" class="form-control m-b">
                    <option value="">所有</option>
                </select> -->
                <select id="documentType" onchange="changeDocumentType(this.value)" name="documentType" th:with="type=${@dict.getType('sys_document_busi_type')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="projectName">
            <label class="col-sm-3 control-label is-required" >项目名称：</label>
            <div class="col-sm-8">
                <input name="projectName" class="form-control required" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司名称：</label>
            <div class="col-sm-8">
                <select id="companyName" name="companyName"
                        th:with="type=${@dict.getType('sys_company_name')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="debtorName">
            <label class="col-sm-3 control-label">债务人名称：</label>
            <div class="col-sm-8">
                <input name="debtorName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实际提交人：</label>
            <div class="col-sm-8">
                <input name="realCreateBy" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remarks" class="form-control" type="text">
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
    var prefix = ctx + "applyIn"
    $("#form-applyIn-add").validate({
        focusCleanup: true
    });
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-applyIn-add').serialize());
        }
    }

    function changeDocumentType(val) {
        var projectName = document.getElementById("projectName")
        var debtorName = document.getElementById("debtorName")
        if(val === '0') {
            projectName.style.display = "block"
            debtorName.style.display = "block"
        } else if(val === '1') {
            projectName.style.display = "none"
            debtorName.style.display = "none"
        } else {
            projectName.style.display = "block"
            debtorName.style.display = "block"
        }
    }

    $("input[name='applyTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>