<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新增档案出库申请')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
            <input name="roleType" id="roleType" th:value="*{roleType}" type="hidden">
    <form class="form-horizontal m" id="form-applyIn-add" th:object="${sysApplyIn}">
        <input name="applyType" value="1" type="hidden"/>
<!--         待提交人-->
        <input name="realCreateBy" id="realCreateBy" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">档案类别：</label>
            <div class="col-sm-8">
                <select id="documentType" onchange="changeDocumentType(this.value)" name="documentType" th:with="type=${@dict.getType('sys_document_busi_type')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="projectName">
            <label class="col-sm-3 control-label is-required" >项目名称：</label>
            <div class="col-sm-8">
<!--                <input name="projectName" class="form-control required" required type="text">-->
                <input name="projectId" id="projectIdVal" class="form-control required" required type="hidden">
                <input autocomplete="off" name="projectName" id="projectNameVal" class="form-control required" required type="text" onclick="selectPro()">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司名称：</label>
            <div class="col-sm-8">
                <select id="companyName" name="companyName"
                        th:with="type=${@dict.getType('sys_company_name')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="debtorName">
            <label class="col-sm-3 control-label is-required">债务人名称：</label>
            <div class="col-sm-8">
<!--                <input name="debtorName" class="form-control" type="text">-->
                <input name="debtorId" id="debtorNameVal" class="form-control" type="hidden">
                <input autocomplete="off" name="debtorName" disabled id="debtorNameTip" class="form-control required" type="text" onclick="selectDebtor()">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实际提交人：</label>
            <div class="col-sm-8">
                <input class="form-control" type="hidden" name="applyUser" id="applyUser">
                <input autocomplete="off" class="form-control" type="text" name="applyUserName" id="applyUserName" onclick="selectUser()">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">是否归还：</label>
            <div class="col-sm-8">
                <select id="isReturn" name="isReturn"
                        th:with="type=${@dict.getType('sys_is_not')}"
                        data-none-selected-text="请选择" class="form-control m-b required" onchange="changeIsReturn(this.value)">
                    <option value="">请选择数据</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="isOutShow" style="display: none">
            <label class="col-sm-3 control-label">已出库：</label>
            <div class="col-sm-8">
                <select id="isOut" name="isOut"
                        th:with="type=${@dict.getType('sys_is_not')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option value="">请选择数据</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="isReceiveShow" style="display: none">
            <label class="col-sm-3 control-label">已收到：</label>
            <div class="col-sm-8">
                <select id="isReceive" name="isReceive"
                        th:with="type=${@dict.getType('sys_is_not')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option value="">请选择数据</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="isReturnedShow" style="display: none">
            <label class="col-sm-3 control-label">已还：</label>
            <div class="col-sm-8">
                <select id="isReturned" name="isReturned"
                        th:with="type=${@dict.getType('sys_is_not')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option value="">请选择数据</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="isReceivedShow" style="display: none">
            <label class="col-sm-3 control-label">归还接受：</label>
            <div class="col-sm-8">
                <select id="isReceived" name="isReceived"
                        th:with="type=${@dict.getType('sys_is_not')}"
                        data-none-selected-text="请选择" class="form-control m-b">
                    <option value="">请选择数据</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" id="planReturnTimeShow" style="display: none">
            <label class="col-sm-3 control-label is-required">计划归还时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="planReturnTime" id="planReturnTimeDate" class="form-control required" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group" id="realReturnTime" style="display: none">
            <label class="col-sm-3 control-label">实际归还时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input disabled name="realReturnTime" id="realReturnTimeDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">出库原因：</label>
            <div class="col-sm-8">
                <input name="outReason" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="remarks" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" id="saveButton">
            <div class="col-sm-11" style="text-align: right">
                <a class="btn btn-primary btn-rounded btn-sm" onclick="saveClick()"><i class="fa fa-save"></i> 保存</a>
            </div>
        </div>
        <div class="form-group"  id="showTable">
            <label class="col-sm-3 control-label">文件列表：</label>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addInfo()" shiro:hasPermission="activity:documentFile:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single" onclick="$.operate.edit()"
                   shiro:hasPermission="activity:documentFile:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple" onclick="$.operate.removeAll()"
                   shiro:hasPermission="activity:documentFile:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "applyIn";
    var docDetailUrl = ctx + "activity/outFiledetail";
    var documentTypeVal = document.getElementById("documentType").value;
    var roles = [[${@permission.getPrincipalProperty('roles')}]];
    var loginName = [[${@permission.getPrincipalProperty('loginName')}]];
    var userName = [[${@permission.getPrincipalProperty('userName')}]];
    var documentFileTypeDictDatas = [[${@dict.getType('document_file_type')}]];
    var documentScanTypeDictDatas = [[${@dict.getType('document_scan_type')}]];
    var dailyDocumentTypeDictDatas = [[${@dict.getType('daily_document_type')}]];
    var dailyDocumentTypeDictDatasContract = [[${@dict.getType('contract_document_type')}]]
    var sysCompanyName = [[${@dict.getType('sys_company_name')}]];
    var isElecDatas = [[${@dict.getType('sys_borrow_type')}]];
    var isReturnDatas = [[${@dict.getType('sys_is_not')}]];
    var deptId = [[${@permission.getPrincipalProperty('deptId')}]];
    var isReturn = document.getElementById("isReturn").value;
    var showNames = false;
    var ids = '';
    var optionUrl = prefix + "/editOutList/";
    var roleType = document.getElementById("roleType").value;
    var showDocumentType = false;
    var showDatilDocumentType = false;

    $(function (){
        $("#showTable").hide()
        $("#applyUserName").val(userName)
        // 管理员与档案管理员
        for(var i =0; i < roles.length;i++) {
            if(roles[i].roleKey == "documentAdmin" || "admin" == loginName) {
                showNames = true
            }
        }
        if ("bg"==roleType){
            $("#debtorName").hide()
        }

        // 实际提交人 applyUser  待提交人 realCreateBy
        if($("#applyUser").val() == "") {
            $("#applyUser").val(loginName)
            $("#realCreateBy").val(loginName)
        }

        if(documentTypeVal == 0) {
            showDocumentType = true
        } else {
            showDocumentType = false
        }
    })

    $("#form-applyIn-add").validate({
        focusCleanup: true
    });

    function init(id) {
        console.log(id)
        var options = {
            // url: 档案出库获取的list
            url: docDetailUrl + "/listDocumentAndDetail/" + id,
            // createUrl: prefix + "/editOutList/" + applyIds,
            updateUrl: prefix + "/editOutUpdate/{id}",
            removeUrl: docDetailUrl + "/remove",
            exportUrl: prefix + "/export",
            modalName: "档案出库详情记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'outDetailId',
                    title: 'id',
                    visible: false
                },
                // {
                //     field: 'applyId',
                //     title: '申请id'
                // },
                // {
                //     field: 'documentId',
                //     title: '档案id'
                // },
                // {
                //     field: 'documentType',
                //     title: '档案种类',
                //     formatter: function(value, item, index) {
                //         return $.table.selectDictLabel(documentTypeDictDatas, item.documentType);
                //     }
                // },
                {
                    field: 'projectName',
                    title: '项目名称',
                    visible: showDocumentType
                },
                {
                    field: 'assetNumber',
                    title: '资产编号',
                    visible: showDocumentType
                },
                {
                    field: 'contractNo',
                    title: '合同编号',
                    visible: showDocumentType
                },
                {
                    field: 'companyName',
                    title: '公司名称',
                    // formatter: function (value, item, index) {
                    //     return $.table.selectDictLabel(sysCompanyName, item.companyName);
                    // },
                    visible: !showDocumentType
                },
                {
                    field: 'dailyDocumentType',
                    title: '档案种类',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(dailyDocumentTypeDictDatas, item.dailyDocumentType);
                    },
                    visible: showDatilDocumentType
                },
                {
                    field: 'dailyDocumentTypeContract',
                    title: '档案种类',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(dailyDocumentTypeDictDatasContract, item.dailyDocumentTypeContract);
                    },
                    visible: !showDatilDocumentType
                },
                {
                    field: 'fileName',
                    title: '文件名称'
                },
                {
                    field: 'fileType',
                    title: '附件类型',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(documentFileTypeDictDatas, item.fileType);
                    }
                },
                {
                    field: 'fileScanType',
                    title: '扫描件类型',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(documentScanTypeDictDatas, item.fileScanType);
                    }
                },
                {
                    field: 'counts',
                    title: '份数'
                },
                {
                    field: 'pages',
                    title: '页数/时长'
                },
                // {
                //     field: 'documentStatu',
                //     title: '档案状态',
                //     visible: showNames
                // },
                // {
                //     field: 'cabinetNo',
                //     title: '柜号',
                //     visible: showNames
                // },
                // {
                //     field: 'bagNo',
                //     title: '档案袋编号',
                //     visible: showNames
                // },
                // {
                //     field: 'documentGetType',
                //     title: '档案类型',
                //     visible: showNames
                // },
                // {
                //     field: 'fileGetType',
                //     title: '文件类型',
                //     visible: showNames
                // },
                // {
                //     field: 'documentLevel',
                //     title: '档案级别',
                //     visible: showNames
                // },
                {
                    field: 'files',
                    title: '添加附件',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="addFile(\'' + row.documentId + '\')"><i class="fa fa-search"></i>查看附件</a> ');
                        return actions.join('');
                    }
                },
                /*{
                    field: 'isPage',
                    title: '借出是否包含字纸',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(isPageDatas, value);
                    }
                },*/
                {
                    field: 'isElec',
                    title: '借出文档类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(isElecDatas, value);
                    }
                },
                // {
                //     field: 'isReturn',
                //     title: '是否归还',
                //     formatter: function(value, row, index) {
                //         return $.table.selectDictLabel(isReturnDatas, value);
                //     }
                // },
                // {
                //     field: 'planReturnTime',
                //     title: '计划归还时间',
                // },
                // {
                //     field: 'realReturnTime',
                //     title: '实际归还时间',
                // },
                // {
                //     field: 'outReason',
                //     title: '出库原因'
                // },
                // {
                //     field: 'isOut',
                //     title: '已出库',
                //     formatter: function(value, row, index) {
                //         return $.table.selectDictLabel(isOutDatas, value);
                //     }
                // },
                // {
                //     field: 'isReceive',
                //     title: '已收到',
                //     formatter: function(value, row, index) {
                //         return $.table.selectDictLabel(isReceiveDatas, value);
                //     }
                // },
                // {
                //     field: 'isReturned',
                //     title: '是否已还',
                //     formatter: function(value, row, index) {
                //         return $.table.selectDictLabel(isReturnedDatas, value);
                //     }
                // },
                // {
                //     field: 'isReceived',
                //     title: '归还接受',
                //     formatter: function(value, row, index) {
                //         return $.table.selectDictLabel(isReceivedDatas, value);
                //     }
                // },
                // {
                //     field: 'remarks',
                //     title: '备注'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        /* actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.outDetailId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.outDetailId + '\')"><i class="fa fa-remove"></i>删除</a>'); */
                            actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="$.operate.edit(\'' + row.outDetailId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs " href="javascript:void(0)" onclick="$.operate.remove(\'' + row.outDetailId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function saveClick(callback) {
        if ($.validate.form()) {
            var data = $('#form-applyIn-add').serialize();
            var url = prefix + "/add";
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                    $.modal.disable();
                },
                success: function (result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess(result.msg);
                        $("#showTable").show();
                        $("#saveButton").hide();
                        ids = result.data.applyId;
                        optionUrl = prefix + "/editOutList/" + ids;
                        init(ids)
                    } else if(result.code == web_status.WARNING) {
                        $.modal.alertWarning(result.msg)
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                    $.modal.enable();
                }
            };
            $.ajax(config)
        }
    }
    function submitHandler() {
        if ($.validate.form()) {
            // $.operate.save(prefix + "/add");
            $.operate.successCallbackClose();
        }
    }

    function addFile (id) {
        var detail = ctx + 'activity/fileDetail'
        var url = detail + '/docDetail/' + id;
        $.modal.open("添加附件", url);
    }

    function selectDebtor(){
        var proId = $("#projectIdVal").val();
        if (proId == undefined || proId == ""){
            $.modal.alertError("请先选择项目名称");
        }
        var url = ctx + "applyIn/selectDebtor?zcbId=" + $("#projectIdVal").val()+"&roleType="+roleType;
        $.modal.open("债务人选择", url, '750', '600/2');
    }

    function selectPro(){
        var realCreate = $("#applyUser").val();
        if(realCreate ==undefined || realCreate ==""){
            if (roleType == undefined || roleType == ""){
                $.modal.alertError("无可选择项目");
            }else{
                var url = ctx + "applyIn/selectPro?roleType="+roleType;
                $.modal.open("项目选择", url, '750', '600/2');
            }
        }else{
            $.ajax({
                url: prefix + '/getRoleType',
                data: {'applyUser': realCreate},
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    if (result.code == web_status.SUCCESS) {
                        roleType = result.msg;
                        var url = ctx + "applyIn/selectPro?roleType="+roleType;
                        $.modal.open("项目选择", url, '750', '600/2');
                    } else {
                        $.modal.alertError(result.msg);
                    }
                }
            })
        }

    }
    function getZcdSelected(row) {
        if (roleType == "inve"){
            $("#projectIdVal").val(row[0].id);
            $("#projectNameVal").val(row[0].assetPackageName);
        }else if(roleType == "thb"){
            $("#projectIdVal").val(row[0].projectZckId);
            $("#projectNameVal").val(row[0].zckName);
        }else if(roleType == "bg"){
            $("#projectIdVal").val(row[0].id);
            $("#projectNameVal").val(row[0].projectName);
        }
        if (row.length>0){
            $("#debtorNameVal").val("");
            $("#debtorNameTip").val("");
            $("#debtorNameTip").removeAttr("disabled");
        }
        layer.close(layer.index);
    }
    /*  function getThbSelected(row) {
          $("#projectIdVal").val(row[0].projectZckId);
          $("#projectNameVal").val(row[0].zckName);
          layer.close(layer.index);
      }*/
    function getDobtSelected(row){
        if (roleType == "inve"){
            $("#debtorNameVal").val(row[0].id);
            $("#debtorNameTip").val(row[0].projectName);
        }else if(roleType == "thb"){
            $("#debtorNameVal").val(row[0].projectId);
            $("#debtorNameTip").val(row[0].projectName);
        }

        layer.close(layer.index);
    }

    function changeDocumentType(val) {
        var projectName = document.getElementById("projectName")
        var debtorName = document.getElementById("debtorName")
        if(val === '0') {
            projectName.style.display = "block"
            debtorName.style.display = "block"
            showDocumentType = true
        } else if(val === '1' || val === '2') {
            projectName.style.display = "none"
            debtorName.style.display = "none"
            showDocumentType = false
            // start chenjie 21.09.09  #75
            if(val === '1') {
                showDatilDocumentType = true
            } else {
                showDatilDocumentType = false
            }
            // end
        } else {
            projectName.style.display = "block"
            debtorName.style.display = "block"
            showDocumentType = false
        }
    }

    $("input[name='applyTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    //计划归还时间
    $("input[name='planReturnTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    // 实际归还时间
    $("input[name='realReturnTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
    // 是否归还
    function changeIsReturn(val) {
        if(val == "0") {
            $("#realReturnTime").show()
            $("#planReturnTimeShow").show()
        } else if (val == "1") {
            $("#realReturnTime").hide()
            $("#planReturnTimeShow").hide()
        } else {
            $("#realReturnTime").hide()
            $("#planReturnTimeShow").hide()
        }
    }


    //人员树形选择器
    function selectUser() {
        var url = ctx + "system/dept/selectLeaderDepUser?userId=" + $("#applyUser").val() + "&userName=" + $("#applyUserName").val() + "&deptId=" + deptId;
        $.modal.open("人员选择", url, '750', '600/2');
    }
    function getDeviceBasics(row) {
        var userName = "";
        var loginName = "";
        for (var i = 0; i < row.length; i++) {
            userName = row[i].userName + "," + userName;
            loginName = row[i].loginName + "," + loginName;
        }
        $("#applyUser").val(loginName.substr(0, loginName.length - 1));
        $("#applyUserName").val(userName.substr(0, userName.length - 1));
        layer.close(layer.index);
    }
</script>
</body>
</html>