<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('档案列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <input name="applyId" id="applyId" th:value="*{applyId}" type="hidden">
            <form id="formId" th:object="${sysApplyIn}" enctype="multipart/form-data">
                <input name="documentType" id="documentType" th:field="*{documentType}" type="hidden">
                <input name="companyName" id="companyName" th:field="*{companyName}" type="hidden">
                <input name="projectName" id="projectName" th:field="*{projectName}" type="hidden">
                <input name="debtorName" id="debtorName" th:field="*{debtorName}" type="hidden">
                <div class="select-list">
                    <ul>
                        <li id="assetNumber">
                            <label>资产编号：</label>
                            <input type="text" name="assetNumber"/>
                        </li>
                        <li id="dailyDocumentType">
                            <label>种类：</label>
                            <select id="dailyDocumentTypeSelect" name="dailyDocumentType"
                                    th:with="type=${@dict.getType('daily_document_type')}"
                                    data-none-selected-text="请选择">
                                <option value="">请选择</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                            <select id="dailyDocumentTypeSelectContract" name="dailyDocumentTypeContract"
                                    th:with="type=${@dict.getType('contract_document_type')}"
                                    data-none-selected-text="请选择">
                                <option value="">请选择</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>附件类型：</label>
                            <select id="fileType" name="fileType"
                                    th:with="type=${@dict.getType('document_file_type')}"
                                    data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>文件名称：</label>
                            <input type="text" name="fileName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var documentTypeDictDatas = [[${@dict.getType('sys_document_busi_type')}]];
    var documentFileTypeDictDatas = [[${@dict.getType('document_file_type')}]];
    var documentScanTypeDictDatas = [[${@dict.getType('document_scan_type')}]];
    var dailyDocumentTypeDictDatas = [[${@dict.getType('daily_document_type')}]];
    var dailyDocumentTypeDictDatasContract = [[${@dict.getType('contract_document_type')}]];
    var companyNameDictDatas = [[${@dict.getType('sys_company_name')}]];
    var roles = [[${@permission.getPrincipalProperty('roles')}]];
    var loginName = [[${@permission.getPrincipalProperty('loginName')}]];
    var prefix = ctx + "documentFile";
    var docDetailIds = ctx + "activity/outFiledetail"
    var applyId = document.getElementById("applyId").value
    var showNames = false
    var documentType = document.getElementById("documentType").value;
    var showDatilDocumentType = false;
    changeDocumentType(documentType);

    $(function () {
        for (var i = 0; i < roles.length; i++) {
            if (roles[i].roleKey == "documentAdmin" || "admin" == loginName) {
                showNames = true
            }
        }
        // chenjie 21.9.10
        if (documentType == 1) {
            $('#dailyDocumentTypeSelectContract').hide()
            showDatilDocumentType = true
        } else {
            $('#dailyDocumentTypeSelect').hide()
            showDatilDocumentType = false
        }
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            singleSelect: false,
            modalName: "档案",
            columns: [{
                checkbox: true
            },
                {
                    field: 'documentId',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'debtorName',
                    title: '债务人名称',
                    formatter: function (value, item, index) {
                        return $.table.tooltip(item.debtorName, 10);
                    }
                },
                {
                    field: 'companyName',
                    title: '公司名称',
                    formatter: function (value, item, index) {
                        return $.table.tooltip(getDictStr($.table.selectDictLabel(companyNameDictDatas, item.companyName)), 10);
                    }
                },
                {
                    field: 'projectName',
                    title: '项目名称',
                    formatter: function (value, item, index) {
                        return $.table.tooltip(item.projectName, 10);
                    }
                },
                {
                    field: 'documentType',
                    title: '档案类别',// chenjie 21.9.10 title 档案种类-》档案类别
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(documentTypeDictDatas, item.documentType);
                    }
                },
                {
                    field: 'assetNumber',
                    title: '资产编号',
                    formatter: function (value, item, index) {
                        return $.table.tooltip(item.assetNumber, 10);
                    }
                },
                {
                    field: 'contractNo',
                    title: '合同编号',
                    formatter: function (value, item, index) {
                        return $.table.tooltip(item.contractNo, 10);
                    }
                },
                {
                    field: 'dailyDocumentType',
                    title: '种类', // chenjie 21.9.10 title 档案类型-》种类
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(dailyDocumentTypeDictDatas, item.dailyDocumentType);
                    },
                    visible: documentType == "0" ? false : true && showDatilDocumentType
                },
                {
                    field: 'dailyDocumentTypeContract',
                    title: '种类', // chenjie 21.9.10 title 档案类型-》种类
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(dailyDocumentTypeDictDatasContract, item.dailyDocumentTypeContract);
                    },
                    visible: documentType == "0" ? false : true && !showDatilDocumentType
                },
                {
                    field: 'fileName',
                    title: '文件名称',
                    formatter: function (value, item, index) {
                        return $.table.tooltip(item.fileName, 10);
                    }
                },
                {
                    field: 'fileType',
                    title: '附件类型',
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(documentFileTypeDictDatas, item.fileType);
                    }
                },
                {
                    field: 'fileScanType',
                    title: '扫描件类型',
                    formatter: function (value, item, index) {
                        return $.table.tooltip(getDictStr($.table.selectDictLabel(documentScanTypeDictDatas, item.fileScanType)), 10);
                    }
                },
                {
                    field: 'counts',
                    title: '份数'
                },
                {
                    field: 'pages',
                    title: '页数'
                },
                {
                    field: 'remarks',
                    title: '备注'
                },
            ]
        };
        $.table.init(options);
    });

    function getDictStr(value) {
        return value.slice(15, value.length - 7);
    }

    function submitHandler() {
        var rows = selectRows();
        if (rows == "") {
            $.modal.alertWarning("请至少选择一条记录");
            return
        }
        var ids = ShowTheObject(rows);
        $.ajax({
            url: docDetailIds + "/addDocDetailIds",
            data: {
                ids: ids,
                applyId: applyId
            },
            type: "post",
            dataType: "json",
            success: function (result) {
                $.operate.successCallback(result);
            }
        })
    }

    function selectRows() {
        //获取当前选中的值
        let rows = $.map($("#bootstrap-table").bootstrapTable('getSelections'), function (row) {
            return row;
        });
        //如果设置了记住选中数据
        if ($.common.isNotEmpty(table.options.rememberSelected) && table.options.rememberSelected) {
            let selectedRows = table.rememberSelecteds[table.options.id];
            if ($.common.isNotEmpty(selectedRows)) {
                rows = $.map(table.rememberSelecteds[table.options.id], function (row) {
                    return row;
                });
            }
        }
        //去重
        return uniqueFnByRows(rows);
    }

    function uniqueFnByRows(array) {
        var result = [];
        var hashObj = {};
        for (var i = 0; i < array.length; i++) {
            if (!hashObj[array[i].documentId]) {//参数id为主键，请根据自己的情况进行修改
                hashObj[array[i].documentId] = true;
                result.push(array[i]);
            }
        }
        return result;
    }

    function ShowTheObject(obj) {
        var des = "";
        for (var i in obj) {
            des += obj[i].documentId + ",";
        }
        return des;
    }

    function changeDocumentType(val) {
        // var assetPag = document.getElementById("assetPag")
        var assetNumber = document.getElementById("assetNumber")
        // var contractNo = document.getElementById("contractNo")
        var dailyDocumentType = document.getElementById("dailyDocumentType")
        if (val === '0') {
            // assetPag.style.display = "block"
            assetNumber.style.display = "block"
            // contractNo.style.display = "block"
            dailyDocumentType.style.display = "none"
        } else if (val === '1' || val === '2') {
            // assetPag.style.display = "none"
            assetNumber.style.display = "none"
            // contractNo.style.display = "none"
            dailyDocumentType.style.display = "block"
        } else {
            // assetPag.style.display = "block"
            assetNumber.style.display = "block"
            // contractNo.style.display = "block"
            dailyDocumentType.style.display = "none"
        }
    }
</script>
</body>
</html>