<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('备注')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-applyIn-add">
        <input name="applyType" value="0" type="hidden"/>
        <input name="applyId" id="applyId" th:value="*{applyId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input id="textReject" name="realCreateBy" class="form-control" type="textarea">
<!--                <textarea id="textReject" class="form-control" style="width:90%; height:100%; max-width: 100%; max-height: 100%; min-height: 100px"/>-->
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
    var prefix = ctx + "applyIn"
    $("#form-applyIn-add").validate({
        focusCleanup: true
    });
    function submitHandler() {
        if ($.validate.form()) {
            var docId = document.getElementById("form-applyIn-add");
            var formData = new FormData(docId);
            var rejectmak = formData.get("realCreateBy");
            var id = document.getElementById("applyId").value;
            var data = {"applyId": id, "approveStatu": "2","applyType": "0","remarks": rejectmak}
            $.ajax({
                url: prefix + "/applyEditSave",
                data: data,
                type: "post",
                dataType: "json",
                success: function(result) {
                    $.modal.confirm("确认要驳回本条数据吗?", function () {
                        $.operate.successCallback(result);
                    })
                }
            })
        }
    }

    $("input[name='applyTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>