<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增重组并购项目信息库')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-bgczzck-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">项目名称：</label>
            <div class="col-sm-8">
                <input name="projectName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目状态：</label>
            <div class="col-sm-8">
                <input name="projectStatus" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">序号：</label>
            <div class="col-sm-8">
                <input name="no" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">SPV名称：</label>
            <div class="col-sm-8">
                <input name="spvName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">城市/地区：</label>
            <div class="col-sm-8">
                <input name="city" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同本金：</label>
            <div class="col-sm-8">
                <input name="contractPrincipal" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本金余额：</label>
            <div class="col-sm-8">
                <input name="principalBalance" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">利息余额：</label>
            <div class="col-sm-8">
                <input name="interestBalance" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本息余额：</label>
            <div class="col-sm-8">
                <input name="principalInterestBalance" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">本息计算基准日：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="bxjsDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">付息周期：</label>
            <div class="col-sm-8">
                <input name="interestPaymentCycle" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">付息日：</label>
            <div class="col-sm-8">
                <input name="interestPaymentDate" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">融资方：</label>
            <div class="col-sm-8">
                <input name="finalParty" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">融资协议编号：</label>
            <div class="col-sm-8">
                <textarea name="finalAgreementNo" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">融资期限：</label>
            <div class="col-sm-8">
                <textarea name="finalTerm" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">协议名称：</label>
            <div class="col-sm-8">
                <select name="agreementName" class="form-control m-b" th:with="type=${@dict.getType('sys_bgzc_xymc')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">投前签署协议编号：</label>
            <div class="col-sm-8">
                <input name="agreementNo" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">行业：</label>
            <div class="col-sm-8">
                <input name="indestry" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">投资人名称：</label>
            <div class="col-sm-8">
                <input name="investorName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经营情况：</label>
            <div class="col-sm-8">
                <textarea name="operation" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">法律进度：</label>
            <div class="col-sm-8">
                <textarea name="legalProgress" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">相关手续办理进度：</label>
            <div class="col-sm-8">
                <textarea name="xgsxbljd" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目状态备注：</label>
            <div class="col-sm-8">
                <input name="projectStatusComments" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">证照类型：</label>
            <div class="col-sm-8">
                <select name="licenseType" class="form-control m-b" th:with="type=${@dict.getType('sys_bgzc_zzlx')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">证照编号：</label>
            <div class="col-sm-8">
                <input name="licenseNo" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">取得时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="acquisitionTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">证照信息：</label>
            <div class="col-sm-8">
                <textarea name="licenseInformation" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目取得证照备注：</label>
            <div class="col-sm-8">
                <input name="projectRemark" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">土地性质：</label>
            <div class="col-sm-8">
                <select name="natureLand" class="form-control m-b" th:with="type=${@dict.getType('sys_zcb_tdxz')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">剩余使用年限：</label>
            <div class="col-sm-8">
                <input name="sysynx" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">土地基本信息容积率：</label>
            <div class="col-sm-8">
                <input name="tdPlotRatio" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">获得方式：</label>
            <div class="col-sm-8">
                <select name="access" class="form-control m-b" th:with="type=${@dict.getType('sys_zcb_hdfs')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同概要：</label>
            <div class="col-sm-8">
                <input name="contractSummary" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同金额：</label>
            <div class="col-sm-8">
                <input name="contractAmount" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目运行中协议编号：</label>
            <div class="col-sm-8">
                <input name="projectYxzName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目运行中编号：</label>
            <div class="col-sm-8">
                <input name="projectYxzNo" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">土地面积/㎡：</label>
            <div class="col-sm-8">
                <input name="landArea" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">规划信息容积率：</label>
            <div class="col-sm-8">
                <input name="ghPlotRatio" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">建筑密度：</label>
            <div class="col-sm-8">
                <input name="buildDensity" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">绿化面积：</label>
            <div class="col-sm-8">
                <input name="afforestedArea" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商业占比：</label>
            <div class="col-sm-8">
                <input name="businessShare" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">规划建筑面积：</label>
            <div class="col-sm-8">
                <input name="planBuildArea" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">土地单价(元/亩)：</label>
            <div class="col-sm-8">
                <input name="landUnitPrice" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">建筑估值：</label>
            <div class="col-sm-8">
                <input name="buildValuation" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">土地总价：</label>
            <div class="col-sm-8">
                <input name="landTotalPrice" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">其它附属物：</label>
            <div class="col-sm-8">
                <input name="otherAppurtenance" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">估值依据：</label>
            <div class="col-sm-8">
                <textarea name="valuationBasis" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">总价：</label>
            <div class="col-sm-8">
                <input name="totalPrice" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目估值备注：</label>
            <div class="col-sm-8">
                <input name="projectValuationRemarks" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">回现资金或退出资金进度：</label>
            <div class="col-sm-8">
                <textarea name="cashBack" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">回现金额：</label>
            <div class="col-sm-8">
                <input name="cashBackAmount" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">还款能力分析：</label>
            <div class="col-sm-8">
                <select name="repaymentCapacity" class="form-control m-b" th:with="type=${@dict.getType('sys_bgcz_hknl')}">
                    <option value="">--请选择一条数据--</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">后期项目建议：</label>
            <div class="col-sm-8">
                <input name="laterProject" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">退出计划备注：</label>
            <div class="col-sm-8">
                <input name="laterProjectRemark" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/bgczzck"
    $("#form-bgczzck-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-bgczzck-add').serialize());
        }
    }

    $("input[name='bxjsDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='acquisitionTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

</script>
</body>
</html>