<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('重组并购项目信息库列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:bgczzck:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:bgczzck:remove')}]];
        var detailFlag = [[${@permission.hasPermi('system:bgczzck:detail')}]];
        var prefix = ctx + "system/bgczzck";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                detailUrl: prefix + "/detail/{id}",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
                modalName: "重组并购项目信息库",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'projectStatus', 
                    title: '项目状态',
                    formatter: function(value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.projectStatus + '\')">' + value + '</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        /*资产库列表-详细*/
        function detail(projectStatus) {
            var url = prefix + '/selectByProjectStatus/' + projectStatus;
            $.modal.openTab(projectStatus+"列表", url);

        }
    </script>
</body>
</html>