<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预约列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>购买人名称：</label>
                                <input type="text" name="buyerName"/>
                            </li>
                            <li class="select-time">
                                <label>预约时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginReservationTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endReservationTime]"/>
                            </li>
                            <li>
                                <label>二维码创建人id：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>购买人身份证号：</label>
                                <input type="text" name="buyerIdCard"/>
                            </li>
                            <li>
                                <label>购买人手机号：</label>
                                <input type="text" name="buyerPhone"/>
                            </li>
                            <li>
                                <label>房号：</label>
                                <input type="text" name="roomNumber"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:reservation:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:reservation:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:reservation:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-success" onclick="getWxCode()" >
                    <i class="fa fa-plus"></i> 生成个人二维码
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:reservation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:reservation:remove')}]];
        var prefix = ctx + "system/reservation";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "预约",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'reservationId',
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'buyerName',
                    title: '购买人名称'
                },
                {
                    field: 'reservationTime',
                    title: '预约时间'
                },
                {
                    field: 'userId',
                    title: '二维码创建人id'
                },
                {
                    field: 'buyerIdCard',
                    title: '购买人身份证号'
                },
                {
                    field: 'buyerPhone',
                    title: '购买人手机号'
                },
                {
                    field: 'roomNumber',
                    title: '房号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.reservationId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.reservationId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function getWxCode(trainId){
            var url = prefix + "/code";
            $.modal.opens("会议二维码", url, '280', '377');
        }
    </script>
</body>
</html>