<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('流转服务费列表')"/>
    <th:block th:include="include :: bootstrap-editable-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <input type="hidden" name="projectManagementId" id="projectManagementId"
                               th:value="*{projectManagementId}"/>
                        <input type="hidden" name="fundType" id="fundType" th:value="*{fundType}"/>
                        <input type="hidden" id="isCharge" th:value="*{isCharge}"/>

                        <!--<li>
                            <label>主表ID：</label>
                            <input type="text" name="projectManagementId"/>
                        </li>
                        <li class="select-time">
                            <label>时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginPaidDate]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endPaidDate]"/>
                        </li>
                        <li>
                            <label>金额：</label>
                            <input type="text" name="amountPaid"/>
                        </li>-->
                        <!--<li>
                            <label>资金类型：</label>
                            <select name="fundType">
                                <option value="">所有</option>
                                <option value="-1">代码生成请选择字典属性</option>
                            </select>
                        </li>-->
                        <!--<li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>-->
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-success" onclick="add()" shiro:hasPermission="system:charge:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:charge:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:charge:remove">
                <i class="fa fa-remove"></i> 删除
            </a>-->
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:charge:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:charge:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:charge:remove')}]];
    var prefix = ctx + "system/charge";

    $(function () {
        var isCharge = $("#isCharge").val();
        if ($.common.isNotEmpty(isCharge)) {
            if ("Y" == isCharge) {
                $("#toolbar").hide();
            }
        }
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "流转服务费",
            sortName: 'paidDate',
            sortOrder: 'desc',
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    title: '序号',
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'projectManagementId',
                    title: '主表ID',
                    visible: false
                },
                {
                    field: 'fundType',
                    title: '资金类型'
                },
                {
                    field: 'amountPaid',
                    title: '金额',
                    formatter: function (value, row, index) {
                        return $.operate.numberFormatter(value);
                    }
                },
                {
                    field: 'paidDate',
                    title: '时间'
                },
                {
                    title: '附件上传情况',
                    formatter: function (value, row, index) {
                        return imgFlag(row);
                        // return '<a href="javascript:void(0)" onclick="imgUrl(\'' + row.id + '\')">附件上传查看</a>';
                    }
                },
                {
                    field: 'remarks',
                    title: '备注',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 20);
                    }
                },
                {
                    field: 'finance',
                    title: '财务确认意见',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 20);
                    }
                }]
        };
        $.table.init(options);
    });

    function imgFlag(row) {
        if (true == row.imgFlag) {
            return '<a href="javascript:void(0)" onclick="imgUrl(\'' + row.id + '\')">已上传附件</a>';
        } else {
            return '<a href="javascript:void(0)" onclick="imgUrl(\'' + row.id + '\')">未上传附件</a>';
        }
    }

    function add() {
        var projectManagementId = $("#projectManagementId").val();
        $.operate.add(projectManagementId);
    }

    function imgUrl(id) {
        var isCharge = $("#isCharge").val();
        var url = prefix + '/imgUrl1/' + id + "/" + isCharge;
        $.modal.opens("附件上传情况查看", url);
    }

    function statusTools(row) {
        if (row.state == "否") {
            return '<i class=\"fa fa-toggle-off\" style="font-size: 200%" onclick="enable(\'' + row.id + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info\" style="font-size: 200%" onclick="disable(\'' + row.id + '\')"></i> ';
        }
    }

    /* 财务是否确认-是 */
    function disable(id) {
        $.modal.confirm("确认未收到该条款项吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": id, "state": "否"});
        })
    }

    /* 财务是否确认-是 */
    function enable(id) {
        $.modal.confirm("确认收到该条款项吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": id, "state": "是"});
        })
    }
</script>
</body>
</html>