<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改用户头像')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <style>
        .krajee-default.file-preview-frame .kv-file-content {
            width: 213px;
            height: 100%;
        }
        .file-preview-image{
            max-height:90%;
            max-width: 90%;
        }
    </style>
</head>
<body class="white-bg">
<div class="container" align="center">
    <input id="input-id" type="file" data-show-caption="true" disabled="true">
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: base64-js"/>
<script type="text/javascript">
    var id = '[[${sysCoverCharge.id}]]';

    $(function () {
        $.ajax({
            type: "post",
            url: ctx + "system/charge/imgUrlList/" + id,
            dataType: "json",
            success: function (data) {
                layer.msg('操作成功！');
                showPhotos(data.data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.msg('操作失败！');
            }
        });
    });


    function showPhotos(djson) {
        //后台返回json字符串转换为json对象
        var reData = eval(djson);
        // 预览图片json数据组
        var preList = new Array();
        if ($.common.isNotEmpty(reData)) {
            for (var i = 0; i < reData.length; i++) {
                var array_element = reData[i];
                // 此处指针对.txt判断，其余自行添加
                if (array_element.substring(array_element.lastIndexOf("/") + 1).indexOf("txt") > 0) {
                    // 非图片类型的展示
                    preList[i] = "<div class='file-preview-other-frame'><div class='file-preview-other'><span class='file-icon-4x'><i class='fa fa-file-text-o text-info'></i></span></div></div>"
                } else {
                    // 图片类型
                    preList[i] = "<img src=\"" + array_element + "\" class=\"file-preview-image\">";
                }

            }
        }
        var previewJson = preList;
        // 与上面 预览图片json数据组 对应的config数据
        var preConfigList = new Array();
        if ($.common.isNotEmpty(reData)) {
            for (var i = 0; i < reData.length; i++) {
                var array_element = reData[i];
                var tjson = {
                    caption: array_element.substring(array_element.lastIndexOf("/") + 1), // 展示的文件名
                    width: '100%',
                    height: '100%',
                    url: ctx + 'system/charge/removeImg/' + id + '/' + array_element.substring(array_element.lastIndexOf("/") + 1), // 删除url
                    key: id, // 删除是Ajax向后台传递的参数
                    extra: ''
                };
                preConfigList[i] = tjson;
            }
        }

        // 具体参数自行查询
        $('#input-id').fileinput({
            language: 'zh', //设置语言
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            validateInitialCount: false,
            initialPreview: previewJson,
            initialPreviewConfig: preConfigList,
            allowedPreviewTypes: ['images'],
            //uploadUrl: ctx + "system/charge/updateImgUrl/" + id, //上传的地址
            uploadAsync: false, //默认异步上传
            showUpload: false, //是否显示上传按钮
            showRemove: false, //显示移除按钮
            showPreview: true, //是否显示预览
            showCaption: true,//是否显示标题
            autoReplace: false,
            browseClass: "btn btn-primary", //按钮样式
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 5, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            previewFileIconSettings: {
                'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                'sql': '<i class="fa fa-file-word-o text-primary"></i>',
            }
        });
    };


</script>
</body>
</html>
